[2018-07-31 09:06] piyush-goel19 commented on #482
Hi dannyrb

Thanks for replying. As per ur request I'd like to clarify more upon what I need.

Replying to "I'd be curious to hear what you're trying to trigger after the tool has been placed. There might be an easier approach given the current setup. It may be worth adding an event that triggers when multi-step tools have been placed, but it sounds like you need the event to fire when the annotat

[2018-07-31 15:50] freund17 opened #505 "Cancel mouse-tool-interaction when getting deactivated"
### Prerequisites

* [x] Are you running the latest version?
* [x] Are you reporting to the correct repository?
* [x] Did you perform a cursory search?

For more information, see the `CONTRIBUTING` guide.

### Description

Say, for example, I activated the WWWC-tool for the left mouse-button:
[code]

I start dragging the mouse... (Everything working as expected.)
Now, *while I am still dragging*,

[2018-07-31 20:08] vdemario opened #507 "How to get coordinates of rectangle roi"
This is a question instead of a real issue, I apologize if this isn't the right place.

I'd like to get the (x,y) coordinates of the points that define a rectangle roi drawn by the user. At first I won't do anything specific with it, just submit it to the backend for persisting in a database.

I've searched through the wiki, the website and the source code of the examples but I can't figure out ho

[2018-08-02 02:16] therladbsgh commented on #507
You can fetch the points through [getToolState(element, "rectangleRoi").](https://github.com/cornerstonejs/cornerstoneTools/wiki/DataManagement)

[Here's an example where I call the function when the image is rendered.](https://codesandbox.io/s/912rrrqpq4)

[2018-08-02 13:11] the-kenny opened #515 "Provide option to disable brush tool's imageLayer-Copying"
`cornerstoneTools.brush` started copying image shown at the time of activation to a separate layer that's entirely managed by `brush` in bbc329198ac81a5fff618b13e6cffacea2527229 ([relevant lines](https://github.com/cornerstonejs/cornerstoneTools/blob/master/src/paintingTools/brushTool.js#L268-L271))

This leads to issues with stacks where activating the `brush` tool and then switching to other ima

[2018-08-02 13:30] the-kenny commented on #515
@dannyrb Thanks! Looking forward to it :-)

[2018-08-02 19:44] vdemario commented on #507
Thank you very much @therladbsgh, it worked perfectly.

[2018-08-02 19:44] #507 closed

[2018-08-06 08:41] freund17 commented on #505
@dannyrb @swederik
So... whats the intended strategy for this?

[2018-08-07 16:17] dannyrb commented on #484
I think we've knocked this out in recent PRs. Nearly every event should have some kind of callback implemented at this point, and override behavior for handle/pointNearTool events

[2018-08-07 16:17] #484 closed

[2018-08-08 14:59] henryhe1 commented on #409
@pieper has anyone done this with the Freehand tool? Also is there any documentation for the JSON format of the tool states? Where is the bounding box and area/stdev calculated?

I'm working on a mat file to JSON converter so that I can load segmentation. Eventually want to save into the DICOM

[2018-08-08 23:07] pieper commented on #409
Hi @henryhe1  - we haven't yet done the freehand tool but it's on the todo list.  We are working with a group to finalize the form of the DICOM SR that will store the various measurement tools and it should be in place by the end of the summer.

Right now there's no json format for the toolstate AFAIK, but maybe @JamesAPetts is using something for his connection to XNAT.

Are your mat files outlin

[2018-08-09 01:55] dannyrb commented on #318
@jpambrun, do you have a repository for this? We're in the middle of a large refactor that makes it much easier to add 3rd party tools. I'd love to use what you have as an example of how to add an advanced tool.

[2018-08-09 12:34] jpambrun commented on #318
It's not public yet since at the time I just felt it was a bit too hacky (also didn't have time to touch it since..). I'll try to clean it up a bit and make it available this week end.

[2018-08-09 13:19] JamesAPetts commented on #409
@pieper , @henryhe1, In XNAT I'm currently reading from AIM imageAnnotationCollection/DICOM-RT and writing to AIM imageAnnotationCollection. The toolData itself is a POJO, which I construct from the file and add to the toolState. The freehand toolData has circular references to make it easier to manipulate, which is why there I don't use a json schema. This could always be worked around though. Yo

[2018-08-09 13:46] henryhe1 commented on #409
Hey @pieper @JamesAPetts thanks for the quick replies. The mat files are outlines (x and y coordinates), so I was thinking of storing them as DICOM SR. Any tips on how to do this to create a quick demo (read and write)?

And I only mention JSON because that's what the format of the toolData the cornerstoneTools freehand example webpage returned - is that version outdated? I definitely don't need t

[2018-08-09 22:34] fcortes opened #528 "Get all ROIs in a stack"
### Prerequisites

* [x] Are you running the latest version?
* [x] Are you reporting to the correct repository?
* [x] Did you perform a cursory search?

### Description

I am building an interface to process medical images and I want to be able to get all the current ROIs in a stack of images. I can get the ROIs in the currently displayed imageId with `cornerstoneTools.getToolState(element, 'ellip

[2018-08-10 00:19] leonardorame opened #529 "stackPrefetch stops when selecting different element"
Hi, I have two divs. I assign a stack to each and do a `cornerstoneTools.stackPrefetch.enable(elem1);` to start prefetching the 1nst div. Then, I do the same on the 2nd div (I call it elem2). The problem I found is the prefetching of the first element stops when the 2nd element is enabled.

Is this the expected behavior of stackPrefetch?.

[2018-08-10 00:44] fcortes commented on #529
From what I understand it shouldn't stop the prefetching of the first element. From looking at the source, the prefetching is actually done by the `requestPoolManager` which after adding a new cornerstone imageId should only add new elements to the `requestPool`.

There is actually a parameter on the `addRequest` (addToBeginning) to specify if the new elements should have priority before the curre

[2018-08-10 01:02] dannyrb commented on #505
Sorry, @freund17. I've been a bit consumed by the changes for the upcoming major release on the `vNext` branch.

Your case is interesting. I haven't yet run into a scenario where I need to change a drag tool's state while it's in use. I appreciate the codepen, it makes it _very_ clear what is happening, and what behavior you expect.

I "think", by default, this will be addressed in `vNext` by defa

[2018-08-10 01:04] dannyrb commented on #498
@JamesAPetts would this be an issue where `freehand` steals the event loop for _all_ `mouseButtonMask`s, when it should probably only lock it's `mouseButtonMask`?

This may be applicable to `isToolLocked` in `vNext` and worth hatching a solution for.

[2018-08-10 11:15] pieper commented on #409
Storing in dicom SR a big topic - if you want something quick just use json with an ad hoc schema that suits your needs and ignore the standard and don't worry about anybody else using your data.

But if you want to help us make standards based interoperable DICOM SR objects that would be great.  See the links above to learn more about it (there are lots of reasons scientific and engineering reaso

[2018-08-10 17:59] leonardorame commented on #529
Thanks  @fcortes, after doing what you recommended I found that aparently the requestPool is replaced by a new one when I call `cornerstoneTools.stackPrefetch(elem2);`.

I don't have a minimal example to show this here, but what I basically do is this:

[code]

[2018-08-13 08:55] freund17 commented on #505
Thanks for the reply.
As it is not very urgent, I think I can wait for vNext to land...
Is there something like a migration manual somewhere?
I tried to update the codepen to check whether the issue would get fixed, but I couldn't get the tool to work...
I dove in the code a bit and found that the tools are now classes. But they lack some kind of `activate`-Method.
I expect there to be some `addTo

[2018-08-14 08:57] JamesAPetts commented on #498
Hey all, I'll have a look at this soon, hopefully today.

[2018-08-14 14:10] dannyrb commented on #505
@freund17 on my list to `fork` your codepen with a working example today. I'll see what I can do 🙌

[2018-08-14 15:53] dannyrb commented on #505
@freund17: https://codepen.io/dannyrb/pen/pZBQOP?editors=0010

It appears to work. The `@next`/vNext is still very unstable. We're doing an "internal beta" shortly with a number of our primary contributing teams; after we work out a few more kinks, you'll begin to see more formal documentation and a migration guide. It's still a little too early for us to actively encourage adoption/migration.

[2018-08-15 08:48] JamesAPetts commented on #498
Going to have a look at the v2 and super secret vNext implementation now.

[2018-08-15 09:01] JamesAPetts commented on #498
I was just doing something silly, fixed locally, will PR a fix.

[2018-08-15 09:13] JamesAPetts commented on #498
Fixed in #536.

@dannyrb, I'll check if I made the same mistake in vNext.

[2018-08-15 09:27] JamesAPetts commented on #528
In src/stateManagement/imageIdSpecificStateManager you'll see the exported ```globalImageIdSpecificToolStateManager``` object.

Import this where needed and call:
```const toolState = globalImageIdSpecificToolStateManager.saveToolState()```.
This returns an object with the entire set of imageIds and corresponding annotations in a tree-structure.

Note if you make changes and want to display these

[2018-08-15 12:08] algates90 opened #537 "Angle tool uses incorrect pixelspacing ?"
### Prerequisites

* [X] Are you running the latest version? - 2.2.0
* [X] Are you reporting to the correct repository?

For more information, see the `CONTRIBUTING` guide.

### Description

Cornerstone tools in very old versions (0.8.7) uses simply the rowpixelspacing and columnpixelspacing from the image object and performs measurements based on that. Atleast in 2.2.0 version, I could see that t

[2018-08-15 12:52] dannyrb commented on #537
@algates90 a lot of the tools in v2 aren't connected and have been somewhat haphazardly maintained. We're working on a v3 branch that reconciles these differences and makes tools behave much more consistently.

I'll tag this issue for `vNext` so we can be sure to address the problem as we continue to hammer out the major API and implementation changes. Thanks for bringing it to light 👍

[2018-08-16 15:08] JamesAPetts opened #540 "How to handle passive mouse events whilst using the brushTool"
Lets get the Needs Discussion board to use:

There are two avenues I can see to handle passive mouse events whilst using the brushTool, both don't sound ideal:

- Completely ignore the passive status of all other tools.
- Make painting potentially more fiddly on a densely annotated image.

I'm leaning towards the first option, as I can see it being really annoying to paint near/under other annotat

[2018-08-16 15:14] dannyrb commented on #540
Would be my vote as well. Now that we have a `baseBrushTool`, maybe we even go one step further and say that when a `brushTool` is your "primary active" (left mouse button mask, or touch), that we don't highlight the tools w/ `pointNearTool` or `nearbyHandle`

[2018-08-16 15:15] diego0020 commented on #540
Maybe we should have a mechanism for disabling the highlighting; and at application level turn off highlighting for the other tools.

[2018-08-16 16:07] dannyrb commented on #540
@cornerstonejs/vnext-contributors
-- Is how you would tag the relevant users, @JamesAPetts

[2018-08-17 09:00] JamesAPetts commented on #540
@diego0020 @dannyrb: Concerning an API fro disabling highlighting, wouldn't simply turning all other `passive` tools to `enabled` be equivalent and cleaner?

[2018-08-17 10:30] dannyrb commented on #540
The advantage of a setting is that you can more easily "restore" the mode of all tools. If you set them all to enabled (And half were already enabled) it would be hard to know which ones to restore to passive when using a tool other than brush.

[2018-08-17 13:26] Saucistophe commented on #529
We've add the same problem and solved it by tweaking the stack prefetch:
- Prevent the poolManager clearing for prefetches, so that it does not forget what it's doing.
- Insert the images at the beginning, but from last to first. This way, it's added to the top with the greatest priority, but does load in the intended order.

We've tested it with two side-by-side viewer and it worked like a charm:

[2018-08-17 15:35] JamesAPetts commented on #540
Right, that's a good point. I guess we could just have a new module in the store for highlighting, and this can be checked by all the tools' `renderTool` functions.

[2018-08-17 18:08] #467 closed

[2018-08-17 23:41] atisman89 opened #546 "Mean, stddev, area calculation not updated during modification of RectangleROI and EllipseROI tool"
Not sure if this is a feature or bug, but I noticed a difference in the behavior of a newer version of Cornerstone tool. The mean, stddev, area value in the tool text box is not being updated during modification of RectangleROI and EllipseROI tool (by mouse dragging). Was this change made intentionally in a newer version? Then, is there any way to make the values be updated during the tool modific

[2018-08-17 23:49] dannyrb commented on #546
Is there a specific version you are using? Does the value not update at all? Does it update when you've finished resizing or placing the annotation? Does it update as you drag?

[2018-08-17 23:58] atisman89 commented on #546
It does not update as I drag but updates only when I finish dragging. I verified that this behavior is same in the demo example.

[2018-08-18 01:51] dannyrb commented on #546
It may have been removed because the calculation was a bit much for large images and to fire for each drag event.

I'm not sure there's much value in the seeing updates on drag, as you're usually selection a visual region and not a specific amount of space. (Please correct me if I'm wrong.)

@swederik may know if the change was on purpose or if its a bug.

[2018-08-18 10:56] dannyrb commented on #540
Most tools "highlights" based on a property we set in `move`, `down`, or `start` events. It may require less of a re factor to handle the logic in the dispatchers.

It fits nicely with the changes we have slated for new tool bools:

- isHovered
- isSelected

[2018-08-18 10:59] dannyrb commented on #528
Note to self: add `documentation` label. Add this to documentation project.

[2018-08-18 11:00] dannyrb commented on #515
@JamesAPetts is this issue resolved in the `vNext` branches implementation?

[2018-08-18 11:03] dannyrb commented on #505
@fruend17, I'm making this as closed. If you find that the demo I provided does not work as expected (or that the finalized version of vNext does not), please feel free to re-open this issue.

If you would like to Beta test vNext and provide feedback as well continue to shape and ultimately publish is, please feel free to send an email to danny.ri.brown@gmail.com, and I will add you to contributor

[2018-08-18 11:03] #505 closed

[2018-08-18 11:09] dannyrb commented on #482
@gillib's PR #501 appears to address your first issue. We can continue conversation there of an ideal implementation.

You can export and restore state for any cornerstone tool. So you could generate, without the use of a mouse, state that represents and ROI and "restore" it to achieve the desired behavior.

On my phone, so here are some notes for me:
- Link export/restore state api info
- add doc

[2018-08-18 11:10] #478 closed

[2018-08-18 11:11] dannyrb commented on #478
@Honey-hoo, please feel free to provide clarification if your problem was not resolved, and then we can reopen this issue.

[2018-08-18 11:12] dannyrb commented on #466
Note: Add v4 label, remove vNext label

[2018-08-18 11:14] dannyrb commented on #464
The solution for this was merged, so I will close the issue.

[2018-08-18 11:14] #464 closed

[2018-08-18 11:15] dannyrb commented on #446
Note: Action items, list each branch and current status of each. Determine clearer naming convention to make branching moving forward less ambigous

[2018-08-18 11:17] dannyrb commented on #435
I believe the question has been answered, so I will close this issue. Please feel free to create a new issue if you have additional questions.

[2018-08-18 11:17] #435 closed

[2018-08-18 11:31] dannyrb commented on #422
@medihack, 2 months later... Haha

The `vNext` branch will eventually become `v3` and be merged into master. All of the `mouseButtonMask` filtering takes place in the `eventDispatchers`. Adding the behavior you want would be a much, much easier enhancement in the new branch.

Maybe take a peak and we can discuss possible implementations? I don't see this as a blocker for `vNext` release, but it do

[2018-08-18 11:53] dannyrb commented on #411
@swederik, do you have an example image you can provide? Is the issue here _only_ that the scale does not update?

How should a tool like this function for turns that are not in 90 degree increments?

[2018-08-18 12:12] dannyrb commented on #408
@jamesAPetts, before I tag this, do you see calculations like this as part of the tools library, or as a 3rd party tool? Should we consider adding a new baseTool to assist, or any helper methods?

[2018-08-18 12:37] dannyrb commented on #405
@timleslie and @swederik, are there any parts left for this? Any cleanup or follow action items worth creating?

[2018-08-18 12:43] dannyrb commented on #400
While you could probably create something like this in `cornerstone-tools`, the `cornerstone` repository may be a better candidate.

It may be worth recreating this issue in that repository. If you feel I am mistaken, please feel free to comment and we can consider reopening this issue.

[2018-08-18 12:43] #400 closed

[2018-08-18 13:25] dannyrb commented on #382
I'm going to close this for now, but it's worth nothing that this should be easier (and documented before too long) once the `vNext` branch becomes `v3`

[2018-08-18 13:25] #382 closed

[2018-08-18 14:06] sculxp commented on #389
Yes, but it's not a big problem.

[2018-08-18 15:30] dannyrb commented on #377
@JamesAPetts or @swederik, does this problem persist in the `vNext` branch? Should we add this to the project board if it is not yet resolved?

If this has been addressed, I would like to close out the issue and note it will be fixed in `v3`

[2018-08-18 17:06] dannyrb commented on #376
@medihack, I'm going to close this issue for now. If you find the time, it would be nice to discuss your thoughts on the new `vNext` folder structure. I'm particularly interested in any ideas you have around:

- How to align touch/mouse Event dispatchers
- Which touch events you believe need to be added to align tool behavior
- The new base tools and their support for different "interaction paradi

[2018-08-18 17:06] #376 closed

[2018-08-18 17:13] dannyrb commented on #364
As an update, this is coming along nicely in `vNext`. Modules are smaller and more explicit in their dependencies. You must import each tool you'd like to use individually. Complicated, less common, tools are relegated to 3rd party plugins.

The last major hurdle is updating our output such that WebPack can more easily determine which bits were unused by the dependent application (using harmony co

[2018-08-18 17:17] dannyrb commented on #361
I've left a note in your PR and added a corresponding issue to add this in the `vNext` branch. It likely won't make the 3.0 milestone, but is a good candidate for 3.0.x

[2018-08-18 17:17] #361 closed

[2018-08-18 17:25] dannyrb commented on #125
@JamesAPetts, I believe the freehand tool more closely resembles what this issue wanted to accomplish. Is that correct?

This issue has seen little activity in 2-years, so I'll close it for now. Feel free to comment if my assumptions are off, or if there are relevant action items for our freehand tool.

[2018-08-18 17:25] #125 closed

[2018-08-18 17:28] dannyrb commented on #182
This has been merged and fixed :+1:

[2018-08-18 17:28] #182 closed

[2018-08-18 17:36] dannyrb commented on #229
This has been addressed in the `vNext` branch. I doubt it will be backported to `v2`. If anyone encounters issues with the new `MouseEvent.buttons` implementation, please feel free to create a new issue with the bug report.

[2018-08-18 17:36] #229 closed

[2018-08-18 17:38] dannyrb commented on #339
Is this similar to the "wand tool" in photoshop? When you select and area, place and ROI around it and any pixels within a certain sensitivity threshold?

[2018-08-18 17:41] dannyrb commented on #330
I'm going to close this issue as its a duplicate of #252. I do believe we'll see this addressed shortly after a `v3` release.

[2018-08-18 17:41] #330 closed

[2018-08-18 17:52] dannyrb commented on #320
Its been a while since this issue has seen activity. It might be worth taking a look at the `vNext` branch, as the tools are a little cleaner and hooking into event callbacks is a lot easier.

I'm still unsure if you were trying to handle events around modifying length measurement data, or trying to create a custom/modified length tool.

In either case, we can continue our discussion, but I'd need

[2018-08-18 17:52] #320 closed

[2018-08-18 18:27] jpambrun commented on #318
gh://jpambrun/cornerstonePenBrushExperiment

I had to split it from a bunch of other experiment, but I didn't have time to clean it up yet.

I also hacked in smoother touch gestures and pen support.. but none of this is anywhere ready for prime time..

It looks like this now:
https://random.jfpb.net/7724d6e33c7023bb_2018-08-18-14-17-22.mp4

[2018-08-18 18:53] dannyrb commented on #210
@kofifus, I believe images currently only support a single calibration. If ultrasounds contain metadata that would allow regions with different calibrations, I'm sure the functionality you want could work.

Are there specific tags that contain the data? If its in the pixel data itself, how would you propose adding this functionality?

[2018-08-18 18:56] #294 closed

[2018-08-18 18:59] dannyrb commented on #322
This hasn't seen action in 7 months. Its a good candidate for a 3rd party plugin post `v3` release, but it may not longer be ideal as a core tool in this repository.

Closing for now. Please feel free to discuss.

[2018-08-18 18:59] #322 closed

[2018-08-19 00:10] JamesAPetts commented on #515
We no longer use the layer api in vNext, I simply convert the data to a bitmap and render it straight to the canvas, so this shouldn't be an issuee.

[2018-08-19 00:13] dannyrb commented on #515
@the-kenny, it's still a little rough, but the `vNext` branch will eventually become `v3` of `cornerstoneTools` when it's merged into `master`. It may be worth trying out it's `brush tool` implementation to see if it works as you would expect.

I'll close this issue for now. Feel free to continue to discuss, or to open a new issue for anything related to the new brush tool implementation.

[2018-08-19 00:13] #515 closed

[2018-08-19 00:15] JamesAPetts commented on #408
I would think this functionality could be added to cornerstone-math at some point, as long as it is kept generic enough, with an array of roi's being one possible input. I think we'd have a better idea where it should go when/if we implement this though. I personally don't think its essential for v3.0 though.

[2018-08-19 00:16] JamesAPetts commented on #377
@dannyrb, I haven't checked if this has been resolved, can check on Monday, so leave open for now.

[2018-08-19 08:26] the-kenny commented on #515
Thanks for the explanation! I’ll have a look at the vNext branch.

Cheers

[2018-08-19 11:05] #405 closed

[2018-08-19 11:39] dannyrb commented on #335
Before I close this, it's worth noting that we are now aware of multiple modified Cornerstone instances that support 3D and/or 2D MPR. It is unlikely that you will see 3D MPR support added; however, a basic 2D MPR implementation is a possibility.

Our hope is that with v3 and the addition of 3rd party plugs, that you will start to see advanced functionality like this made available through free/pa

[2018-08-19 11:39] #335 closed

[2018-08-20 02:27] atisman89 commented on #546
Thank you for your quick response. If this change was on purpose, I figured out that setting the tool data's "invalidated" property to "true" for each "cornerstonetoolsmeasurementmodified" event would override the change and update the stats while dragging handle / resizing the tools. I'm not sure if this is a proper way though and recommend to provide this option as a configurable item for those

[2018-08-20 09:03] kofifus commented on #210
The relevant DICOM standard is here http://dicom.nema.org/medical/dicom/2016e/output/chtml/part03/sect_C.8.5.5.html

Cornerstone should have this as its reasonably common, however I don't have the knowledge to implement it...

[2018-08-20 10:05] dannyrb commented on #210
Do you know of other views that implement this that we could look to as an example? It's been over a year and you're the only requester that I am aware of. Realistically, for this to be accomplished in the near future would require, at a minimum:

- one of more people to volunteer scoping out requirements
- one or more people spearheading those requirements

I'd be happy to offer guidance, but I d

[2018-08-20 14:55] jdnarvaez commented on #210
I’ve implemented this previously and it’s on my list of things to do, but hasn’t been a high priority.

Sent from my iPhone

[2018-08-20 18:04] #546 closed

[2018-08-21 11:41] adellalibera commented on #411
Example image is included with scaleOverlayTool2.zip in raw format into exampleImageLoader.js file.
image108Base64
It doesn't  show good because I modified only pixel-spacing without change pixel-data but is enough to show error.

Free angle rotation in not included, but it could be simple to add like (see imageTools/rotate.js)

[2018-08-22 07:56] rudlofth commented on #210
We are currently looking into using cornerstone for an DICOM ultrasound viewer. In ultrasound images or clips with several regions having different meaning and calibrations are common. Typical examples are

1. Multi images: An DICOM image shows several images next to each other. So each calibration region corresponds to one of those images. The pixel distance in each region might be different. Any

[2018-08-22 09:15] mpkumar87 opened #554 "Annotation is not working properly"
HI,
I am checking cornerstoneTool package in local and tested examples. In Annotation example, it create first annotation with text displaying below the line. But when try to create another annotation and text entered is not displayed for new annotation draw, instead it update the value of first annotation line. Please guide me to solve this problem.

Thanks.

[2018-08-22 09:38] swederik commented on #210
@jdnarvaez If you can share your implementation we can try to get it in. That would be great. @rudlofth Thanks for the feedback! We will probably need some example files for this.

[2018-08-22 10:08] dannyrb commented on #554
Hello @mpkumar87, please include a screenshot and code example? Bonus points for an example on codepen that demonstrates the issue.

[2018-08-22 10:35] mpkumar87 commented on #554
Thanks for ur reply.. Example which is in github also not working for annotation.

https://rawgit.com/cornerstonejs/cornerstoneTools/master/examples/annotation/index.html

First annotation mark display value which i entered in dialog box. But further annotation mark not displaying value, it is getting update first annotation mark.

Thanks.

[2018-08-22 10:36] swederik commented on #554
Looks like you're right. I wonder when that broke...

[2018-08-22 15:42] jdnarvaez commented on #210
@swederik I'll try to generalize it and submit a patch, but it probably won't be for a couple weeks.

[2018-08-22 16:07] swederik commented on #210
Awesome!

[2018-08-22 16:18] rudlofth commented on #210
This is an example with two 2D regions having different pixel distance:
[different_length.zip](https://github.com/cornerstonejs/cornerstoneTools/files/2311148/different_length.zip)

I have some nice examples for M-Mode regions too, but they are about 100MB. Any way to get them uploaded?

[2018-08-22 16:33] dannyrb commented on #210
If you send a [Firefox Send](https://send.firefox.com/) download URL to danny.ri.brown@gmail.com, I can upload them to my company's server for redistribution? Not sure what/if any large free file-share alternatives there are, but that would be the preferred route.

[2018-08-23 20:58] galelis commented on #554
I have created a PR to fix this issue
https://github.com/cornerstonejs/cornerstoneTools/pull/557

@mpkumar87 Hey, I have analysed the issue and it was actually an issue only with example code that was not removing correctly the dialog events, so it was being called as many times as we have arrowAnnotations in the app.

[2018-08-24 12:51] rudlofth commented on #210
I created some small single frame images. Not very beautiful, but they have the calibration regions. The folder contains on M-Mode example, two examples with a doppler spectrum and one example with several 2D regions:
[examples.zip](https://github.com/cornerstonejs/cornerstoneTools/files/2318362/examples.zip)

Still looking for an example with a Waveform ...

[2018-08-28 19:10] #554 closed

[2018-08-29 14:00] colinhall17 opened #558 "Scroll sensitivity on stack"
Hi

Is there anyway of changing the sensitivity when using the mouse button for scrolling a stack?

I would like the stack images to change over a shorter distance of mouse movement.

[2018-08-29 14:17] colinhall17 commented on #558
Its ok I've just found that you can pass it in a config to the tool.  You can close the ticket

[2018-08-29 14:29] #558 closed

[2018-08-30 02:06] ofleaf opened #560 "Can I clear each length by mouse right click after use length tool?"
I refer to the clearToolData example, I try to clear the tool data.

`document.getElementById('clearLengthData').addEventListener('click', function() {`
`cornerstoneTools.clearToolState(element, "length");`
`cornerstone.updateImage(element);`
`});`

When I used multiple length tools, I want clear each length by right click.
Should I change some code in cornerstoneTools?

[2018-08-30 02:51] #560 closed

[2018-09-05 13:12] joshy opened #565 "How to sort a image stack ordering eg. CT images"
### Prerequisites

* [X] Are you running the latest version?
  cornerstone-tools - 2.3.9
* [X] Are you reporting to the correct repository?
* [X] Did you perform a cursory search?

### Description
Hi, what I couldn't find from the example or documentation is the ordering of a eg. images from a CT stack. I am using the cornerstoneWADOImageLoader but it seems the dicom files are not ordered correctl

[2018-09-05 13:29] dannyrb commented on #565
[Live Stack Scroll Example](https://rawgit.com/cornerstonejs/cornerstoneTools/master/examples/stackScroll/index.html)

_Example Source Code_
- [Building the Stack](https://github.com/cornerstonejs/cornerstoneTools/blob/master/examples/stackScroll/index.html#L136-L145)
- [Displaying the Stack](https://github.com/cornerstonejs/cornerstoneTools/blob/master/examples/stackScroll/index.html#L189-L195)

[2018-09-05 13:50] joshy commented on #565
Hi Danny, thanks for the answer. I have build the stack, however the imageIds don't reflect the right order because the filename order does not match the slice position. Given your answer I have to get the slice position and order the imagestack on my own during loading of the images in cornerstone. Thanks for your help (maybe adding this to the stack example would be beneficial).

[2018-09-06 12:35] pieper commented on #565
@joshy [here's an example of sorting](https://github.com/pieper/cornerstoneDemo/commit/0faf60ba4481fdd79dcc0ebf7c50e1dcccce998f
) a stack.  In this code, the data is sorted based on a value from a database, but the same sort of thing could be done based on tag values pulled from the dicom metadata.  The field image.data.elements.x00020013 should have the ImageNumber which is typically what you nee

[2018-09-07 10:14] lalalawututu opened #567 "How to painting sagittal、coronal、transversal slices for dicom of js,I look up the doc but I am not seek out a way,Please help me ~"
### Prerequisites

* [ ] Are you running the latest version?
* [ ] Are you reporting to the correct repository?
* [ ] Did you perform a cursory search?

For more information, see the `CONTRIBUTING` guide.

### Description

[Description of the bug or feature]

### Steps to Reproduce

1. [First Step]
2. [Second Step]
3. [and so on...]

**Expected behavior:** [What you expected to happen]

**Actual b

[2018-09-07 13:35] dannyrb commented on #567
I believe what you're asking about is support for MPR

Related Issues:
- https://github.com/cornerstonejs/cornerstoneTools/issues/335
- https://github.com/cornerstonejs/cornerstone/issues/189

We do not yet support this functionality. There has been some talk about how to accomplish it. Different groups have created working concepts for both 2D and 3D MPR in Cornerstone, but I believe all existing

[2018-09-10 05:51] lalalawututu commented on #567
@dannyrb
I think the connerStone have its own api. if I use Multi Planar Reconstruction (MPR),can I combined utilization with the connerstone ?

[2018-09-10 12:58] dannyrb commented on #567
@lalalawututu if you're accomplishing MPR with a 3rd party library, you'll likely need to create a custom "Image Loader" to create/load the images into Cornerstone.

[2018-09-11 06:33] yiuyiu commented on #567
@dannyrb hello, i found  **ami.js** can do the mpr, but its source is quite difficult for me to read, so i want to accomplish by myself. could you give me some advice or refs to do this. i have read the related issues. but i can not find the concrete algorithms o(╥﹏╥)o

[2018-09-11 13:11] dannyrb commented on #567
@yiuyiu, @swederik may have some code lying around. I know he's played with [ami.js](https://github.com/FNNDSC/ami) as well as [vtk.js](https://github.com/kitware/vtk-js) and [xtk.js](https://github.com/xtk/X). The challenging part is using the generated images in/with Cornerstone and Cornerstone Tools. If you hatch an elegant solution, I'm sure many people would be interested to hear and see more

[2018-09-13 11:16] swederik commented on #529
Looks like we can close this since #542 was merged.

[2018-09-13 11:16] #529 closed

[2018-09-13 11:21] #393 closed, assigned to nobody

[2018-09-13 11:30] swederik commented on #483
I agree with @JamesAPetts. If the eslint rule was commented out, it was probably because I was too lazy to fix the warnings at the time.

[2018-09-13 15:06] JamesAPetts opened #570 "vNext - Should we allow tools to limit the number of states they have? Or an easy pattern to indicate that they can only be toggled on/off?"
For example, `ScaleOverlayTool` only makes sense in `enabled` and `disabled`.

For tools like the scale overlay that should be e.g. on/off, can't we just throw an error in the `passiveCallback` and `activeCallback` which states that the tool isn't intended to be used that way?

We could do this by having an intermediate class such as `BinaryTool`, which extends `BaseTool` and has these error messa

[2018-09-18 12:42] swederik commented on #366
Fixed in #574

[2018-09-18 12:42] #366 closed

[2018-09-18 12:43] pieper commented on #366
Are the docs being generated and hosted somewhere?

[2018-09-18 12:44] #369 closed

[2018-09-18 13:27] swederik commented on #366
They are here at the moment, but could use a lot of cleanup / organization:
https://tools.cornerstonejs.org/api.html

For reference, here is how they are in core (slightly better): https://docs.cornerstonejs.org/api.html

[2018-09-18 15:19] pieper commented on #366
Cool thanks 👍

[2018-09-19 15:24] JamesAPetts opened #576 "Avoid `action` keybindings for tools. Only allow `click` + `modifier` to prevent collisions and tricky configuration issues as many tools begin to coexist within different modes?"
@cornerstonejs/vnext-contributors

The KeyboardController already has a mechanism for conflicting keybinds. For tools like the brush that have many configuration options that need to be changed frequently (brush size, segmentation, etc), api calls bound to keys are invaluable.

I do agree that modifier keys shouldn't be used for actions (i.e. shift, meta/alt and ctrl). Perhaps I could build this r

[2018-09-19 15:46] JamesAPetts commented on #540
Fixed some PR's ago! :).

[2018-09-19 15:46] #540 closed

[2018-09-19 16:16] JamesAPetts commented on #576
Attempted a solution to this issue with #577.

[2018-09-20 02:51] jkkjinagke opened #578 "I want to know, for example, src, how does length.js know that it has finished drawing this line?Thank you"

[2018-09-20 08:49] JamesAPetts opened #579 "Issue when we mix Rotate with BrushTool, EllipseRoiTool and RectangleRoiTool."
Steps to reproduce:
- Open global example
- Paint with the brush, draw a circlular ROI and an rectangluar ROI.
- Select Rotate tool and rotate the image something like 45 degrees. All three tools are distorted.
-  Select Brush and try to use the tool. It will paint in the wrong place.
- New Rectangles and ellipses can be drawn 'correctly' with the tilted angle, but when you rotate the image back,

[2018-09-20 09:18] knopkem opened #580 "Angle tool rounding issues"
### Prerequisites

* [x] Are you running the latest version?
* [x] Are you reporting to the correct repository?
* [x] Did you perform a cursory search?

For more information, see the `CONTRIBUTING` guide.

### Description

When moving the angle tool entirely, the measured angle changes (~1deg)

### Steps to Reproduce

1. Open the example "allImageTools"
2. Select angle tool and draw any angle
3. M

[2018-09-20 10:18] JamesAPetts commented on #579
Ok after some further deliberation with @swederik, I've come to the conclusion that the issues with the brush and the rois is identical, just the brush segmentation isn't rotationally symmetric within its control points.

Let me demonstrate, I've drawn 4 'segmentations' that fill up the canvas, as well as a rect and circle:
<img width="628" alt="screen shot 2018-09-20 at 11 10 54" src="https://use

[2018-09-20 11:07] #576 closed

[2018-09-20 11:17] JamesAPetts opened #581 "Do we need an eventDispatcher for `KEY_DOWN` to replaced the `keyboardTool`?"
Proposed solution:

Edit: outsource to third parties, do an example in the demo!

[2018-09-20 15:43] #581 closed

[2018-09-20 15:44] vsaase opened #584 "Problem when using cornerstoneTools and cornerstone as a module in a node.js project"
https://github.com/cornerstonejs/cornerstoneTools/blob/1f7d41d15c795dc99f8e395713cf9d63094f49b0/src/externalModules.js#L1

Hey, I am encountering some problems here when loading cornerstone and cornerstoneTools as a module with `require` or `import`. Then `window.cornerstone` is not available to cornerstoneTools.

[2018-09-20 16:05] dannyrb commented on #580
This makes sense. If you change the position and the coordinates overall rounding moves the measurements a greater difference, you could see a shift.

@knopkem, Would you be up to PR'ing this change? Ideally against the `vNext` branch so we don't need to remember to port it over.

[2018-09-20 16:10] knopkem commented on #580
sure, will do.

[2018-09-20 16:14] #584 closed

[2018-09-20 17:37] vsaase commented on #584
`window.Hammer` is working, but `window.cornerstone` not. Maybe something with how webpack creates the module file for cornerstone?

Thats how I import:
[code]

PS: I am trying to make this work for an Ionic app, this is also inside another module
Everything else works just fine.

[2018-09-20 17:41] dannyrb commented on #584
@vsaase to @JamesAPetts's point, just make sure you're depending on an _exact_ version, and not loosely in your NPM dependencies. We'll cut a more stable release before too long, but until then, every new release has a chance to introduce a breaking change.

That being said, feedback on what is and is not working for the latest build is always appreciated ^_^

[2018-09-20 18:47] galelis commented on #584
@vsaase Hey Victor,
Would you mind to provide me any error log with errors or any other information that could help me to understand your issue?

I have the @vnext version set up with OHIF Standalone viewer and everything is working fine there as well.

Ideally, I added that line to prevent the code from breaking in case cornerstone is not present into external (and window)

[2018-09-21 03:41] jkkjinagke commented on #578
@dannyrb hello dannyrb, First of all, I said that I really like the frame you wrote.I want to know, for example, src, how does length.js know that it has finished drawing this line?Thank you

[2018-09-22 01:58] dannyrb commented on #578
@jkkjinagke, are you asking how the tool itself knows that an annotation has been completed (the internal mechanics)? Or are you asking how to receive updates every time an annotation is placed, moved, resized, or removed?

[2018-09-22 10:19] #580 closed

[2018-09-22 10:21] #567 closed, assigned to nobody

[2018-09-22 10:27] dannyrb commented on #411
This could be related to #579

[2018-09-22 10:32] dannyrb commented on #377
@JamesAPetts, do we have a status on this?

[2018-09-22 13:06] vsaase commented on #584
So I import cornerstone like this:
[code]

When activating the brush and the image redraws, I get an error in `onImageRenderedBrushEventHandler` because `getNumberOfColors()` of the BrushColorMap returns 0 and therefore toolData.data is empty.

The reason for this is that BrushColorMap is not initialized because cornerstone was not available. When putting a debugger command in store/brushStore.js

[2018-09-22 13:47] dannyrb commented on #584
I think because you're using modules, the libraries aren't added to window. I have a similar setup, and `window.cornerstone` is undefined, yet everything works as expected. If you have or can create a very minimal repo that reproduces this error, I would be more than happy to get a fix in as early as next week.

Similarly, if you can create a small PR that fixes your issue without causing a breaki

[2018-09-22 18:03] #340 closed

[2018-09-22 18:05] #367 closed

[2018-09-23 21:51] JamesAPetts commented on #377
Hey @dannyrb , this currently doesn't happen on vNext because of a caching mechanism I've put in. You still get render events when we re-render the cursor on mouse move, but this will be non-existant once we have SVG cursors.

[2018-09-24 07:19] vsaase opened #590 "Triggering TOUCH_PRESS leads to losing touchmove on handlers"
https://github.com/cornerstonejs/cornerstoneTools/blob/f36157128ece8f3017b4e5e3ddd08a6d7c79a828/src/eventListeners/touchEventListeners.js#L265

Why are you triggering a TOUCH_PRESS after a timeout? When I try to move a handler with touch this leads to a call to touchEndCallback.

Also actually moving or dragging leads to a call to touchEndCallback. I think this is because TOUCH_DRAG_END should not

[2018-09-24 13:48] JamesAPetts commented on #570
Addressed in #585 :).

[2018-09-24 13:48] #570 closed

[2018-09-25 00:42] jkkjinagke commented on #578
@dannyrb I hope that I can have an introduced api that will allow me to do the functions I need, and then disturb again. Why do undefined% occur when loading the progress bar?

[2018-09-25 02:40] dannyrb commented on #578
@jkkjinagke, can you add a code sample that reproduces the issue?

[2018-09-25 02:42] jkkjinagke commented on #578
@dannyrb  cornerstone.events.addEventListener("cornerstoneimageloadprogress",function(event){
            console.log(event);
            const eventData = event.detail;
            console.log(`${eventData.percentComplete}%`);
        });   eventData.percentComplete == undefined;

[2018-09-25 09:02] JamesAPetts commented on #584
Hey @vsaase , after some discussion with @swederik, we've come to the conclusion we just need to generate the brush map during init. In vNext @dannyrb and I are working on initializing modules on instantiation of cornerstoneTools, which is when we should generate the map. In this case cornerstone will have be defined, and the issues you are having in node.js will be fixed.

For that reason I'm rel

[2018-09-25 09:07] JamesAPetts commented on #483
I'm going to close this for now. We have a much more developed list of issues on the vNext board.

[2018-09-25 09:07] #483 closed

[2018-09-25 11:42] jkkjinagke commented on #578
@dannyrb hello dannyrb  ! Why can I load localComplete when I read local, and the cloud will not work? Undefined? Is it a dcm problem?

[2018-09-25 16:36] dannyrb commented on #590
Thanks for the call-out. I think you're right @vsaase! We have two issues on our [vNext project board](https://github.com/cornerstonejs/cornerstoneTools/projects/1) that I think could be at least tangentially related to this:

[2018-09-25 16:40] dannyrb commented on #578
@jkkjinagke, I believe we may be up against a bit of a language barrier. I'm unable to fully understand what you're asking. However, I may still be able to help if you provide a full example that demonstrates the error you're encountering. Tools that can help you provide an example are:

- [Codepen](https://codepen.io/pen/)
- [JS Fiddle](https://jsfiddle.net/)
- Or a link to a GitHub repository th

[2018-09-26 06:11] jkkjinagke commented on #578
@dannyrb The dcm file eventData.percentComplete opened locally can display the percentage, but when I take the dcm file from the cloud, it will display undefined%. I want to ask what is the reason?

[2018-10-01 12:59] JamesAPetts opened #608 "vNext docs key words/captialisation."
Identify key words, capitalize them, and consistently link them to a disambiguation. For example, all instances of:

"Enabled Element" should be capitalized and linked to a good resource on them.

[2018-10-01 13:03] JamesAPetts opened #609 "Event Dispatcher and Callback lifecycle graphic"
A nice graphic for the flow cycle of event dispatchment.

https://github.com/cornerstonejs/cornerstoneTools/pull/605/files/cfbb5ae01cde26863cf46dcd09f3588a49ff2eb7#r221012678

[2018-10-01 13:12] JamesAPetts opened #610 "Add a Guide around keybinding tool action's using mousetrap."
See this fiddle:

https://jsfiddle.net/dannyrb/354qebdg/

There are two potential PR's that could address this issue:
- Docs on how a tools member functions are intended to be exposed and potentially hooked up to keys, (mostly just the `@api` tag in the jsdoc I would suppose?) And why `cornerstoneTools` doesn't do this out-of-the-box (namely due to not re-inventing the wheel and keeping the librar

[2018-10-02 21:52] fourctv opened #620 "bug(?) in playClip()"
### Prerequisites

* [y ] Are you running the latest version?
* [y ] Are you reporting to the correct repository?
* [y ] Did you perform a cursory search?

For more information, see the `CONTRIBUTING` guide.

### Description

There seems to be an error in playClip(), where it calls `loadImage()` and `loadAndCacheImage()`.
Those functions take an `imageId`, but `playClip` is calling them using an `

[2018-10-04 07:13] swederik commented on #620
Yeah that does sound like an issue... Thanks for the report!

[2018-10-08 07:16] drozdzynski opened #626 "Clear tool state of brush not work"
### Prerequisites

* [x] Are you running the latest version?
* [x] Are you reporting to the correct repository?
* [x] Did you perform a cursory search?

### Description

When I try clear tool state of `brush` with function:
```cornerstoneTools.clearToolState(cornerstoneElement, "brush")```
I have error:
[code]

### Steps to Reproduce

1. Activate brush
2. Clear brush tool state
3. Update image

**

[2018-10-08 09:08] swederik commented on #626
Thanks for the codepen to reproduce the issue! It looks like it's here: https://github.com/cornerstonejs/cornerstoneTools/blob/master/src/paintingTools/brush.js#L32

[2018-10-08 09:10] JamesAPetts commented on #626
Hey @drozdzynski , thanks for the report! The brush tool in v2 has a lot of issues, and was largely experimental, as the framework for such segmentations wasn't up to scratch.

Proper support for segmentation tools are one of the big drivers of an upcoming major release, where 90+% of our development effort is currently focused. I think this issue is already fixed in the `vNext` branch. I'll keep

[2018-10-08 09:15] JamesAPetts commented on #626
That being said, its a fix for v2 probably isn't too difficult, feel free to try catching the exception and exit the rendering, I'd be happy to review a PR.Since we have a major update coming in the near future, it doesn't have to be super pretty.

You can probably just create `toolData.data[0].pixelData` again as a blank `Uint8ClampedArray`if it doesn't exist.

[2018-10-08 15:19] Anduil opened #629 "Angle tool show NaN degree."
### Prerequisites

* [Yes] Are you running the latest version?
* [Yes] Are you reporting to the correct repository?
* [Yes] Did you perform a cursory search?

### Description

Angular CLI: 6.1.5
Node: 8.11.4
OS: win32 x64
Angular: 6.1.9

When i use angle tool it show NaN instead correct number degree.
All other tools work correctly. Also i tried install version 2.2.0 of cornerstoneTools and this e

[2018-10-09 17:27] jewettdiane opened #630 "Highlight Touch Tool"
I am getting the following error when I activate highlightTouch:
ERROR Error: element not enabled

All other tools work fine with mouse or touch and highlight works for mouse.

[code]

[2018-10-10 06:08] AtmiyaVaghela opened #631 "Tool For Get RawDICOM Image Data for selected pixel in 3D array"
Hi There,

I am working one machine learning project. My team finds that this repository is very useful for them for Initial POC and also for Production purpose.

But we also need one more future for extract the RawDICOM (not RGB) 3D Array for selected pixels (like rectangle feature) for loaded DICOM series. But we did not find that in this repository.

I am not sure this is Partially / Fully avai

[2018-10-10 14:56] dannyrb commented on #631
@AtmiyaVaghela, I don't believe we currently provide any 3D functionality or helper methods. Depending on your data set, this might be something you can accomplish easily enough.

Have you experimented with cornerstone's `getPixels` method, and iterating over the image set? What constraints are you working with, and is there anything more granular we can provide to help you achieve what you want?

[2018-10-11 15:07] JamesAPetts opened #634 "vNext - Magnifying glass works only once, then you can't use it again, and can't switch tool."
As per the title.
You can switch to another tool fine as long as you activated the magnifying glass but didn't use it.

[2018-10-11 20:06] fourctv commented on #620
Actually that is not a cornerstoneTools bug, but MY bug (of course).

I populated `stack.imageIds` incorrectly, with image data, instead of `imageIds`.

I fixed it on my side and it works as expected.

Sorry to take your time on this.

Closing it.

[2018-10-11 20:06] #620 closed

[2018-10-13 05:46] AtmiyaVaghela commented on #631
@dannyrb

We are experimenting with the [OHIF](http://34.224.187.57:3000/studylist) source. And while studying we were found that it's based on the cornerstone library. But we did not find _3D functionality or helper methods_.

Actually, we are working on one ML project for nodule prediction. For that, we need to make cuboid for selected position area / or position (x,y) from the DICOM study. Our

[2018-10-14 17:38] lordfuoco commented on #634
Hi! I would like to pick this up :)

[2018-10-15 00:56] dannyrb commented on #634
👋 Thanks for the PR, @lordfuoco! I've merged your fix. @JamesAPetts if you have any follow-up issues or comments, please feel free to create a new issue or add to this one. Closing for now ^_^

[2018-10-15 00:56] #634 closed

[2018-10-17 13:27] catalinaduplat opened #642 "Crosshairs tool only works for one element"
### Prerequisites

* [X] Are you running the latest version?
* [ ] Are you reporting to the correct repository?
* [ ] Did you perform a cursory search?

For more information, see the `CONTRIBUTING` guide.

### Description
If you activate crosshairs, it only works for the first element you use it with, if you try to use it then in other enabled elements (which have the tool active) it doesn't work.

[2018-10-17 16:50] talkdirty opened #643 "`mouseWheelInput.js`: Two finger scrolling on Firefox scrolls the whole page"
### Prerequisites

* [x] Are you running the latest version?
* [x] Are you reporting to the correct repository?
* [x] Did you perform a cursory search?

### Description

Hi!

We noticed a peculiar thing specific to Firefox related to `mouseWheelInput.js`. Two finger scrolling (on a Laptop with a touchpad) will scroll the page and images simultaneously.
We found the potential culprit of this, which

[2018-10-17 16:56] dannyrb commented on #643
@talkdirty thanks for the reproduction and detailed issue!

Your proposed fix makes sense to me. Feel free to create a PR addressing the issue and tag me as the reviewer (or `@mention` me), and I will be happy to merge the fix  🎉

[2018-10-17 17:51] talkdirty commented on #643
Thanks for the quick response! See the referenced PR. @swederik might probably weigh into this, as he appears to be the original author of the functionality. Note that I could only test this on recent Edge, Firefox, and Chrome. I don't know how the behavior is on previous versions and IE. Also, I think the file could now be refactored a bit (i.e., it should be retested if the hack is still relevan

[2018-10-18 02:07] dannyrb commented on #643
Thanks for the quick PR, @talkdirty. There's plenty of code that could be touched up, don't be shy! If you want in on the most active development, you may want to take a peak at the `vNext` branch.

I'll let this sit for a day or two to give @swederik a chance to weigh in on any particular issues he may have been addressing. As far as I can tell, the event is well supported enough now that this sh

[2018-10-18 07:12] swederik commented on #643
Thanks for the super detailed report. I don't mind sunsetting the old mouse scroll events, but I have this memory of trying to switch to 'wheel' a while back and finding issues with the way it was implemented by different browsers / operating systems. Some input devices fire tons of events, others squish concurrent events down to a single event and just change the amount of delta. In the end all t

[2018-10-18 08:09] talkdirty commented on #643
Yes, I'm a bit worried about the cross platform behavior of this change as well, because wheel does clearly behave differently (albeit better in all scenarios we've come across). I can feel the pain @swederik must have been having implementing `mouseWheelInput.js`. All the browser specific hacks in there speak for themselves. Let me know if there is a way I can help with testing this, I'd be happy

[2018-10-18 14:33] diego0020 commented on #643
I could help with the example the spirit of hacktoberfest

[2018-10-19 01:56] kofifus opened #645 "calculations using rowPixelSpacing and colPixelSpacing when they are null"
since commit https://github.com/cornerstonejs/cornerstoneWADOImageLoader/commit/da4c03933b4b6f634c59614a6aa1a479980f2968#diff-0e1db73251040e841d0e0183c5ebdf55

rowPixelSpacing and colPixelSpacing default to null

however many tools (ie angletool) use calculations including these without checking for null values

ie in https://github.com/cornerstonejs/cornerstoneTools/blob/master/src/imageTools/ang

[2018-10-19 02:04] JustinTQ opened #646 "wwwc does not work"
Hi,
wwwc does not work for the following DICOM file.
[1.2.840.113619.2.255.2242445014238.2353180809103900.zip](https://github.com/cornerstonejs/cornerstoneTools/files/2494210/1.2.840.113619.2.255.2242445014238.2353180809103900.zip)

[2018-10-19 02:48] jkkjinagke commented on #578
@dannyrb hello dannyrb 。I recently got a new feature and it has been completed. I think it is possible to save the current event base64 by converting it to a file type format and storing it in a computer class so that you can get the uploaded image. If you need the code, I can provide it to you. , very small features, hehe. The problem provided by the upload has been resolved, the percentage is no

[2018-10-19 03:15] dannyrb commented on #646
@swederik do you have availability to verify/troubleshoot this?

[2018-10-22 12:37] param88singh commented on #554
Helle swederik,

First of all thanks for your great effort for medical software(Dicom Viewer). I configured your latest versions of  cornerstone library. cornerstone-wado-image-loader - 2.0.0, cornerstone-tools - 2.3.3,
Here i seen annotation is not working accurately. It is almost difference of hundreds in length. But when i tried with yous oldest library(Augast 2017 versions). It is working very

[2018-10-23 00:56] dannyrb commented on #554
@param88singh can you create a new issue with this information? We try to avoid re-opening issues that have merged work.

[2018-10-23 19:03] catalinaduplat opened #655 "ROI stats recalc on handle move only works with mouse (vNext)"
### Prerequisites

* [X] Are you running the latest version?

### Description

ROI stats don't recalculate on handle move with touch events

[2018-10-24 08:45] tunglt1810 opened #659 "[v 2.3.9] Mouse button mask"
Hi, can you listing a table of mouse button masks? How can I know the exact mask button to configure the active tool?

[2018-10-24 10:48] tunglt1810 opened #660 "[v 2.3.9] Deactivate freehand tool, but can not activate right and middle mouse button for other tools"
### Prerequisites

* [v] Are you running the latest version?
* [v] Are you reporting to the correct repository?
* [v] Did you perform a cursory search?

For more information, see the `CONTRIBUTING` guide.

### Description

Deactivate freehand tool, but can not activate right and middle mouse button for other tools

### Steps to Reproduce

1. activate freehand tool
2. deactivate freehand tool
3. ac

[2018-10-24 12:47] dannyrb commented on #660
@tunglt1810, did you experience this issue in the `v2` branch or `vNext` branch? Is it reproducible in the existing live examples?

[2018-10-24 12:52] dannyrb commented on #659
I "think" `v2` uses: https://developer.mozilla.org/en-US/docs/Web/API/MouseEvent/which
I know `vNext` uses: https://developer.mozilla.org/en-US/docs/Web/API/MouseEvent/buttons#Return_value

[2018-10-24 14:30] tunglt1810 commented on #660
I experience this issue when i try modify your example of all tool. The number of version is 2.3.9
https://rawgit.com/cornerstonejs/cornerstoneTools/master/examples/allImageTools/index.html

I just change the mouseButtonMask number (1,2,3,4,5) to test the reaction of pan tool with canvas element. Even value is not work.

[2018-10-25 03:29] yinhanwen opened #665 "there is no Crosshairs in the example"
### Prerequisites

* [√ ] Are you running the latest version?
* [ ] Are you reporting to the correct repository?
* [ ] Did you perform a cursory search?

For more information, see the `CONTRIBUTING` guide.

### Description

When I used Crosshairs tool, there was no Crosshairs in the example.

### Steps to Reproduce

1. https://rawgit.com/cornerstonejs/cornerstoneTools/master/examples/crosshairs/in

[2018-10-25 16:36] dannyrb commented on #629
This should be fixed by this now merged PR: https://github.com/cornerstonejs/cornerstoneTools/pull/647

[2018-10-25 16:36] #629 closed

[2018-10-25 16:37] dannyrb commented on #631
Closing this due to inactivity. Feel free to open a new issue if you have a more formal feature request, if you would like to continue this conversation, or you want to discuss implementation details on contributing back solutions for 3D Functionality.

[2018-10-25 16:37] #631 closed

[2018-10-25 16:38] dannyrb commented on #630
@jewettdiane can you create a small reproduction in CodePen or JSFiddle that demonstrates this error/issue?

[2018-10-25 17:30] dannyrb commented on #578
I think this is resolved?

If the issue is not resolved, please feel free to continue commenting. Please include a minimal reproduction for any issues you do have, as I believe we have a slight language barrier.

[2018-10-25 17:30] #578 closed

[2018-10-26 02:05] jkkjinagke commented on #578
@dannyrb Can you help me see why I can't open this dcm?
[test.zip](https://github.com/cornerstonejs/cornerstoneTools/files/2517349/test.zip)    This is the dcm resource map, thank you

[2018-10-26 21:46] #645 closed

[2018-10-30 12:19] hu3402379 opened #676 "How to make a magnifying glass display measurement data"
### Prerequisites

* [ √] Are you running the latest version?
* [ √ ] Are you reporting to the correct repository?
* [ √] Did you perform a cursory search?

### Steps to Reproduce

1. Draw a rectangle
2. Use magnify glass tool in the rectangular position

**Expected behavior:**
Display the corresponding image and rectangle in the range of the magnifying glass.
![image](https://user-images.githubus

[2018-10-30 14:34] #608 closed

[2018-10-30 17:03] dannyrb commented on #676
@hu3402379, that would be a nice enhancement, but a bit of a tricky one. I believe magnifying glass is actually displaying the image loaded onto an entirely separate canvas element to achieve a higher quality zoom. You would need to serialize and restore tool state on that ad hoc canvas for all annotation tools/data.

If you wanted to take a stab at this, I would be more than happy to review a PR.

[2018-10-31 02:09] hu3402379 commented on #676
@dannyrb thanks for your reply.

I found in the OHIF viewer that it has implemented this, but I did not find the implementation code in the source code.

So, if you are familiar with ohif code, can you help me point out the source code of the implementation?

Thanks a lot..

[2018-10-31 02:44] dannyrb commented on #676
@swederik are you using the old `magnify` source in the deployed OHIF viewer, or have you hatched a custom tool that accomplishes magnifying annotations while keeping image quality?

[2018-11-01 06:58] RutulSB opened #684 "Use CornerStone measurements in ultra sound modality."
Hello,
I am using the latest version of cornerstone scripts. I'd like to acknowledge the work you are doing here and I must say cornerstone is a great library. It has certainly helped a lot. I have been using this for quite a some time now.
I am using cornerstoneWadoImageLoader for loading images from DICOM files. Now, I am trying to use cornerstone tools for measurements and it works absolutely p

[2018-11-01 10:00] dannyrb commented on #684
@RutulSB, thanks for your support ^_^ Comments like this, starring the repository, small pull requests, etc. All go a long way to helping out, so thank you.

Most tools rely on the DICOM tag `pixelSpacing` to convert pixels to mm. The CornerstoneWADOImageLoader adds a `metaDataManager` to cornerstone core. That manager is queried by cornerstone tools when it needs important information (like pixel

[2018-11-01 10:07] RutulSB commented on #684
@dannyrb, you specified about the other 3 or 4 DICOM tags. Can you please tell me about those tags and how do i get the pixel spacing by that?

[2018-11-01 13:56] dannyrb commented on #684
It looks like (I think the values are correct):

- Pixel Spacing (0028, 0030)
- Imager Pixel Spacing (0018, 1164)
- Nominal Scanned Pixel Spacing (0018, 2010)
- Ultrasound Region Pixel Spacing (0018, 6011)

Are all potential fallback tags if `PixelSpacing` is not available. Your `metaDataProvider` would need to use those values if `PixelSpacing` is not available, and return them as the `PixelSpaci

[2018-11-02 05:36] RutulSB commented on #684
@dannyrb I don't know what is wrong with my application, but i don't see a metaDataProvider.js loaded in my application.(I checked it through the chrome developer's tools)

[2018-11-02 15:53] dannyrb commented on #659
@tunglt1810, this repository is maintained mostly by volunteers; often during their free time. I tried to answer as many questions as I am reasonably able to, with the amount of time I have available. If your question wasn't fully answered, or if you have a follow-up question/need clarification, please let me know.

You're always more than welcome to check out the source code or do some minimal te

[2018-11-03 14:48] leonardorame commented on #537
Related to this, the references to `.rowImagePixelSpacing` shouldn't be changed to `.rowImagerPixelSpacing`? as the dicom tag (0018,1164) name  is imagerPixelSpacing, with an "R" between image and pixelspacing.

[2018-11-06 07:57] JustinTQ commented on #646
Yes, the file has an empty VOI LUT(0028,3010)

[2018-11-06 12:18] vdnsnkv opened #690 "Live examples not working"
Live examples stopped working recently.

For instance,  [annotation example](https://rawgit.com/cornerstonejs/cornerstoneTools/master/examples/annotation/index.html) does not react to any button click.

There are two errors in the console.

and

    at Object.activate (mouseButtonTool.js:269)
    at index.html:233

[2018-11-06 13:23] dannyrb commented on #690
That's odd. I could have sworn we updated scripts to pull the latest versions from a CDN. The issue is likely related to this:

https://stackoverflow.com/questions/17341122/link-and-execute-external-javascript-file-hosted-on-github

[2018-11-07 08:09] hsahin opened #693 "Throttle Probe Tool Calculations"
### Description

Adding more than ~5 probes makes the canvas unresponsive.
This does not happen when adding more than 20 freehand object (containing more than 100 points).

## Steps to Reproduce

1. Add 5 probe points.
2. Panning and zooming becomes slow.

**Expected behavior:**

Have a smooth experience.

**Actual behavior:**
Slow and sluggish canvas tool.

### Codepen With Reproduction of Issue:

[2018-11-07 13:36] dannyrb commented on #693
This is likely do to how the tool determines when it should recalculate values. Newer methods throttle the calculation, and/or only update the value if the previous value becomes invalid.

More than happy to review a PR for this fix. The vNext branch would likely need it as well

[2018-11-07 13:59] PunyFlash opened #695 "Eraser assigns to all mouse buttons"
When I try to assign eraser tool to right mouse button using
`cornerstoneTools.eraser.enable(element);
cornerstoneTools.eraser.activate(element, 4);`
it also assigns to mouse wheel and left mouse button. It causes other tools, that assigned to mouse wheel or RMB works strange (drawings can disappear). Am I doing something wrong or this is kinda bug?
![Image of Yaktocat](https://puu.sh/BXPIX/9f3ff2

[2018-11-09 08:39] hsahin commented on #693
@dannyrb Could you review #698?

[2018-11-12 01:18] Zaid-Safadi commented on #264
Hi @dannyrb, do you have any thoughts/updates on this?

Could this be done by capturing an event from the "length" tool "e.g. created" then display a dialog for the user to input the calibration value or should it be its own separate tool?

On the other hand, I am thinking this might be easier with the new CS tools version but I kind of need it sooner than later.

@jdnarvaez , I see you seem to ha

[2018-11-12 02:16] dannyrb commented on #264
@Zaid-Safadi, I actually have a `Calibration Tool` in an upcoming sprint for work. If I gain any insights, I'll be sure to share them with you; although, my implementation will be in the `vNext` branch.

I'd recommend creating a new tool, but yes, the mechanics would be very similar to `ArrowAnnotate` or `Length`.

[2018-11-12 02:53] Zaid-Safadi commented on #264
That’s exciting @dannyrb! Do you have an idea of when the vNext will be ready with calibration? I know it’s close and the new design is fantastic that I’d rather implement it there.

[2018-11-12 03:03] jdnarvaez commented on #264
When we did the US calibration and macro project for a different application, we allowed the user to draw a line in one or more directions then define the real world value within an input box and we stored that in a presentation state for presentation pixel spacing.

[2018-11-12 04:58] Zaid-Safadi commented on #264
That's helpful @jdnarvaez, thanks for sharing. Presentation state makes sense! so this is how you can actually set different calibrations for different frames/regions?

[2018-11-12 14:22] algates90 opened #703 "Store the angle inside the tool for outside access"
### Prerequisites

* [X ] Are you running the latest version?
* [X] Are you reporting to the correct repository?
* [ ] Did you perform a cursory search?

For more information, see the `CONTRIBUTING` guide.

### Description

cornerstoneTools.getToolState(element,'length') -- returns the calculated length value

![image](https://user-images.githubusercontent.com/30894700/48352905-52945f00-e68e-11e8-

[2018-11-12 19:56] jewettdiane commented on #630
[Highlight Touch Error](https://codepen.io/jewettdiane/pen/XyNYLq)

enabledElements.js:163 Uncaught Error: element not enabled
    at Module.getEnabledElement (VM919 cornerstone.js:2397)
    at u (VM921 cornerstoneTools.min.js:2)
    at t.getToolState (VM921 cornerstoneTools.min.js:2)
    at Object.f [as createNewMeasurement] (VM921 cornerstoneTools.min.js:2)
    at VM921 cornerstoneTools.min.js:2

[2018-11-12 20:55] dannyrb commented on #630
The error is being thrown in the tool's `createNewMeasurement` method. When the `MouseEvent` is passed to it, it uses `mouseEventData.event.currentTarget`. This same value is `null` when touch calls `createNewMeasurement` with `TouchEvent`

The `TouchEvent` has a `event.srcElement` and `event.target` would need to be used when creating a measurement for a `TouchEvent`

[2018-11-13 05:15] RutulSB opened #704 "Create a custom measurement tool."
Hello,
I am using the latest version of cornerstone scripts. I'd like to acknowledge the work you are doing here and I must say cornerstone is a great library. It has certainly helped a lot. I have been using this for quite a some time now.
My question is, how do i write a custom measurement tool(I wish to write a linked-line tool) ? And i cannot see length.js

[2018-11-13 05:19] RutulSB commented on #684
@dannyrb I have copied this part of code and pasted it in my loadAndViewImage function as follow :

  function getPixelSpacing(dataSet) {
            // NOTE - these are not required for all SOP Classes
            // so we return them as undefined.  We also do not
            // deal with the complexity associated with projection
            // radiographs here and leave that to a higher layer

[2018-11-13 05:35] RutulSB commented on #684
so how do i get measurements done in US
 ?

[2018-11-13 09:28] RutulSB commented on #684
The issue u asked me to refer was for X-ray and not for US.

[2018-11-13 14:39] PunyFlash opened #705 "Orientation markers"
### Prerequisites

* [X] Are you running the latest version?
* [X] Are you reporting to the correct repository?
* [X] Did you perform a cursory search?

### Description

Orientation markers hiding behind the bottom boundarie of the picture when changing the viewport. By default bottom marker always hidden

**ERIK REMOVED THE IMAGE BECAUSE IT HAD PHI**

[2018-11-14 11:06] RutulSB commented on #684
@dannyrb  Thanks for all your inputs so far on this thread . We are working on a viewer focusing on UltraSound studies at the moment  and need to be firm about this  before
we move ahead .

As @ jdnarvaez mentioned above regarding region calibration we tried to explore more and came to know that Making measurements on Ultrasound images requires that your viewer support the "UltrasoundRegion Calibr

[2018-11-16 17:57] wwwillchen opened #713 "What is the plan for vNext?"
Hello -

I've been using cornerstone tools v2 for a while now and I noticed that the core team has been working on v3 (i.e. vNext branch) and I read through some of the issues and commits, but still have a couple of a high-level questions.

My impression is that v3 is primarily about refactoring / creating a plugin architecture / etc and not so much about new functionality. Is that correct?

Becau

[2018-11-16 19:05] dannyrb commented on #713
@wwwillchen, I actually have a _draft_ of a "Release Candidate" announcement I intend to polish up and publish that addresses the bulk of these questions. Here are a few high level answers. We can dig into specifics if the Release Candidate announcement doesn't cover information you're looking for:

Yes, it is primarily a refactor. It's goal is to make extending/adding functionality easier without

[2018-11-17 02:45] wwwillchen commented on #713
OK thanks for your detailed response. I'm guessing you'll announce on https://groups.google.com/forum/#!forum/cornerstone-platform?

Look forward to your RC.

[2018-11-18 17:41] diego0020 opened #714 "CobbAngle is not showing the measurement"
Issue can be reproduced here: https://deploy-preview-718--cornerstone-tools.netlify.com

[2018-11-18 23:06] Zaid-Safadi commented on #690
This is caused by the version of cornerstone shipped in the examples being older. I fixed this locally by referencing the latest version from unpkg instead of the local:
`<script src="https://unpkg.com/cornerstone-core/dist/cornerstone.js"></script>`

I can go ahead an update all the examples to always reference the latest cornerstone as above unless there is a reason it is preferred to ship it al

[2018-11-22 03:14] dannyrb commented on #713
@wwwillchen, I don't frequent the forum as often as I should. I'm ashamed to admit it, but the look and feel of it scares me away :P

I will make sure to cross-post any announcements made in this repository to that forum -- I appreciate the reminder.

[2018-11-22 03:14] #713 closed

[2018-11-22 03:15] dannyrb commented on #704
See: https://tools.cornerstonejs.org/custom-tools/#creating-your-tool

If you run into hurdles with the documentation, feel free to continue the conversation here and I will do what I can to assist. A `codepen`, `gist`, etc. would be helpful for providing feedback.

[2018-11-22 03:15] #704 closed

[2018-11-22 03:20] dannyrb commented on #695
@PunyFlash, do you have a `gist`, `codepen`, or `jsfiddle` that can be used to reproduce this issue?

[2018-11-22 07:56] tunglt1810 commented on #660
Thanks for v2.4.0

[2018-11-22 11:52] dannyrb commented on #660
@tunglt1810, does that mean your issue has been resolved?

[2018-11-22 14:01] PunyFlash commented on #695
[Sure](https://codepen.io/anon/pen/eQMpxx). "length" assigned to LMB, "eraser" assigned to RMB. You will get by drawing a few lines

[2018-11-22 14:03] dannyrb commented on #693
@hsahin , I believe this is a common problem for any tool that looks at pixel values. I've updated the issue and added labels to address the core issue here. While I will look at a fix for the `master` branch, I would prefer to see the work done in `vNext` to reduce the effort required to port changes.

[2018-11-22 14:20] dannyrb commented on #684
CornerstoneTools will use whatever pixelSpacing is provided by the `metaDataProvider`. Currently, regions are not supported. A single (row/column) pixelSpacing is applied to entire image.

While we have an ongoing issue for this feature, to my knowledge, no one is actively working on it. If you would like to contribute functionality, I would be happy to provide guidance and review any PRs. Feel fr

[2018-11-22 14:20] #684 closed

[2018-11-22 19:11] #466 closed

[2018-11-22 19:17] dannyrb commented on #537
@leonardorame, I believe there is an `imagePixelSpacing` tag, as well as an `imagerPixelSpacing` tag. I'm not sure which is technically correct.

[2018-11-23 13:14] dannyrb commented on #98
You can do this in `vNext`.

`store.state.tools` contains an array of tools. If you filter by tool's where:

- tool.mode is `active`
- tool.mouseButtonMask (array) contains the mouse button int

There is a very crude additional abstraction to help if your use case means tools will always be in sync across canvases.

I'll close this for now, but I'm open to a discussing a more explicit or friendlie

[2018-11-23 13:14] #98 closed

[2018-11-23 14:02] dannyrb commented on #177
Revisiting this, I'm not entirely sold on complex bindings such as this. This is something that is easier to add now more than ever, but when would we want `left` to be one tool and `left + ctrl` to be another? The example that comes to mind:

- freehand
- freehand sculptor

Mostly because they manipulate the same data. But you could argue that these might make more sense as a single tool, and you

[2018-11-23 14:04] dannyrb commented on #187
This is a global setting that defaults to false in `vNext`. You can set it globally, or override behavior on a per tool basis in the tool's configuration.

If you are using `vNext` and need assistance, please don't hesitate to reach out as the docs are still coming along and may not explain this adequately.

[2018-11-23 14:04] #187 closed

[2018-11-23 14:21] dannyrb commented on #296
All zoom tools should now have an invert option. It's worth noting that there is an issue with zoom wheel caused by inconsistent scroll direction across browsers: Chrome v. FF

If you're having issues setting the invert option in `vNext`, feel free to create a separate documentation issue, question, or PR

[2018-11-23 14:21] #296 closed

[2018-11-23 15:43] JamesAPetts commented on #339
@dannyrb , yeah looks like it. If we wanted to achieve something like this I would save the resulting tool data as a freehand ROI so it can be used in the same way. I'd just extend the freehand tool, let the user draw something (i.e. a blob), and do the growth on completion.

[2018-11-23 15:50] dannyrb commented on #346
Closing this as part of issue clean-up. Feel free to continue the discussion here, or if you have a new question or feature request, you can create a new issue.

[2018-11-23 15:50] #346 closed

[2018-11-23 15:52] JamesAPetts commented on #339
There is a lot of room for growth in the way we  generate freehand and brush toolData through other tools.

[2018-11-23 18:04] dannyrb commented on #422
Duplicates: https://github.com/cornerstonejs/cornerstoneTools/issues/177

I've added a comment there regarding this functionality. There are technically ways to achieve it in vNext for custom tools. Updating the EventDispatchers to handle this would be easy enough, but it's at least worth discussing if this is the best path forward.

[2018-11-26 12:52] leonardorame opened #731 "onmousemove element not enabled (after cornerstone.disable(element))"
### Prerequisites

* [X] Are you running the latest version?
* [X] Are you reporting to the correct repository?
* [X] Did you perform a cursory search?

For more information, see the `CONTRIBUTING` guide.

### Description

I'm implementing a "delete" option to my viewer. When the user selects the delete tool (a custom tool implemented outside of Cornerstone) and clicks (onmouseup) on an enabled el

[2018-11-26 12:55] dannyrb commented on #731
@leonardorame is this in `v2` (master) or `vNext`? Does your tool add event listeners?

[2018-11-26 12:58] leonardorame commented on #731
Hi @dannyrb, I'm using 2.4. Yes, my tool adds `onmousedown` on `onmouseup`event handlers to the `div` clicked by the user.

[2018-11-26 13:04] dannyrb commented on #731
@leonardorame, to the best of my knowledge v2.x does not listen for cornerstone's disabled event. You would either need to add that logic to your tool, or manually deactivate and remove listeners for your tool (if I'm understanding your issue).

[2018-11-26 13:06] leonardorame commented on #731
Ok. Now, how can I notify a disabled element to `cornerstoneTools`?

[2018-11-26 13:09] dannyrb commented on #731
You'll need to check the list of events in the latest version of `cornestone-core`. I believe it emits an event when it is disabled. You would add a listener for that event when your tool is activated. If you hear the event, then you would handle the event by deactivating your tool.

[2018-11-26 13:09] #731 closed

[2018-11-26 16:30] dannyrb commented on #690
Thanks for the fix, @Zaid-Safadi 🎉
If anyone is still having issues, please feel free to continue the conversation here or create a new issue.

[2018-11-26 16:30] #690 closed

[2018-11-26 21:15] dannyrb commented on #252
Per #732

[2018-11-26 21:15] #252 closed

[2018-11-27 17:09] dannyrb commented on #643
From the related pull request:

I'll leave this issue open for ~6-months after `vNext` becomes `v3`; if we don't have an implementation by then, I'll likely close this issue and mark as `wontfix`

[2018-11-27 17:34] dannyrb commented on #695
@PunyFlash,

It looks like the `eraser` tool sets it's `mouseButtonMask`, but does not filter on it in any of its events. This would cause it to handle events for all mousebuttons: https://github.com/cornerstonejs/cornerstoneTools/blob/master/src/imageTools/eraser.js#L80

If you or anyone else wants to add that filtering, I would be more than happy to take a look at the PR. All of my bandwidth is

[2018-11-27 17:35] dannyrb commented on #660
Closing for now. Feel free to continue the conversation if this has not been resolved.

[2018-11-27 17:35] #660 closed

[2018-11-28 14:37] pavankuppa opened #735 "About Reference Lines using WADOURI"
I have series for the study. How to use reference lines tools for those series to apply
Images are fetching through WADOURI

As per threads i can get metadata like ```cornerstone.metaData.get("imagePlaneModule", "wadouri:someurl")```

Live Examples mention about axial and coronal.  Do we need to know concepts of Axial & Coronal.

[2018-11-29 19:52] dannyrb opened #737 "🎉 Announcement: Version 3 - Release Candidate"
# Version 3 - Release Candidate

[code]

_What is a Release Candidate?_

Release candidates are created once no more critical bugs have been reported in a given beta release. These are considered nearly stable code, something the Cornerstone Tools development community is considering as a candidate to be released as a new official major version.

_Our goals for this release:_

- Improve maintainab

[2018-11-29 20:11] evren217 opened #738 "Default tool configuration is overwritten by custom configuration passed to constructor"
I think we should merge default and custom configuration objects.
See: https://github.com/cornerstonejs/cornerstoneTools/blob/vNext/src/tools/ReferenceLinesTool.js#L31

[2018-11-29 20:18] galelis commented on #738
A possible solution could be:
Make the BaseTool handle the merge of configurations (similar with ReactJS Components)
- create a static object with a protected name, maybe: `defaultConfiguration`.
- constructor should pass whatever it receives to super (BaseTool)
- BaseTool should get `defaultConfiguration` and `configuration` and merge it correctly.

[2018-11-29 20:57] leonardorame commented on #737
Congratulations @dannyrb and team, well done!. This comes just in time for the new version of my viewer.

[2018-11-29 21:39] kevinleedrum commented on #737
Excellent work, my dudes. 💯

[2018-11-29 21:50] JamesAPetts commented on #737
Been a pleasure working on this with ya'll, nice to see it at this stage :)!

[2018-11-30 18:44] jmhmd commented on #737
Congratulations on the release! Looking forward to diving in. I'm still running a *very* old version I believe, so I've got some major updating to do 😄

[2018-12-02 11:58] leonardorame opened #741 "Tiling images of same series"
### Prerequisites

* [X] Are you running the latest version?
* [X] Are you reporting to the correct repository?
* [X] Did you perform a cursory search?

### Description

I would like to display a series in tiles (i.e. 2x2), each tile has only one image. When the user scrolls one of the tiles, all others should be scrolled as well.

Does CornerstoneTools have a tool to help me with this or I have t

[2018-12-02 21:06] MaherJendoubi opened #742 "Dev experience is not clear."
### Prerequisites

* [ yes ] Are you running the latest version?
* [ yes ] Are you reporting to the correct repository?
* [ yes ] Did you perform a cursory search?

For more information, see the `CONTRIBUTING` guide.

### Description

The dev experience is not enough clear for me.
I used the instructions described in the docs https://tools.cornerstonejs.org/installation.html from DEV BUILD section

[2018-12-05 16:00] PunyFlash opened #745 ""Crop" image"
I'm trying to crop displayed image using
[code]
When i set custom area, the tools still uses whole image area. Is there a properly way to crop image?

[2018-12-05 16:36] swederik commented on #745
That looks like PHI so I am removing the image. @Zaid-Safadi can maybe answer the tool question.

[2018-12-06 02:55] Zaid-Safadi commented on #745
@PunyFlash you can see the example here:
https://github.com/cornerstonejs/cornerstone/blob/master/example/displayedArea/index.html#L118-L132

Make sure you set the viewport back into cornerstone after you update it:
`cornerstone.setViewport(element, viewport);
`

[2018-12-06 06:36] PunyFlash commented on #745
I set the viewport. IDK what is PHI, but image was needed to understand issue. Tools uses image object and its Metadata to display lengths, angles etc. That's why after I set a viewport the image size don't change. And tools uses coordinates that actually was croped

[2018-12-06 11:35] leonardorame commented on #741
Sorry, this is done using a `stackScrollSynchronizer`.

[2018-12-06 11:36] #741 closed

[2018-12-06 12:11] Zaid-Safadi commented on #745
I misread the question initially. I see your problem now.

Yes, displayed area is only used for rendering the image on the canvas at the moment. The tools needs to be updated to take this into consideration when doing any calculations.

[2018-12-06 14:33] leonardorame opened #748 "How to synchronize multiple elements containing same series"
### Prerequisites

* [X] Are you running the latest version?
* [X] Are you reporting to the correct repository?
* [X] Did you perform a cursory search?

For more information, see the `CONTRIBUTING` guide.

### Description

I would like to know how can I synchronize multiple elements, all of them containing the same series but each with an offset of 1 relative to the previous element. For example,

[2018-12-06 14:41] dannyrb commented on #748
@leonardorame, you would likely need to setup the initial state yourself.

1. User clicks "Tiled Viewing" button
2. Viewer enables elements, builds stack state, displays appropriate series image in each enabled element
3. StackScrollSynchronization is automatically enabled, using a strategy where `+`/`-` scrolls to any enabledElement increment or decrement the stackScroll index for all other enabl

[2018-12-06 14:55] leonardorame commented on #748
hi @dannyrb, I already did exactly that, but isn't working as I expect.

My grid is this:

    +---+---+
    | 1 | 2 |
    +---+---+
    | 3 | 4 |
    +---+---+
When I place the mouse pointer over 1 and scroll, only 2 and 4 are changed, but not 3. When I place it on 2, only 3 and 4 changes.

I would like to be able to change the page, or a row. After scrolling the grid should end as this:

    +--

[2018-12-06 15:45] leonardorame commented on #748
To clarify this, this snippet is the one I'm using:

[code]
Is it ok, or I need to change it?.

[2018-12-06 17:59] leonardorame commented on #748
It looks like the problem is happening because I'm using the same "series" object for all the elements. When I check `currentImageIdIndex` I get the same value for all the elements.

[2018-12-06 18:09] leonardorame commented on #748
Mmm, no, when I create a copy of the series all the elements are synchronized to the same element.

[2018-12-06 18:15] leonardorame commented on #748
Btw, I'm using `cornerstoneWADOImageLoader`to load my images, and I don't have a metadataProvider. Should I create one for this?.

[2018-12-06 19:44] dannyrb commented on #748
1. You shouldn't need a `metadataProvider`
2. Each element's stack data should be a reference to a different object
  - You don't want them updating the others' state
3. You'll want to verify you're using the correct strategy/synchronizer.

[2018-12-07 00:13] JesusParra opened #749 "Is it possible to change the measurement unit from mm to centimeters?"
### Prerequisites

* [x] Are you running the latest version?
* [x] Are you reporting to the correct repository?
* [x] Did you perform a cursory search?

For more information, see the `CONTRIBUTING` guide.

### Description

[Description of the bug or feature]

### Steps to Reproduce

1. Is it possible to change the measurement unit from mm to centimeters maybe with a new parameter?
**Expected behav

[2018-12-07 00:31] dannyrb commented on #749
@JesusParra, not currently. I'd be open to adding this as a configuration option, if done in a smart way, in our `vNext` branch. If you want to discuss implementation details, we can discuss?

[2018-12-07 10:36] leonardorame commented on #748
Hi @dannyrb, I managed to make it work, but it looks like the `stackScrollSynchronizer` should allow constraining the the stacks.

An example. The stack has 6 elements in a grid of 2x1, this is the scrolling sequence:

Initial state:
![image](https://user-images.githubusercontent.com/1405017/49642410-b8f07100-f9f1-11e8-9302-d60822534e72.png)

After dragging down the right side cell:
![image](https

[2018-12-07 12:08] dannyrb commented on #748
Well done on your progress ^_^

It's a bit odd, as synchronizes mostly react to a change on one element and update the others. It might be hard constrain your scroll range using it.

In `vNext`, you can get away with not using a traditional synchronizer, as the store allows you to see the state of each element, allowing for finer control in situations like this.

You could explore a custom tool? O

[2018-12-07 12:11] leonardorame commented on #748
Thanks!, I was thinking exactly about this, to create a different stack for each element. Let's try it and I'll be back.

[2018-12-07 14:09] PunyFlash commented on #745
Is there a way to use an edited image and
[code]
for this task? I tried to change width and height properties, but it completly broke the image.
![image](https://user-images.githubusercontent.com/14828695/49652342-7f902380-fa3a-11e8-910c-2e3b3c0252a2.png)

[2018-12-07 16:06] JesusParra commented on #749
It's ok, if I have some dubts or if I can to solve it I'll let you know

[2018-12-12 02:03] sumilying opened #751 "is this lib support display the overlayData(60003000) of dicom"
### Description

 Some dicom file have imageData(0x7fe00010) and overlayData(0x60003000);corner tools draw imageData default,but the overlayData is ignore default. Is there other display method to show both the imageData and overlayData at the same time.

[2018-12-13 07:50] sumilying commented on #751
Some dicom file  have imageData(0x7fe00010) and overlayData(0x60003000);corner tools draw imageData default,but the overlayData is ignore default. Is there other   display method to show both the imageData and overlayData at the same   @time.

[2018-12-14 17:23] JamesAPetts commented on #579
Just confirming I'm now working on this.

[2018-12-17 07:29] ofleaf opened #754 "doesn't work Stack Image Position Offset Synchronizer Tool except CT, MR"
I using stack image position offset synchronizer tool.
When I load MR or CT image it works.
But when I load another modality image, syncing will not take effect.

I tried debugging, MR and CT images were successfully entered into the stack list, but other images were failed.

[2018-12-17 13:19] JamesAPetts commented on #579
This is fixed for the brush layer for arbitrary rotations + h/v flips in #755.

The issues with the elliptical and rectangular ROI tools remain for now.

[2018-12-17 14:30] dannyrb commented on #754
Can you share a repository that demonstrates this issue, or a codepen?

[2018-12-18 08:36] ofleaf commented on #754
Hi Danny, thanks for reply

I uploaded test source.

https://github.com/ofleaf/cornerstone-demo

You can run using npm run dev and load test image files you can find
/src/assets/image folder.

That's ES modality and I checked it doesn't works about synchronizer tool.

2018년 12월 17일 (월) 오후 11:30, Danny Brown <notifications@github.com>님이 작성:

[2018-12-24 08:50] YanZiSen opened #758 "stackImagePositionOffsetSynchronizer does not work and no error are thrown"
### Prerequisites

* [ ] Are you running the latest version?
* [ ] Are you reporting to the correct repository?
* [x] Did you perform a cursory search?

For more information, see the `CONTRIBUTING` guide.

### Description

I imitate demo to achieve the function which maintain the distance in patient space between multiple stacks,but it doesnt work and no error thrown

### Steps to Reproduce

1. in

[2018-12-24 13:56] catalinaduplat opened #759 "Mean and StdDev are cero in RectangleROI and EllipticalROI (vNext)"
### Prerequisites

* [X] Are you running the latest version?
* [X] Are you reporting to the correct repository?
* [ ] Did you perform a cursory search?

For more information, see the `CONTRIBUTING` guide.

### Description

Sometimes when creating an elliptical or rectangle ROI, the mean and StdDev are cero, if you move the measurement then the values change.

Issue can be reproduced here: https://

[2018-12-24 16:03] dannyrb commented on #759
Thanks for the issue report, @catalinaduplat! I'm able to reproduce this. It should be a simple fix. I'll address it after the holidays :+1:

If you need this patched sooner rather than later, feel free to submit a PR and tag me for review.

[2018-12-25 01:59] YanZiSen commented on #758
I'm sorry for I'm making a lower-level mistake.
Now i solved my problem, a low-level error, did not introduce metaDataProvier.js.

[2018-12-25 02:02] #758 closed

[2018-12-25 04:30] dannyrb commented on #758
Thanks for taking the time to update and close the issue, @YanZiSen :+1:
If you need assistance or clarification in the future, please don't hesitate to reach out.

[2019-01-04 03:41] kofifus opened #761 "http://chafey.github.io/cornerstoneDemo/ not working"
The demo at http://chafey.github.io/cornerstoneDemo/
linked from https://github.com/cornerstonejs/cornerstoneTools
does not load any images ..

[2019-01-04 03:55] kofifus opened #762 "Cobbs angle broken"
This must have happened in some recent code change cause I know it was working before.

- go to https://rawgit.com/chafey/cornerstoneTools/master/examples/allImageTools/index.html
- click Angle
- create an angle
- now try to grab the center circle connecting the two lines and drag it

That used to create a cobbs angle but now that circle (+label)  just goes out but the lines don't change ..

Would

[2019-01-04 05:13] kofifus commented on #737
Thanks for this ! great effort !

I wanted to ask what is the status of the cornerstone core code at https://github.com/cornerstonejs/cornerstone

It seems like development is stopped and PRs are not merged or responded to. Any news on that ?

[2019-01-04 13:16] dannyrb commented on #761
If this is still linked in the ReadMe, then it needs to be changed. Not sure that demo has been maintained for a while now.

[2019-01-04 13:39] dannyrb commented on #737
@kofifus, core sees updates less frequently because it does _most_ of what we already need it to. Also, the enhancements it does need require expertise that is harder to come by.

I believe the OHIF roadmap has some work slated for Core, but I would have to double check.

If there are specific features, tests, etc. That you would like to see come to fruition, we're always looking for Champions! Un

[2019-01-07 00:51] kofifus commented on #737
Sure I understand that !

Pending for me are:

- https://github.com/cornerstonejs/cornerstone/issues/276 is IMO a pretty major performance issue, I have fixed that and we've been working with the fix for over a year, I am happy to submit a PR but as it is quite involved it only makes sense if it will be seriously considered ..

- https://github.com/cornerstonejs/cornerstone/pull/319 which is a bug

[2019-01-08 03:57] kofifus commented on #341
It is important to note that DICOM multiframes contain importunate information on _how_ to cine the frames in terms of timing etc

see: http://dicom.nema.org/medical/Dicom/2017e/output/chtml/part03/sect_C.7.6.5.html

Ideally we should have a tool that can cine a multiframe according to these parameters !

[2019-01-08 21:09] DavidHS03 opened #763 "Get images with "alltouchtools" from an url on my server."
I have tried to obtain it with cornerstone-wado-image-loader

var imageId = 'wadouri:' + imageUrl;

But it does not show any error or show me the image.
There will be another way to get image dicom from url and use it in "AlltouchTools"

I show the complete code:
  cornerstoneWADOImageLoader.external.cornerstone = cornerstone;
        var element = document.getElementById('dicomImage');

        f

[2019-01-09 03:43] DMIAOCHEN opened #764 "stack scroll when measurement handles drag"
Hi All,
is there any way to prevent scroll when drag the measurement handles in touchevent

![example](https://raw.githubusercontent.com/DMIAOCHEN/RawGit/master/Images/measurehandleissue.gif)

[2019-01-09 12:58] dannyrb commented on #764
You would disable the touch scrolling tool while an annotation tool is active.

[2019-01-09 13:06] dannyrb commented on #763
[code]

`imageId` would equal `wadouri:../../../files/ana belen bravo medina-RAD-00000003` as your code is written. Unless you're using a custom image loader or non-default settings, an example ID would look more like:

`wadouri:https://www.mywebsite.com/path/to/an/image/asset.dcm`

[2019-01-09 13:45] DMIAOCHEN commented on #764
Is there any event triggered when annotation  active and inactive？

[2019-01-10 15:54] GabrielFDuarte commented on #762
Just solved it here changing the function onImageRendered(e) present in cornerstoneTools.js for the same function present in older versions, like cornerstoneTools.js v0.7.8. You just need to remove eventData at parameter and create const eventData = e.detail; at the top inside function.

[2019-01-11 11:02] GabrielFDuarte commented on #762
I'll give you the changes. Still learning how to use GitHub ...
I changed the onImageRendered (e, eventData) function at line 982 of the cornerstoneTools.js file to the old version, v0.7.8 version of the same file.

[code]
This is how I am using it, and it's working here. I hope it can be useful for you.

[2019-01-15 04:22] DavidHS03 opened #768 "Error combining 2 libraries: Can not read property 'SUPPORT_POINTER_EVENTS' of undefined"
Hello community, I hope you can help me solve this issue:
Combine 2 libraries (cornerstoneWADOImageLoader-> wadouri / index.html) and (cornerstoneTools-> alltouchtools / index.html)

cornerstoneWADOImageLoader: I use this library to convert a URL to an object image, then I'm interested in the cornerstoneTools library to get the tools that are used in that example.
If the DICOM image is shown in my

[2019-01-15 17:39] dannyrb commented on #768
Hi @DavidHS03, can you create a codepen or minimum reproduction of this issue in a repo/gist that you can share?

The `.php` errors are a bit odd.

[2019-01-15 18:50] DavidHS03 commented on #768
Thank you very much for the answer, give me a few hours to be able to create a codepen quickly

[2019-01-16 19:10] DavidHS03 commented on #768
I'm trying to combine the WADO and Cornerstonejs libraries and I've already managed to get my image from a URL so I can show it with the tools of the alltouchtools example, but some tools do not work mainly WW / WC.
I hope you can help me, I show the code:

      cornerstoneWADOImageLoader.external.cornerstone = cornerstone;
       cornerstoneWADOImageLoader.configure({
          beforeSend: funct

[2019-01-21 21:52] kofifus commented on #751
duplicate of https://github.com/cornerstonejs/cornerstone/issues/277

[2019-01-22 08:18] tunglt1810 commented on #735
Hi,
I have a question for this reference lines tool. What is proper attribute used by this tool, frameOfReferenceUID or imagePlaneModule. My study does have frameOfReferenceUID value in each instance, but it has enough property of image plane module, which specified in DICOM Standard
http://dicom.nema.org/medical/dicom/2018a/output/chtml/part03/sect_C.7.6.2.html

[2019-01-22 19:25] #768 closed, assigned to nobody

[2019-01-25 04:52] dannyrb commented on #768
@DavidHS03, were you able to resolve your issue?

[2019-01-25 05:16] dannyrb commented on #735
It does a quick/simple calculation:

- [calculateReferenceLine.js](https://github.com/cornerstonejs/cornerstoneTools/blob/vNext/src/tools/referenceLines/calculateReferenceLine.js#L19-L29)
- [pointProjector.js --> planePlaneIntersection](https://github.com/cornerstonejs/cornerstoneTools/blob/vNext/src/util/pointProjector.js#L134-L210)

It looks like it uses a combination of:

- `rowCosines`
- `colu

[2019-01-25 14:00] dannyrb commented on #751
Thanks, @kofifus!
@sumilying feel free to add clarification or additional information if you don't believe this issue is a duplicate; otherwise, please continue discussion in the thread @kofifus linked to.

[2019-01-25 14:00] #751 closed

[2019-01-25 14:16] dannyrb commented on #762
merged :shipit:
Thanks for your work on this 👍

[2019-01-25 14:16] #762 closed

[2019-01-27 05:47] kofifus opened #773 "The two online examples of angleTool behaving differently"
Example 1 is in:
https://rawgit.com/chafey/cornerstoneTools/master/examples/allImageTools/index.html
(part of the "All Image Tools Example" pressing "Angle")

Example 2 is in:
https://rawgit.com/cornerstonejs/cornerstoneTools/master/examples/angleTool/index.html

The two examples behave differently on clicking, while example 1 seems to work correctly (to me), in example 2 if you click (press+relea

[2019-01-27 08:07] Zaid-Safadi opened #774 "freehand tool doesn't fire MEASUREMENT_MODIFIED event"
### Prerequisites

* [ ] Are you running the latest version?
Using v2.4.0
* [x] Are you reporting to the correct repository?
* [x] Did you perform a cursory search?

For more information, see the `CONTRIBUTING` guide.

### Description

The freehand tool doesn't fire the cornerstonetoolsmeasurementmodified event as the other measurement tools

Not sure if this issue is fixed in vNext.

### Steps to

[2019-01-27 08:14] Zaid-Safadi opened #775 "Freehand handles not closed after loading state data"
### Prerequisites

* [ ] Are you running the latest version?
V2.4.0
* [x] Are you reporting to the correct repository?
* [x] Did you perform a cursory search?

### Description
After loading the state of the freehand data. click on the first handle which closes the shape and drag, the handle and closing line will be separated and shape is not closed anymore.

### Steps to Reproduce

1. Save the fre

[2019-01-27 08:33] Zaid-Safadi commented on #775
When drawing the handles, the last handle line is an object that points to the first handle. The code intentionally doesn't update both handles on drag since it is the same object. However, once the data is saved/loaded, the object reference is lost.

To fix this, we should always update the last handle line to sync with the first handle position:

dragHandle  method:
[code]
can be changed such th

[2019-01-29 21:49] hypertelia commented on #761
+1 for seeing if the 'simple image viewer' could be fixed and/or removed from the ReadMe so as not to 'tease'. Doesn't _look_ to be failing over too much:
[code]

[2019-01-30 18:18] dannyrb commented on #775
@Zaid-Safadi, if you make a PR for v2, and vouch that this fix seems reasonable, and works after you've tested it a bit, I can merge it.

@JamesAPetts, it may be worth checking to see if this is a `vNext` issue as well.

I know we've been saying it for a while now, but we do intend to switch to vNext _very soon_. Our only hold-up right now is the _getting started_ documentation is outdated.

[2019-01-30 21:57] kofifus commented on #780
Thanks for the code, @jdnarvaez 👍 👍 very helpful

@dannyrb, IMO this is very core - DICOM overlays are not an added tool but an integral part of the image and cornerstone should be able to show them (ideally with toggle/opacity) even without the tools package ...

[2019-01-30 22:08] dannyrb commented on #780
@kofifus, you may be right. I don't have the qualifications to determine that one way or another. From my perspective, the tech side, we do most of our tag parsing and usage in loaders/tools. I don't think `core` ever uses `get` on a `metaDataProvider`.

Are `DICOM overlays` "rendering", or do they impact rendering? Is there a consistent visual result we expect if DICOM overlays are implemented?

[2019-01-30 22:40] kofifus commented on #780
The overlays are described by the dicom standard here - http://dicom.nema.org/dicom/2013/output/chtml/part03/sect_C.9.html

Usually you want to:
- toggle a particular layer on or off
- determine the opacity of the layer
- color them (less commonly useful I think)

So I think that core should have functions like - `ToggleOverlay(index)`, `SetOverlayOpacity(index)`, `setOverlayColor(index)`

Then a

[2019-01-31 05:33] kofifus commented on #780
Ok I came up with something

See PRs - https://github.com/cornerstonejs/cornerstoneWADOImageLoader/pull/239
and - https://github.com/cornerstonejs/cornerstone/pull/347

Basically wadouri metaDataProvider now accepts the type 'overlays' and reads and returns an array of overlays if existing in the dataset

then in core drawImageSync, if the image has overlays they are added to the canvas.

Each ove

[2019-01-31 14:18] dannyrb commented on #780
@kofifus, thanks for taking the time to PR these concepts! I think the `cornerstoneWADOImageLoader` enhancement makes sense, and is implemented well. It does make me wonder if we should pull out the _metaDataProvider_ into it's own repository, but that's just a side thought.

If you have any helpful, anonymized, images to test this functionality with, could you pass them along? I'm curious to see

[2019-01-31 16:52] jdnarvaez commented on #780
@kofifus I have updated the gist with the tag file. as far as examples, I suggest using the IHE test case for overlays.

[2019-01-31 16:53] jdnarvaez commented on #780
[ovly_p01.zip](https://github.com/cornerstonejs/cornerstoneTools/files/2818222/ovly_p01.zip)

[2019-01-31 16:54] jdnarvaez commented on #780
FWIW, that contains both the dicom file and the presentation state, as some overlays are read from the PR and one layer of the overlays is read from the embedded pixel data.

[2019-01-31 20:06] kofifus commented on #780
sure @dannyrb

Can you point out an existing tool that this is similar to and I can use as a skeleton ? I may give it a go ..
If the maintainers think a tool is better then we should try that but its more involved so I need more assistance or maybe someone else can take it from here ?

On a side note, regarding your metadata repository comment, personally I don't like the multiple repositories tre

[2019-02-01 01:25] kofifus opened #782 "Deactivating a specific tool"
I need a way to deactivate a single instance of a tool, that is ie for a specific length measurement prevent it's handles and line  from being 'grabbable' while other displayed tools (lengths/angles etc) remain 'grabbable' as usual.

How can this be achieved ? can it be done without changing cornerstoneTools ?

Thanks!

[2019-02-03 22:59] Zaid-Safadi opened #784 "deactivating/canceling freehand while drawing is not working"
### Prerequisites

* [ ] Are you running the latest version?
V 2.4.0
* [x] Are you reporting to the correct repository?
* [x] Did you perform a cursory search?

### Description
Trying to implement canceling a freehand while drawing is causing an error in the method:
[closeToolIfDrawing](https://github.com/cornerstonejs/cornerstoneTools/blob/master/src/imageTools/freehand.js#L1126-L1134)
[code]
The

[2019-02-03 23:52] Zaid-Safadi opened #787 "Add measurement completed event"
### Prerequisites

* [x] Are you running the latest version?
* [x] Are you reporting to the correct repository?
* [x] Did you perform a cursory search?

### Description
Currently the library support the following events for measurements:
- MEASUREMENT_ADDED: 'cornerstonetoolsmeasurementadded',

-   MEASUREMENT_MODIFIED: 'cornerstonetoolsmeasurementmodified',

-   MEASUREMENT_REMOVED: 'cornerstonem

[2019-02-04 01:55] dannyrb commented on #787
Hmm.. This is interesting and makes sense for most annotation tools that aren't "valid" until multiple steps are completed. Some interesting things to consider:

- The main benefit of this over using _added_ and _modified_ is that you don't need to "validate" annotations are in a "complete" storable/re-storable state.
    - IE. An unclosed `freehand`, or an `angle` with only two handles
- Is a mea

[2019-02-04 23:35] kofifus commented on #780
I removed the cornerstone PR (cornerstonejs/cornerstone#347)

and created an overlays tool - https://github.com/cornerstonejs/cornerstoneTools/pull/788

The tool is very simple having only enable and disable

Hope this helps :)

[2019-02-05 02:00] Zaid-Safadi commented on #787
Hey @dannyrb , here are some thoughts around this...

I can think of multiple use-cases where I need to do something once the user completes drawing the measurement. These are some examples that I actually encountered:
- validation
- displaying a dialog
- updating the measurement
- updating another UI to add the measurement.

For example, the arrow annotation displays an input dialog after complet

[2019-02-05 16:10] dannyrb commented on #737
@kofifus, I see your issues. I'm only closing this as there is a different announcement I intend to make. I will link to this issue in that announcement.

[2019-02-05 16:25] dannyrb opened #794 "🎉Announcement: Version 3 - RELEASED"
# Version 3 - RELEASED

We've just released a new major version of `cornerstone-tools`. Please feel free to play around, ask questions, submit issues, and pull request changes!

We are a _very_ small team, as such there may be many small inconsistencies in our documentation and examples. It's also possible we've missed one or two small changes that made it into `master` these last couple of months

[2019-02-05 17:48] dannyrb commented on #759
Fixed by: https://github.com/cornerstonejs/cornerstoneTools/pull/779
And: https://github.com/cornerstonejs/cornerstoneTools/pull/778

[2019-02-05 17:48] #759 closed

[2019-02-05 17:52] dannyrb commented on #642
@catalinaduplat, can you provide a reproduction for this issue? I know my company has a working Crosshairs tool, but I believe we use a custom synchronizer because we needed different behavior. If this is for sure not working, I can take a peak and see what the key differences are and at least provide some guidance on a fix.

[2019-02-05 18:05] dannyrb commented on #318
I'm going to close this issue. I think this is a great 3rd party tool idea, but it doesn't need to remain active/open. I've created a new tag to find interesting thought pieces like this, even when they're closed, a little bit easier.

This may be something that I port myself this year, but no promises. I have my sights set on MPR + VTK.js first. If anyone else does make the effort, please be sure

[2019-02-05 18:05] #318 closed

[2019-02-05 18:15] dannyrb commented on #339
This is likely something that can be accomplished by extending the `freehand` tool, or with a 3rd party tool/plugin. I'm going to close this issue for now. If you would like to discuss further, please feel free to comment or create a new issue.

If you believe this should be _core_ functionality, and you'd be willing to drive the effort, we can discuss updating the freehand tool or other options.

[2019-02-05 18:15] #339 closed

[2019-02-05 18:18] dannyrb commented on #342
This is a bit outdated. I'll create a new issue in our Documentation project as we tidy up everything surrounding the latest v3 release.

[2019-02-05 18:18] #342 closed

[2019-02-05 18:21] dannyrb commented on #676
@hu3402379, I didn't realize this at first, but if you're using the latest version of `cornerstone-tools` (version 3), you can enable canvases to automatically sync their active tools.

If you do this, when you use the magnification tool, the enabled element created by the magnification tool will activate the annotation tool and render it's data for the displayed image.

As we build out the docs f

[2019-02-05 18:21] #676 closed

[2019-02-05 18:59] #364 closed

[2019-02-05 19:01] dannyrb commented on #377
If we don't see any activity on this issue for another few months, I will likely close it. If you can reproduce this issue in the latest version (Version 3), please open a new issue with your findings and reproduction.

[2019-02-05 19:03] dannyrb commented on #379
Hi @hardmaster92, do you encounter this same issue in Version 3? If so, can you create a new issue and reproduction?

If this issue doesn't see much more activity, I will likely close it within the next 6-months.

[2019-02-05 19:05] dannyrb commented on #389
This issue has not seen much activity. I'm going to close it for now. Please feel free to comment here, either with a reproduction, or to continue the discussion and we can re-open if need be.

[2019-02-05 19:05] #389 closed

[2019-02-05 19:08] dannyrb commented on #408
I believe the question here has been answered. We can create a new issue for discussion/implementation details should/when we decide to move forward on this.

[2019-02-05 19:08] #408 closed

[2019-02-05 19:11] dannyrb commented on #409
I think the heart of this question has been answered. Improving tool state export/import will likely become more and more of a priority, but we can tackle that in a different issue.

Thanks for all of your thoughts and help on this issue everyone!

@all-contributors please add @pieper for Answering Questions

[2019-02-05 19:11] #409 closed

[2019-02-05 19:15] dannyrb commented on #422
See comments in #177. I'm open to adding something like this to our roadmap, but I want to be sure that tools with key modifiers aren't the better decision here. Feel free to kickstart this conversation again.

[2019-02-05 19:15] #422 closed

[2019-02-05 19:16] #735 closed

[2019-02-05 19:26] #482 closed, assigned to nobody

[2019-02-05 19:34] dannyrb commented on #537
@algates90, this is definitely a consistency/clean-code issue. Our image loaders store a few values on the image, but they're often identical to what's added to the `metaDataProvider`. For consistencies sake, I think we should always pull from the `metaDataProvider`

This feels like a good, low priority, first-issue. I've marked it as such.

Someone can claim it, or it will hopefully be picked up

[2019-02-05 19:42] dannyrb commented on #626
I'm going to close this issue. If some brave soul wants to spearhead a PR for `Version 2`, feel free to comment/re-open. We will be providing very limited support for V2 requests, so it may be in your best interest to migrate to Version 3

[2019-02-05 19:42] #626 closed

[2019-02-05 19:50] dannyrb commented on #630
This likely will not get patched in version 2. If you want to spearhead the effort, feel free to comment, and I can re-open this issue for 6-months or until the PR is merged (whichever happens first).

Your best bet is to give version 3 a go. If this issue exists in v3, create a new issue. If the tool was removed in v3, consider creating a `3rd Party Tool` and have it listed in our 3rd Party Tool

[2019-02-05 19:50] #630 closed

[2019-02-05 19:52] #643 closed

[2019-02-05 19:55] dannyrb commented on #646
@JustinTQ this does not appear to be a `cornerstone-tools` issue, and may instead be related to Cornerstone. If you're sure the DICOM file contains appropriate tags and should render differently, then we can investigate further.

Until then, I'm going to close this issue.

[2019-02-05 19:55] #646 closed

[2019-02-05 19:56] dannyrb commented on #655
@catalinaduplat this should be fixed in master now that `vNext` is merged. If you're still having issues, please comment and I will re-open this issue.

[2019-02-05 19:56] #655 closed

[2019-02-05 20:01] #659 closed

[2019-02-05 20:36] dannyrb commented on #745
@all-contributors please add @Zaid-Safadi for answering Questions

[2019-02-05 20:40] dannyrb commented on #745
@PunyFlash, image pixel values are stored in an array. The width/height help us determine, while iterating over that array, the row/column of each pixel value. Incorrect values can cause the image you've included in your last comment.

This issue is a bit stale. I believe the heart of it has been answered. If you think this is something that should be supported, please consider creating a new issu

[2019-02-05 20:40] #745 closed

[2019-02-05 21:51] kofifus commented on #794
Thanks! Is there any summary of changes/differences between V2 and V3 ? Also is there any upgrade guide etc ?

[2019-02-06 04:34] dannyrb commented on #764
The behavior you're describing should be the default in the latest version.

There may not be an elegant solution for this in v2 without a PR. I'm a little surprised this happens -- I am unable to reproduce it in v2 latest. Can you provide a minimal code reproduction or try to reproduce this issue in v3?

[2019-02-06 04:35] #763 closed

[2019-02-06 05:49] kofifus opened #806 "Use ImagerPixelSpacing when PixelSpacing is missing"
Some modalities do not populate PixelSpacing (x00280030) in which case tools such as length show 'pixels' instead of 'mm'

In these cases is may be better to (instead of showing pixels) use ImagerPixelSpacing ('x00181164') if available.

We do that in our application however some may not desire that so maybe it should be configurable ?

See further info on those tags here - http://gdcm.sourceforge

[2019-02-06 05:50] kofifus commented on #537
@leonardorame @dannyrb I opened a separate issue for ImagerPixelSpacing vs PixelSpacing - see https://github.com/cornerstonejs/cornerstoneTools/issues/806

[2019-02-06 13:27] catalinaduplat commented on #642
Let me first check if with the released version this issue is still there. Thanks!

[2019-02-06 14:24] dannyrb commented on #773
Hi @kofifus,

We definitely need to do a better job at highlighting (and naming) the differences about these tools. The `All Image Tools` example is for the `Angle Tool`:

`cornerstoneTools.angle.enable(element);`

The `Angle Tool` example is for the `Simple Angle Tool`

`cornerstoneTools.simpleAngle.activate(element, 1);`

Where the "Simple Angle Tool" is more commonly referred to as a [Cobb Angl

[2019-02-06 21:42] kofifus commented on #806
FYI what we're doing here is:

[code]

[2019-02-07 03:06] dannyrb commented on #806
It's an interesting problem. There are a decent number of tags that can influence how measurements are interpreted. We touched on it a bit in an [ultrasound issue a while back](https://github.com/cornerstonejs/cornerstoneTools/issues/684#issuecomment-435048421).

The viewer I work in has a custom `metaDataProvider` that will set pixelSpacing to the "highest priority" tag. Ultrasound specific tools

[2019-02-07 04:13] dannyrb commented on #748
@leonardorame, I'm going to close this issue for now. If you haven't already, you may want to take a peak at the latest version of cornerstone-tools. I think the above would be a lot easier to accomplish with the recent library updates.

If you have specific questions, or code you'd like peer reviewed, I could take a peak and offer thoughts.

[2019-02-07 04:13] #748 closed

[2019-02-07 04:15] dannyrb commented on #749
This wasn't a formal request to add this behavior and I think the heart of the question was answered. If someone would like to see this as an enhancement, please feel free to create a new issue.

[2019-02-07 04:15] #749 closed

[2019-02-07 04:19] kofifus commented on #806
We actually really need US regions as well !

As I understand it you can't just use the values there - they are only relevant within a particular region .. if an US has multiple regions, different annotations (ie lengths) will have different values in mm in the different regions even if they have the same value in pixels.

Ideally also you want to show the regions so that a user does not create an

[2019-02-07 04:34] dannyrb commented on #782
@kofifus, I believe there is not an elegant way to do this. This does sound like it would be a good feature to have though, and one I'd be open to supporting.

There's a potential work around in the latest version. You can add multiple instances of the same tool type, but with different names:

[code]

Then, and this is the not-so-fun part, any length annotations you want to avoid interactivity wi

[2019-02-07 04:37] kofifus commented on #773
Thanks!

It seems that all example pages are down !
https://rawgit.com/chafey/cornerstoneTools/master/examples/allImageTools/index.html
and
https://rawgit.com/cornerstonejs/cornerstoneTools/master/examples/angleTool/index.html

We actually use them a lot here - is there anyway they can go back up ?

[2019-02-07 04:50] kofifus commented on #782
I would tend more towards having a flag in the tool's instyance to determine if it is 'frozen' or not

IN our case we have to different sets of annotations, ones coming from the PACS and ones created in the browser, we want to prevent the user from interacting with the PACS ones (just show them), both groups can contain different kinds of annotations ..

[2019-02-07 04:56] dannyrb commented on #773
@kofifus, as a stop gap you can use: https://5c5afda210c70e0008abc93e--cornerstone-tools.netlify.com/

I'm still trying to determine the best way to preserve [version 2's examples](https://rawgit.com/cornerstonejs/cornerstoneTools/v2.4.x/examples/allImageTools/index.html) as we continue to create new examples for version 3.

[2019-02-07 05:16] kofifus commented on #782
Great! I'll close this for now

[2019-02-07 05:16] #782 closed

[2019-02-07 05:18] kofifus commented on #773
hmm that seems to be quite broken, neither angle or cobbangle work

[2019-02-07 05:23] dannyrb commented on #773
@kofifus the most recent `Netlify` example _should_ be working.

![image](https://user-images.githubusercontent.com/5797588/52392149-8e14ae80-2a6e-11e9-8e07-2c99f9b1f91d.png)

If you're encountering issues, any steps you can provide to reproduce the issue would be appreciated.

[2019-02-07 05:32] kofifus commented on #773
ok I think I see the issue

if you drag while holding the mouse you get the correct behavior

however if you click+release then move it creates just lines which is buggy.

can you reproduce ?

[2019-02-07 05:40] dannyrb commented on #773
@kofifus, that appears to be the case. Both tools work as I would expect when `click` + `drag` for initial placement. However, `click` + `release` should probably have better initial handle placement.

![2019-02-07_00-37-25](https://user-images.githubusercontent.com/5797588/52392608-a38ad800-2a70-11e9-9878-3d55bbdbc1cb.gif)

@all-contributors please add @kofifus for finding a small usability bug

[2019-02-07 05:50] kofifus commented on #773
the bigger issue is if you do:

click+release
move
click+release
move
click+release
move
click+release
move

you end up with two 'dud' lines
I think this is confusing, there should not be a way to leave angles half done and move to another one

see:
![angle](https://user-images.githubusercontent.com/3926071/52393015-6b2edc80-2af8-11e9-88a9-b407e2cf8d8c.gif)

[2019-02-07 06:03] dannyrb commented on #773
@kofifus, I agree that it's an issue. I'll likely create a separate bug tracking issue for the change and mark it `Up For Grabs`. It's a bit late for me, so I'm off to bed. Thanks for bringing up this issue, and for continuing to report discrepancies and user experience short-comings 👍

[2019-02-07 06:05] kofifus commented on #773
no worries ... still early here

On Thu, Feb 7, 2019 at 5:03 PM Danny Brown <notifications@github.com> wrote:

[2019-02-07 13:15] swederik commented on #806
Yeah based on the link that @kofifus posted, it seems that falling back from PixelSpacing to ImagerPixelSpacing is fine. We should put that link in the code comments or something though. We also have to be sure that we aren't displaying `mm` if no values are present. If we don't know anything, we can't default to 1x1, we have to display things in `pixels` for safety.

Thanks @kofifus for pushing t

[2019-02-08 07:37] swederik commented on #806
Good question....

In my mind the metadata providers should just faithfully return the metadata, and the consumers should implement any logic like this.

Since I _believe_ it makes sense to also set the cornerstone `image`'s `rowPixelSpacing` and `colPixelSpacing` using this same logic (someone please correct me if I am wrong, would ImagerPixelSpacing ever break the way things are displayed?). In

[2019-02-08 18:25] dannyrb commented on #780
I've created a feature branch for us to iterate on the `cornerstone-tools` portion of this tool:

- `feature/overlay-tool`

When new code is merged, a release is cut and tagged on NPM for `@cornerstonejs/tools@feature-overlay-tool`

I have a CodeSandbox up that is using the `cornerstoneWADOImageLoader` and `cornerstoneTools` branches that pertain to this feature:

https://codesandbox.io/s/1qj7j8op

[2019-02-08 20:46] pzehle opened #822 "cornerstone_tools__WEBPACK_IMPORTED_MODULE_10__["mouseInput"].enable error on simple react installation"
### Prerequisites

* [ X] Are you running the latest version?
* [ X] Are you reporting to the correct repository?
* [ X] Did you perform a cursory search?

For more information, see the `CONTRIBUTING` guide.

### Description

I've been using cornerstonejs for quite some time now. I am currently trying to adapt my tool to use cornerstone tools. The problem is that I get this error and don't know ho

[2019-02-08 21:18] dannyrb commented on #822
Hello @pzehle, your codepen doesn't include any external dependencies. It looks like you've copy and pasted your code, but not actually imported any libraries.

A simple demo may be easier to build with CodeSandbox, as it supports static resources (like the webworker tasks). While less than ideal, you can see a simple setup using Vue + V3 of our `cornerstone-tools` in [this CodeSandbox template](h

[2019-02-08 21:35] pzehle commented on #822
Hello @dannyrb , you are right, sorry for that.

I am sending the full template [here](https://codesandbox.io/s/x2po962wlq). All dependencies are there and that is the code that should be working. Thanks again.

[2019-02-08 21:49] dannyrb commented on #822
@pzehle, we're getting closer (:

The `cornerstone-core` version you're using is 2 major versions behind. The `cornerstone-tools` version you're using is `3.x`, but the syntax you're using if for `cornerstone-tools@2.x`

[2019-02-08 23:19] pzehle commented on #822
@dannyrb thanks! :)

I am sorry for this question, but on npm's site, the latest versions are:

cornerstone-core: 2.2.8
cornerstone-tools: 3.0.2

Which are the ones that I am using.

Also, I've been searching for hours for examples on how to do this, and only the 2.x syntax comes to me. Would you be so kind to share examples with syntax from version 3?

Thanks again!

[2019-02-09 00:12] pzehle commented on #822
Also, I am moving to the syntax of version 3. Even calling `const csTools = cornerstoneTools.init();` returns undefined. Seems to me that I am on a dead end and cannot seem to find examples or further details on usage. I don't know if I should move back to version 2 or if you could help.

Thanks!

[2019-02-09 18:11] dannyrb commented on #822
@pzehle, version 3 has been out less than a week. There are some docs at:

https://tools.cornerstonejs.org

I'll whip up a minimal example that uses cornerstoneWadoImageLoader and share it here. If you encounter any pain points with the docs, specific targeted feedback will help us determine which parts need priority attention -- also, feel free to PR doc changes ^_^

[2019-02-09 18:58] pzehle commented on #822
@dannyrb thanks, I would really appreciate the minimal example. Personally, I have problems to start using a framework if no minimal examples are available, and in this case, even starting the framework returns undefined. The docs are OK, but I really have no idea how to start the framework. Once I have the minimal example, I can now continue with the docs and debug myself. So, thanks for the supp

[2019-02-09 20:10] #714 closed

[2019-02-10 04:33] dannyrb commented on #822
## Live Example:

- Sandbox, using your `.dcm` file: https://codesandbox.io/s/9z04x8ykjr

## Notes

### Input Listeners

_Version 2_
[code]

_Version 3_
[code]
In version 3, we listen for these by default for each `enabledElement` you create after calling `cornerstoneTools.init({ /*option*/ })`

### Activating Tools

_Version 2_
[code]

In Version 2, we can `activate` a built-in tool for a given `

[2019-02-10 04:41] dannyrb commented on #822
I think I've answered the heart of your question. I'm going to close this issue, but we can continue to discuss here. If there are _actionable_ items that should result in specific updates to the documentation or changes to the library, we can create a new issue.

[2019-02-10 04:41] #822 closed

[2019-02-10 11:10] pzehle commented on #822
@dannyrb I really need to thank you, not everyone helps with this kind of issues to people like me haha. Many thanks. Now it is working, I am not really sure where was the problem, but now I can use / debug the tools myself, also, I kind of understand the API now that I can initialize the framework.

Just two small questions, and let me know if you can help.

1. I have a set of dicom images and I

[2019-02-10 13:35] pzehle commented on #822
@dannyrb I really need to thank you, not everyone helps with this kind of issues to people like me haha. Many thanks. Now it is working, I am not really sure where was the problem, but now I can use / debug the tools myself, also, I kind of understand the API now that I can initialize the framework.

I have a problem now, and I don't know if we should discuss this here, or maybe somewhere else.

A

[2019-02-10 14:13] Zaid-Safadi commented on #784
This is fixed for v2 in branch v2.4.x.
I will leave it open to apply the fix for v3

[2019-02-10 14:18] Zaid-Safadi commented on #775
Fixed in v2 and v3

[2019-02-10 14:18] #775 closed

[2019-02-10 14:19] Zaid-Safadi commented on #774
This is fixed for v2 in branch v2.4.x.
I will leave it open to apply the fix for v3

[2019-02-10 17:53] pzehle commented on #822
Hello again @dannyrb, regarding your comment for me to point you where the docs are not being completely clear:

On [https://tools.cornerstonejs.org/api/#addToolState](this api section) (addToolState), it states that you have to provide the enabled element, the name of the tool and as well the previously saved state of the mentioned tool. If my login is right, when I save in database or localStora

[2019-02-10 18:23] dannyrb commented on #822
It's difficult to know what's happening without a minimal reproduction. This looks like a CT, so I'm guessing this is many DICOM files that you scroll through using StackScroll. My best guess is that HOROS automatically places these files in the correct order, and that in your web application the files are unsorted/out of order.

It's _likely_ not a multiframe image, but rather a series of images.

[2019-02-10 20:17] pzehle commented on #822
Hi @dannyrb, thanks for your answer.

After hours of debugging, I see that in fact, it is no multi-frame (thanks for pointing that out), it is just a set of individual images.

As of right now, I get the images from a server, then load it and cache them into cornerstone, and then when I see the "slice location" of each image, in fact, they are not ordered. This is weird, because the sets I am gett

[2019-02-10 20:48] pzehle commented on #822
@dannyrb, the updated sandbox is [here](https://codesandbox.io/s/x2po962wlq). Thanks again for the support.

[2019-02-10 21:32] swederik commented on #822
If you don't have the metadata ahead of time, what you can do is use cornerstone.loadAndCacheImage to retrieve your images first, then check the imagePlaneMetadata via cornerstone.metadata.get('imagePlaneMetadata', imageId), and sort them by imagePositionPatient, and then create the stack.

[2019-02-10 23:13] pzehle commented on #822
Hello @swederik, thanks for the support. Should I get the metadata once the image is loaded? I mean, if I call the function inside the `loadAndCacheImage` promise, I get the following error:

`Unhandled Rejection (TypeError): Cannot read property 'get' of undefined`

Anyway, the problem is, I was trying to get the order of the images based on the location code `('x00201041')`. I can in fact retrie

[2019-02-10 23:46] dannyrb commented on #822
@pzehle, we may be drifting away from library questions and more toward programming or medical imaging questions.

There's nothing wrong with that, but please realize we're less apt to prioritize non-library questions. You may have more luck on StackOverflow, our Google Group, or with other communities.

Back to your question. Ideally, you know the order before sending down the images. For large s

[2019-02-10 23:49] pzehle commented on #822
@dannyrb yes, I know we are misleading this. Nevertheless, I think this solution may be helpful for someone with the same situation. I know how to order arrays of any dimensions, the problem comes when this sorting has to be done inside a promise, because this promise gets the information I need to complete this sorting. I will work with this by myself and let you know of the outcome. Anyway, you'

[2019-02-11 00:14] pzehle commented on #822
@dannyrb and @swederik million thanks for the help. I've finally made it with async/await. I have the updated sandbox [here](https://codesandbox.io/s/x2po962wlq).

Thanks again and I hope if someone is in the same situation, finds a solution here.

[2019-02-11 01:58] dannyrb commented on #780
@kofifus, here's an update:

- The image loader now stores the information in `overlayPlaneModule`
- The tool retrieves the data from the `overlayPlaneModule` and finds 2 overlays in our test DICOM
- When disabled, the image shows 2-lines of text. When enabled, the image shows no new lines of text

Here is what I am able to see in a desktop viewer:

![image](https://user-images.githubusercontent.c

[2019-02-11 02:52] kofifus commented on #780
Can you send me a link to download the dicom image pls ?

[2019-02-11 02:53] dannyrb commented on #780
It's a bit higher up in this thread. JD shared it: https://github.com/cornerstonejs/cornerstoneTools/issues/780#issuecomment-459419571

[2019-02-11 03:02] dannyrb commented on #780
Updated Sandbox: https://codesandbox.io/s/1qj7j8op0l

This is the PR that fixed things up: https://github.com/cornerstonejs/cornerstoneTools/pull/826

![image](https://user-images.githubusercontent.com/5797588/52544542-6b8cd900-2d7f-11e9-9714-acb384302cdc.png)

[2019-02-11 03:03] jdnarvaez commented on #780
The code i provided should read all six layers as we render all six in our viewer. I’ll try to have a look at this this week

[2019-02-11 04:10] kofifus commented on #780
Possibly the other layers are in the presentation state (see https://github.com/cornerstonejs/cornerstoneTools/issues/780#issuecomment-459419871) which cornerstone does not support ?

[2019-02-11 04:26] jdnarvaez commented on #780
Yep, that’s the case.

[2019-02-11 05:46] kofifus commented on #780
cool, I believe this can be closed :)

[2019-02-11 06:00] kofifus opened #827 "US Multiframe CIne"
I need to implement Multiframe Ultrasound Cine in our application ...

Does cornerstone has build in tools/support for that ?

I seem to remember seeing this  but all the tools example pages are down - can this please be fixed - (we were using those pages on a very regular basis!)

Is there any existing example and/or code ?

Thanks

[2019-02-11 19:46] pzehle commented on #822
Hey @dannyrb and @swederik, sorry for bothering again.

Could you please help, if possible, to point me in the right direction to change the annotation color? Couldn't find anywhere in the docs about this setting. Currently the probe annotations shows white, and on hover green. I want them to be red or some other color all the time. Is this possible? Thanks!

[2019-02-11 20:10] dannyrb commented on #822
https://github.com/cornerstonejs/cornerstoneTools/blob/0aae680b20c3777866a49354465f5c2b78f7ffc6/src/stateManagement/toolColors.js

`cornerstoneTools.toolColors.setActiveColor(/* color */)`

[2019-02-12 14:40] JamesAPetts opened #833 "Since 3.0 multipart tools hog event inputs. Can't zoom/pan whilst in a draw loop."
With the introduction of `cornerstoneTools 3.0`'s new spangled event dispatcher, some tools are able to block event dispatching and deal with mouse/touch input internally to the tool. This is useful for e.g. `FreehandMouseTool`, where an indeterminate number of clicks/drags are are required to complete the annotation.

This currently comes with the downside of not being able to use tools bound to

[2019-02-13 10:37] JamesAPetts opened #834 "Only create brush data when needed."
Due to the way canvas cursors work we create empty labelmaps where they aren't needed currently if the brush is set active. This should be changed so that `toolData` is created to render the brush, but the memory is only allocated when drawn.

[2019-02-13 12:17] swederik commented on #827
You can use playClip. It has the same API as in 2.x (as far as I know), so you can just check out an older commit locally to see the examples.

The code is here: https://github.com/cornerstonejs/cornerstoneTools/blob/master/src/stackTools/playClip.js#L96

I believe all you need is stack tool data to play through it.

[2019-02-13 13:48] JamesAPetts commented on #834
Solved in #835.

[2019-02-13 13:48] #834 closed

[2019-02-13 20:02] pzehle commented on #610
@JamesAPetts hello,

Any idea of how to call correctly `scrollToIndex` function?

Currently I have a function that on detects the key a user is pressing, and calls `cornerstoneTools.scrollToIndex(this.element, this.state.stack.currentImageIdIndex + 1);`. Following the jsfiddle you shared, there is no sign that this function (or scroll function) should be called on a special way, but I still get er

[2019-02-13 20:10] dannyrb commented on #610
`scrollToIndex` is not a top level property on `cornerstoneTools`

You could do this:

[code]

Basically, we have:

- [Top level API members](https://github.com/cornerstonejs/cornerstoneTools/blob/master/src/index.js)
- [Internal library methods](https://github.com/cornerstonejs/cornerstoneTools/blob/master/src/lib.js)

The first is all you need for basic usage. The second is for advanced function

[2019-02-13 20:15] pzehle commented on #610
@dannyrb as usual, thanks a lot. You are a life saver.

[2019-02-13 20:30] JamesAPetts commented on #610
Beat me to it, glad you got what you needed @pzehle , thanks @dannyrb !

[2019-02-13 23:46] JamesAPetts commented on #774
Hey @Zaid-Safadi , if I get time tomorrow I can do this for v3/master :).

[2019-02-14 00:08] Zaid-Safadi commented on #774
That would be really nice @JamesAPetts ! please let me know know if there is anything I can help with. Thank you

[2019-02-14 00:11] Zaid-Safadi commented on #787
@dannyrb I have a working version of this for V2 in my local repo that I am looking to merge here soon. Just wanted to give you heads up. If you got some time you can see it here working for some tools:
https://github.com/Zaid-Safadi/cornerstoneTools/commit/5bdecbc6a36f28e542f8f217a339724a9a925862

[2019-02-15 08:44] DMIAOCHEN commented on #764
is fine in mouse event, can reproduction in touch event in v2. like this example:
![example](https://raw.githubusercontent.com/DMIAOCHEN/RawGit/master/Images/reproduction-in-V2.gif)

[2019-02-15 09:27] DMIAOCHEN commented on #764
I add an MEASUREMENT_UPDATING_START event to solve this problem, but i not sure it's an elegant solution.

MEASUREMENT_UPDATING_START is trigger in touch start(code in touchTools.js)
[code]
then in my project do this in this event:

[code]

[2019-02-15 15:46] JamesAPetts commented on #833
Addressed in part by #836 .

Creating a multi-part tool will be a future addition.

[2019-02-15 15:46] #833 closed

[2019-02-16 02:28] Zaid-Safadi commented on #787
PR #845 created for V2
![completedeventsdata2](https://user-images.githubusercontent.com/10813109/52893262-80df7a00-3168-11e9-9c1d-07cd3f5b00bd.gif)

[2019-02-18 15:52] dannyrb commented on #761
We've started to build out some basic examples here: https://tools.cornerstonejs.org/examples/

You can update them by changing code in the `examples/` folder of this solution. Right now, the examples are "per tool" examples, but I'd like us to spin up a few more complex scenarios. Ideally, one would be a very simple viewer. We could also provide an "advanced" link to OHIF's

[2019-02-18 15:54] dannyrb commented on #773
The two angle examples are now "separate" and exist here:

- https://tools.cornerstonejs.org/examples/tools/angle.html
- https://tools.cornerstonejs.org/examples/tools/cobb-angle.html

[2019-02-18 15:54] #773 closed

[2019-02-18 15:57] dannyrb opened #854 "Angle Tool handles are easily "overlayed" and can produce a confusing annotation"
See: https://github.com/cornerstonejs/cornerstoneTools/issues/773#issuecomment-461296495

- click+release
- move
- click+release
- move
- click+release
- move
- click+release
- move

![52393015-6b2edc80-2af8-11e9-88a9-b407e2cf8d8c](https://user-images.githubusercontent.com/5797588/52962598-a688a100-336b-11e9-9155-5d67a8355feb.gif)

The initial `click + release` creates two handles sitting on top o

[2019-02-19 15:24] Zaid-Safadi commented on #827
@kofifus  not sure if the examples have what you need but you can find v2.4 here:
https://rawgit.com/cornerstonejs/cornerstoneTools/v2.4.x/examples/index.html

[2019-02-20 03:03] kofifus commented on #827
@Zaid-Safadi as far as I can tell those examples don't work

[2019-02-20 03:05] kofifus commented on #773
Both of the examples linked above seem to be broken (don't show the image)

[2019-02-20 03:56] dannyrb commented on #827
Ahh. That's weird. I assumed `unpkg` (the CDN we use for examples) returned the latest _semver_ version of our published package. It looks like NPM's `@latest` tag defaults to, well, the most recent release, and that's what `unpkg` uses when determining loosely specified packages.

tl;dr - we need to update our examples to use the latest package for a specified major version

@kofifus, this is wha

[2019-02-20 04:01] dannyrb opened #855 "Docs rely on @latest released npm package, not the highest semver version"
See: https://github.com/cornerstonejs/cornerstoneTools/issues/827#issuecomment-465412067

When we release a new package, even if it's for `v2.x`, npm shows `@latest` for that version, despite us having a higher major version release. `unpkg` defaults to latest, and that means our examples can be left relying on a previous major version.

[UNPKG](https://unpkg.com/) has examples on how to specify a

[2019-02-20 04:01] dannyrb commented on #855
CC: @kofifus

[2019-02-20 05:00] kofifus commented on #827
I am trying to figure it out from the code as there is very little documentation and the examples don't work

What is the difference between timeSeriesPlayer and playClip ?

[2019-02-20 05:23] kofifus commented on #855
I hope this can be solved asap. Loosing the v2.x examples (and with V3 still seems unstable - ie angleTools) has made life hard for us here :(

[2019-02-20 09:35] swederik commented on #827
A time series is used for 4D data (multiple stacks of multiple slices), playClip is used for 3D data (multiple slices). You want playClip.

[2019-02-20 19:13] kofifus commented on #827
Got it thx !

[2019-02-20 19:13] #827 closed

[2019-02-21 14:24] #855 closed

[2019-02-21 19:21] dannyrb commented on #855
:tada: This issue has been resolved in version 3.2.1 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/cornerstone-tools)
- [GitHub release](https://github.com/cornerstonejs/cornerstoneTools/releases/tag/v3.2.1)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-02-28 01:46] dannyrb opened #862 "Library export typo: `convertToVectro3`"
https://github.com/cornerstonejs/cornerstoneTools/blob/master/src/lib.js#L137

`convertToVectro3` should be `convertToVector3`

[2019-03-03 07:58] unosbaghaie opened #863 "mouseInput mouseWheelInput enable in version 3"
How to set below code in version 3?

[code]

[2019-03-04 05:04] unosbaghaie opened #864 "Version 3 Tools missing from examples page"
Does version 3 have the features like Reference Line, Multi layout, ... ?

[2019-03-04 12:37] dannyrb commented on #864
Yes. Not all examples that existed for v3 have been completed for v3. I'll stub out pages for the incomplete ones today so their is less confusion.

Please feel free to contribute/PR a quick example if you find something you'd like to see missing.

[2019-03-04 12:42] dannyrb commented on #863
After you call `cornerstoneTools.init()` inputs are enabled automatically for all currently enabled elements. Any elements you enable thereafter also have inputs enabled for them.

When you disable an element, the inputs become disabled.

We tried to remove this as a required step, and instead made it an internal detail. If you're finding you need finer control around input enabling/disabling, ple

[2019-03-04 16:29] #863 closed

[2019-03-04 17:04] dannyrb commented on #864
@unosbaghaie, the examples have been added as "stubbed out" pages. It should be clearer what you can accomplish in v3, but a demonstration of how to do it may not yet be complete.

For the most part, tools/synchronization function very similarly to how they did in v2. If you're having trouble with a specific tool, please feel free to create a new issue with any questions you have and what you've t

[2019-03-04 17:04] #864 closed

[2019-03-04 17:53] dannyrb commented on #780
@all-contributors please add @jdnarvaez for sharing his code for Overlays

[2019-03-04 17:57] dannyrb commented on #794
Now that v3 has been out for a while, I'm going to close this issue. Please feel free to leave comments, ask questions, or create new issues ^_^

[2019-03-04 17:57] #794 closed

[2019-03-05 13:32] swederik opened #875 "Documentation incorrect for setting tool modes"
### Prerequisites

* [x] Are you running the latest version?
* [x] Are you reporting to the correct repository?
* [x] Did you perform a cursory search?

For more information, see the `CONTRIBUTING` guide.

### Description

Looks like the cTools v3 docs are wrong: https://tools.cornerstonejs.org/anatomy-of-a-tool/#modes: setToolModeActive should be setToolActive, etc...

[2019-03-05 18:59] pzehle opened #877 "How to trigger a tool recalculation after 'addToolState' for RectangleRoiTool?"
### Prerequisites

* [x] Are you running the latest version?
* [x] Are you reporting to the correct repository?
* [x] Did you perform a cursory search?

For more information, see the `CONTRIBUTING` guide.

### Description

I am working currently on a tool that has to calculate a volume, this means, I draw an area using the `RectangleRoiTool`, and then I have to replicate that area on X number of i

[2019-03-05 19:53] dannyrb commented on #877
@pzehle, I don't believe this feature exists. I would be open to a PR that updates the `BaseAnnotationTool` to accomplish this. Something like...

`forceRecalc` that has a default implementation of setting the tool's measurement as "dirty" and triggering a re-render. This is definitely up for discussion. @JamesAPetts may have other thoughts.

Small note. If you're calculating volume, you may not w

[2019-03-05 20:08] JamesAPetts commented on #877
This is an interesting problem and one I've thought of for a while. Shared data between annotations are what modules are built for, and this is a perfect use case for that.

I would just give the rects a UID, and register them to a ledger in a module. In the rects `addToolState` function I'd add a call to the module to invalidate all annotations registered in the ledger.

[2019-03-05 20:10] JamesAPetts commented on #877
You could also save the volume as a module variable, and have a getter in your render function for the toolState that fetches this, so you only have to keep track of one copy of it.

[2019-03-05 20:33] pzehle commented on #877
@dannyrb Thanks for the response. I will think of an implementation for this and let you know of my thoughts. Maybe we can include this as a PR. I will let you know. As of the volume note, thanks, I will keep in mind that, but I actually need the density of the HU of the cube, which I think is a lot more important for my development, as we are trying to implement some ML and tumour detection.

@Ja

[2019-03-06 00:29] mikehazell opened #878 "Base tools are not accessible to cornerstoneTools consumers"
### Prerequisites

* [x] Are you running the latest version?
* [x] Are you reporting to the correct repository?
* [x] Did you perform a cursory search?

### Description

The base tool classes (BaseAnnotationTool, BaseBrushTool, BaseTool) are not exported in `index.js`. This makes it really awkward to create custom tools as a consumer of cornerstoneTools.

### Steps to Reproduce

n/a

**Expected be

[2019-03-06 00:52] dannyrb commented on #878
Hmm.. So we did this weird thing where "less public" bits aren't exposed as top level API members. To access them, you do something like:

[code]

You can see a list of those in the `lib.js` file: https://github.com/cornerstonejs/cornerstoneTools/blob/master/src/lib.js#L78-L80

Our goal was, and we may have missed the mark, to emulate what we saw in the [Quill.js Extensions](https://quilljs.com/do

[2019-03-06 00:54] dannyrb commented on #878
@JamesAPetts, @mikehazell brings up a good point. This feels like something you'd want to have awareness of or discuss.

[2019-03-06 00:57] mikehazell commented on #878
Interesting. That's not a pattern I've seen before. Certainly not something I would have guessed as a new user. That may be because my world is mostly React and this is a different community with different opinions and experience.

[2019-03-06 01:04] dannyrb commented on #878
@mikehazell, we're very open to alternatives and other opinions. In particular, if you're aware of OSS projects that have plugins, extensions, modules, etc. I would enjoy taking a peak at their solutions so we can learn from them.

[2019-03-06 01:08] pzehle commented on #877
@dannyrb, @JamesAPetts hey, no luck with the triggered click, don't know why but it doesn't work. Digging further in the code, I found that the `RectangleRoiTool.js` source file has a function called `_updateCachedStats`. Isn't it possible to call that function from within my code?

Thanks!

[2019-03-06 01:15] mikehazell commented on #878
I see where I went wrong reading the docs. I was looking at "Custom Tools" and missed the line about the "third party tool guide".

It might be nice to flip the target audience of those docs and assume the reader is most likely a cornerstoneTools user rather than a contributor. I might have a look at that.

[2019-03-06 01:56] dannyrb commented on #877
@pzehle, probably, but it's not "public" and could change.

If you need something quick, we could:

- Restore state with no calculated value
- Put in a PR where, if the value is undefined, it should be recalculated in the render loop

If you need to force a re-render for all elements, you can do something like:

[code]

[2019-03-06 12:59] pzehle commented on #877
@dannyrb thanks for the reply. I've tried this, and sadly it updates the image but doesn't recalculate the information within the area, it just stays the same. I am bit lost here.

[2019-03-06 14:58] dannyrb commented on #877
@pzehle, right. You would also need a PR that changes this line:

https://github.com/cornerstonejs/cornerstoneTools/blob/master/src/tools/annotation/RectangleRoiTool.js#L191

[code]

[2019-03-06 15:11] pzehle commented on #877
@dannyrb thanks, you are always helpful. I am still lost, but I think you gave me a place to start. Thanks!

[2019-03-06 16:40] dannyrb commented on #877
How are you `console.log()`-ing? I could be wrong, but for objects I think the value is evaluated when you expand the object in the console, not at the time of logging.

When you restore state, are you making sure `invalidated` is `true` and `cachedStats` is `undefined`?

[2019-03-06 16:49] pzehle commented on #877
I am logging directly on my code, and you are right, but that happens **only** some times. This has been a difficult development as my code has so many promises and async stuff, that I think most of the time is running so fast that values are not being properly updated. Also, I forgot to set `cachedStats` as `undefined`, and I just did that and it crashed, because of the async stuff. I will look i

[2019-03-07 11:49] pzehle commented on #877
Hello @dannyrb, as always, thank you very much.

I managed to accomplish this setting  `invalidated` as `true` and `cachedStats` as `undefined` as you suggested. I was having the problem of the tool still not updating, but I've restructured my process with a lot of promises, and have a `timeout` to wait for the tool to recalculate, this was the trick.

I will work on the PR you suggested to add th

[2019-03-08 06:13] qqsea opened #883 "How to use cordova to pack the cornerstone based web into android app"
Now I can use cordova to pack the cornerstone based web into android app and it run on the android pad and load jpeg/dicom successfully.
But cannot use cornersone tool box to operate on the image properly. Especially zoom, pan, angle, roi operations which need mouse drag and mouse wheel within the web browser.
Does cornerstone (tool box) support such kind of mechanism to pack cornerstone based web

[2019-03-08 14:11] dannyrb commented on #883
Hi @qqsea, can you provide more information?

- What version are you using for the following libraries?
  - `cornerstone-core`
  - `cornerstone-tools`
  - `cornerstone-wado-image-loader`

- Can you provide an example snippet of code for where you're activating tools and expect them to work?

Cordova leverages a `WebView`. There should be very little, if anything, that you need to do differently. A

[2019-03-12 06:38] qqsea commented on #883
@dannyrb Thanks for your reply. After some search, now I introduce the touchtool into my project, and they are worked under Android pad or Ipad.
But here are some problems with probeTouch, lengthTouch, angleTouch. For example, when I use probeTouch tool within android pad or even simulate mobile device within Chrome, after touch down, here is a probe coordinate value (203,123), and then touch up t

[2019-03-12 12:00] dannyrb commented on #883
It sounds like you're using the 2.x version of tools. I recommend using the latest major version (3.x).

Most touch tools apply an offset to the handle while it's being moved so it's not covered by the pointer (a finger). It looks weird while emulating, but it feels much more natural when used on a native device.

If you want the ability to turn that feature off for touch devices, it should be a r

[2019-03-13 07:50] zhangluwei1997 opened #885 "Cant't find API document"
API is 404

[2019-03-13 12:03] dannyrb commented on #885
It looks like the API doc generation was broken in the last CI update.

If you have the solution locally, you can generate the docs yourself with the appropriate npm script. It uses the JSDoc comments to create itself, so taking a peak at `src/index.js` and `src/lib.js` should provide a rough version of what is available to you, and any JSDoc comments along the way will provide additional info.

T

[2019-03-17 02:36] dannyrb commented on #885
@zhangluwei1997, it needs some love, but https://tools.cornerstonejs.org/api/ is up and running.

Give it a second, as it's a SPA and loads all of it's data on init before displaying any content.

[2019-03-17 02:36] #885 closed

[2019-03-17 02:37] dannyrb commented on #878
@mikehazell, I'm going to close this for now based on the discussion we've had. Please feel free to create a separate issue for updating the documents as an alternative solution.

[2019-03-17 02:37] #878 closed

[2019-03-17 02:39] dannyrb commented on #877
👋 Hi @pzehle, I'm going to close this issue for now. It sounds like there's an "okay" workaround that helped you accomplish your goal.

If you think there's an improvement we can make to simplify this, please feel free to create a separate discussion issue for the change.

[2019-03-17 02:39] #877 closed

[2019-03-17 02:43] pzehle commented on #877
Hi @dannyrb. For now is OK. I will work in the future on a PR to have an automated method to accomplish this without any of this processes. I will let you know. Thanks!

[2019-03-18 09:53] JamesAPetts commented on #877
@pzehle @dannyrb

Hey y'all, just a heads up, I'm going to build an API to help with stuff like this, for plugin development for larger/3D tools.

On the drawing board:
[code]

Probably expose this stuff under something like:

[code]

Let me know if you think of any additional functionality that'd be useful for your usecase.

[2019-03-18 12:22] pzehle commented on #877
Hi @JamesAPetts, I think it is an excellent idea, mainly because right now it is complicated to achieve what I wanted, though it was relatively easy to accomplish, I think this would resolve a lot of issues.

[2019-03-18 17:10] JamesAPetts commented on #877
Addressed in #889 .

[2019-03-19 21:11] federicomrossi opened #890 "How to configure Reference Lines Tool in version 3"
### Description

When trying to add and activate the reference lines tool, it throws the following error:

### Steps to Reproduce

The reference lines tool was initialized with:

[code]

**Additional information:** the synchronizer was previously created (before the code above) with the following line:

[code]

### Question

What is the right way to initialize and configure the Reference Lines Too

[2019-03-21 23:49] coolwulf opened #895 "How to display a bitmap segmentation with brushtool?"
Hi, I am new to use this and I am now puzzled on how to display a predefined bitmap mask with brushtool to show segmentation. Could anyone share some example codes? Thanks.

[2019-03-22 06:01] sisobus commented on #895
Hi, I don't know well if you mean this, but I solved it like this.
[example](https://examples.sisobus.com/brush-segmentation/)

[code]

If You use 4 channel base64 image as bitmap mask, I recommend [this](https://github.com/sisobus/cornerstoneBase64ImageLoader) library. :)

[2019-03-22 21:09] coolwulf commented on #895
@sisobus Thank you a lot for your answer. However I am currently trying to implement cornerstoneTools 3.x instead of 2.x. I added the brushTool using
[code]
However when I try to get the tool state using
[code]
I got `undefined`. Any ideas? Thanks.

[2019-03-23 06:55] sisobus commented on #895
@coolwulf  I implemented the code below for solving this problem in cornerstoneTools 3.x.

[code]

Hmm.., I don't know why tool type name is not 'Brush' but 'brush' in getToolState.
[example](https://examples.sisobus.com/brush-segmentation-v3/)

[2019-03-23 07:35] sisobus commented on #895
@coolwulf I found the function name of getReferencedToolDataName in brush tool.

[code]

[example](https://examples.sisobus.com/brush-segmentation-v3/)

[2019-03-24 03:29] coolwulf commented on #895
@sisobus
This works beautifully. Thanks a lot.

Best regards

[2019-03-24 03:33] dannyrb commented on #895
@all-contributors please add @sisobus for answering questions ^_^

[2019-03-24 03:34] dannyrb commented on #895
@JamesAPetts is this an example we should include on our examples page or in our docs?

[2019-03-24 03:36] coolwulf commented on #895
@sisobus
Actually I have one more question. I know you can change the brush color by using
[code]
But how can I change the added segmentation color? Thanks.

Best,

[2019-03-24 03:47] dannyrb commented on #895
Hmm.. I guess you can change it directly that way. It's worth noting that the `BaseBrushTool` exposed a method to update the `drawColorId`:

https://github.com/cornerstonejs/cornerstoneTools/blob/master/src/tools/base/BaseBrushTool.js#L248-L284

@JamesAPetts would likely know the answer to this.

[2019-03-24 04:04] coolwulf commented on #895
@sisobus @dannyrb @JamesAPetts
I found the answer to this just now.

You have to add additional `addToolState` for `brush` tool then invalidate the corresponding one for specific color. Example code:
[code]
This will display blue segmentation color (for `drawColorId=1`) instead of red (`drawColorId=0`).

Still. Thanks for everyone helping me here. I just started using this library and found it ver

[2019-03-24 10:46] JamesAPetts commented on #895
@dannyrb

Yeah its a nice generic case, we actually have similar utilities and examples in `dcmjs` for  [parsing DICOM SEG to cornerstone](https://github.com/dcmjs-org/dcmjs/blob/master/src/adapters/Cornerstone/Segmentation.js), but they are all DICOM specific.

@coolwulf

TLDR, no one has implemented it yet, more detail:

The colormap is currently hard coded in the brush store [here](https://gith

[2019-03-24 11:49] tanxu1120 opened #897 "cornerstoneTools.calculateSUV BUG"
const injectionStartTimeInSeconds = fracToDec(startTime.fractionalSeconds) + startTime.seconds + startTime.minutes * 60 + startTime.hours * 60 * 60;

should be modified to

const injectionStartTimeInSeconds = fracToDec(startTime.fractionalSeconds || 0) + startTime.seconds + startTime.minutes * 60 + startTime.hours * 60 * 60;

[2019-03-25 03:10] mikehazell opened #898 "calling setToolModeForElement too many times can cause an exception"
### Prerequisites

* [X] Are you running the latest version?
* [X] Are you reporting to the correct repository?
* [X] Did you perform a cursory search?

### Description

**Bug**

Calling any of the `setToolMode` methods too many time with options of `{ mouseButtonMask: 1 }` will eventually cause the app to crash with a "RangeError: Invalid array length" error.

This is happening this line: https:/

[2019-03-25 17:28] t-animal opened #900 "Enabling prefetch on a second image discards first prefetch"
The stack prefetch tool clears the prefetch queue when enabled on an element. If you have two elements on a page and enable the prefetching on both this causes the first element's stack not to be prefetched.

https://github.com/cornerstonejs/cornerstoneTools/blob/0934f59883f1f2023a0cd5511ddcb00c2e9e23f9/src/stackTools/stackPrefetch.js#L136

[2019-03-26 01:37] mikehazell opened #901 "console.log messages are too noisey"
### Prerequisites

* [x] Are you running the latest version?
* [x] Are you reporting to the correct repository?
* [x] Did you perform a cursory search?

### Description

There are many places in the codebase which are calling console.log for example on mouse interaction or on state change of a tool. This makes the console very noisy and hard to use as a tool when developing on-top of cornerstoneTo

[2019-03-26 03:36] dannyrb commented on #901
Ah! @JamesAPetts and I were just discussing better logging practices. The current state of things is a bit embarrassing. Please feel free to continue down this path ^_^

[2019-03-26 11:52] JamesAPetts commented on #901
I approve of any work in this direction. The current console logs are relics from the rapid development of 3.0 haha. It'd be nice to turn it off entirely for production use.

[2019-03-27 00:06] dannyrb commented on #898
Merged 👍

[2019-03-27 00:06] #898 closed

[2019-03-27 00:25] bingwing opened #902 "Overlay tool shows overlays at incorrect coordinates"
hi,  guys, @swederik @medihack @simonmd @jpambrun  , thanks for the excellent work.

When i use the cornerstone in cornerstoneWADOImageLoader, there a few dicoms file shown black.
![image](https://user-images.githubusercontent.com/21256011/54250214-d6e3e980-457d-11e9-853e-d196aafe26ef.png)

![image](https://user-images.githubusercontent.com/21256011/54200485-79608600-4506-11e9-9129-0164a27facd3.pn

[2019-03-27 04:41] kofifus commented on #780
@jdnarvaez - in https://gist.github.com/jdnarvaez/3368ac3e4f7f4eb14bc5f453f8a1ed1b#file-graphicoverlays-js-L38 you again call setTransform after calling just above, can you pls explain what is the purpose of the second call ? Thanks!

[2019-03-27 04:58] jdnarvaez commented on #780
@kofifus the transform is first set to the coordinates of the current canvas, then it it is saved, then it is set to 1:1 scaling, then reset to the previous scaling. This allows us to draw the overlays in a uniform coordinate system, so that any transformations or scaling by the user are also applied to the overlays

[2019-03-27 05:36] kofifus commented on #902
@bingwing - pls see this to explain why the transform is set twice https://github.com/cornerstonejs/cornerstoneTools/issues/780#issuecomment-476975576

perhaps @jdnarvaez can help here ?

[2019-03-27 05:37] #780 closed

[2019-03-31 00:03] untoldone opened #906 "State of v3 documentation not great"
Maybe I've completely missed something .. but I feel like the state of documentation for the project is that it is virtually non-usable for someone starting from scratch.

Individual tools have no documentation, it unclear where to find any fully functioning examples, whole categories of features have no mention (synchronizers, stacks?)

It feels like you folks have put a ton of hard work in and b

[2019-03-31 00:55] dannyrb commented on #906
Existing Resources:

- Docs: https://tools.cornerstonejs.org/
- Examples: https://tools.cornerstonejs.org/examples/
- Auto-generated API Explorer: https://tools.cornerstonejs.org/api/ (takes a second to load)

`cornerstone-tools` is maintained by volunteers. The libraries are grouped under the "Cornerstone.js Organization", but members are really the individuals that consistently contribute and he

[2019-03-31 01:14] untoldone commented on #906
Thanks for the detailed response -- understood on the constraints. Again, really impressed with the things I've seen so far, just struggling to get purchase. That said, I'll try to add where I think it might help.

[2019-03-31 01:38] untoldone commented on #906
@dannyrb I'm reading through code to figure stuff out at this point, but given the number of abstractions, it is hard for me to get a handle of how these are intended to be used together -- also given it looks like OHIF largely uses v2 / I can't really find a "kitchen sink" example or integration tests in the wild to learn from ... I'm finding I have a number of quick questions to help figure some

[2019-03-31 02:41] dannyrb commented on #906
No worries. I appreciate criticism, I just want to make sure it's something targeted/actionable so we can use it to improve.

The OHIF Viewer is undergoing a large refactor to migrate away from `meteor` and toward a `react` client. The react version appears to be using `tools@3`. I think the most recent code is here:

- [`react` branch: /Packages-react/ohif-viewer](https://github.com/OHIF/Viewers/

[2019-03-31 04:56] untoldone commented on #906
Awesome, the Netlify demo is perfect. I wasn't entirely sure what that was when I had seen it first time around / skipped over it.

I had come across the standalone react viewer for OHIF that referenced v3 but it didn't seem like it had much interface to the tools yet -- I hadn't seen the branch, but I'll check that out too.

Will do on the email for slack access.

I'm ok if you want to go ahead a

[2019-04-01 17:18] dannyrb opened #909 "Improve visibility and coverage of examples"
Re: https://github.com/cornerstonejs/cornerstoneTools/issues/906

The first thing a would-be user looks for when coming to the `cornerstone-tools` repository are examples of _what is possible_. Being able to see and play with the library immediately conveys its value and provides minimal reproductions for how to accomplish `X feature`.

Currently, to find out examples, you need to:

- Click [`Read

[2019-04-01 17:19] dannyrb commented on #906
I've created the following issue to address what I believe are the core takeaways from our discussion:

https://github.com/cornerstonejs/cornerstoneTools/issues/909

Thanks again for stopping in and speaking up 🙌

[2019-04-01 17:19] #906 closed

[2019-04-01 21:43] untoldone commented on #906
Thanks -- that looks like an appropriate issue given our discussion! I'll probably be in and out of submitting a few things here and there as I get started over the next few weekends -- thanks for helping here!

[2019-04-04 18:05] #901 closed

[2019-04-04 18:11] dannyrb commented on #901
:tada: This issue has been resolved in version 3.7.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/cornerstone-tools)
- [GitHub release](https://github.com/cornerstonejs/cornerstoneTools/releases/tag/v3.7.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-04-08 07:10] unosbaghaie commented on #890
Hi
I need to implement Reference Lines Tool in version 3. When the documentation will be ready?

[2019-04-11 08:00] butschster commented on #794
Thank you for your project! I've created a great viewer based on your tools.
![image](https://user-images.githubusercontent.com/773481/55940445-d4da7c80-5c48-11e9-9f0d-018cd81eefc7.png)

Maybe I'll publish this viewer soon!

[2019-04-22 06:36] butschster commented on #794
Hi, everyone. I published my viewer, but now I don't have enough time to create npm package. I think someone can help with this.

https://github.com/butschster/DicomViewer/

[2019-04-27 08:13] unosbaghaie opened #918 "how to show Reference line"
Hi

I want to show reference line for two elements. My code is

[code]
but the reference line doesn't show up. Could you check my code to see what is wrong?

[2019-04-29 14:16] dlwire commented on #918
So, the way I've got things organized is much different than you, and it's hard to tell without actually testing things, but here's what I have specific to reference lines:
[code]

[2019-04-30 05:28] unosbaghaie commented on #918
@dlwire based on what you said. this is my code, but it isn't working yet

`
public referenceLineClicked() {

    var synchronizer = new cornerstoneTools.Synchronizer("cornerstonenewimage", cornerstoneTools.updateImageSynchronizer);

    // image enable the dicomImage element
    var axialElement = this.element[0]
    var element2 = document.getElementById('dicomImage2')
    var coronalElement = e

[2019-04-30 14:08] JamesAPetts commented on #579
Thanks @daniel2101 for fixing the rectangles and ellipses in #916 ! :)

[2019-04-30 14:08] #579 closed

[2019-05-07 04:39] mikehazell opened #924 "brush tool's passiveCallback throws when changing image if globalToolSyncEnabled is true"
### Prerequisites

* [x] Are you running the latest version?
* [x] Are you reporting to the correct repository?
* [x] Did you perform a cursory search?

### Description

Crashing Bug: using the Brush tool with `globalToolSyncEnabled` can cause the application to crash when a new element is enabled.

### Steps to Reproduce

1. initialize csTools with `{ globalToolSyncEnabled: true }`
2. enable an e

[2019-05-07 16:42] dannyrb commented on #924
`{ globalToolSyncEnabled: true }` and I thought I was the only one using that setting ^_^
I'll take a look at your PR. Thanks for the report!

[2019-05-07 16:44] #924 closed

[2019-05-07 16:49] dannyrb commented on #924
:tada: This issue has been resolved in version 3.7.3 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/cornerstone-tools)
- [GitHub release](https://github.com/cornerstonejs/cornerstoneTools/releases/tag/v3.7.3)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-05-08 09:30] dongtanhuy opened #926 "Polygons disappear when viewport resized"
### Prerequisites

* [x] Are you running the latest version?
* [x] Are you reporting to the correct repository?
* [ ] Did you perform a cursory search?

### Description

I use `draw()` API of `cornerstoneTools` to draw a polygon on canvas by clicking on a button. I draw successful but when the viewport resized (by opening size bar menu), the polygon was disappeared. How can I keep the polygon show

[2019-05-09 14:05] pedj21 opened #927 "How to resize an ellipse making it a perfect circle and maintaining its centre?"
### Prerequisites
* [X] Are you running the latest version?
* [X] Are you reporting to the correct repository?
* [X] Did you perform a cursory search?
### Description
Hi,
 I would like to create a circle tool or adapt the Elliptical tool that maintains its centre when it is resized. I have thought in these two approaches:
•	Force the handles of an ellipse to move diagonally, similar to the way tha

[2019-05-09 14:42] dannyrb commented on #927
👋 Hello, @pedj21.

This is possible to do by creating a custom tool, but it's also something we might be interested in baking in as supported/maintained functionality.

Take a look at the source code for the [EllipticalRoiTool](https://github.com/cornerstonejs/cornerstoneTools/blob/master/src/tools/annotation/EllipticalRoiTool.js)

A circle tool would be very similar, if not a bit simpler. I think

[2019-05-10 00:49] singhArmani commented on #927
Hi @dannyrb,
I have created a CircleRoiTool implementation which has similar functionality as described above. I can create a PR for this tool 😄

[2019-05-10 01:36] dannyrb commented on #927
That would be awesome, @singhArmani ^_^

[2019-05-10 17:32] dannyrb opened #930 "Fix threshold for CircleRoiTool's PointNearTool"
https://deploy-preview-928--cornerstone-tools.netlify.com/

1. Select the CircleRoiTool
2. Draw a Circle
3. Try to click, hold, and drag the circle by it's annotation/edge

You'll notice that there is only 1 to 2 px of leeway in grabbing it. The issue is likely with the tool's `pointNearTool` method, as that's what determines when the tool should be highlighted and draggable on click.

Reported by

[2019-05-10 23:57] #738 closed

[2019-05-11 00:09] dannyrb commented on #738
:tada: This issue has been resolved in version 3.9.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/cornerstone-tools)
- [GitHub release](https://github.com/cornerstonejs/cornerstoneTools/releases/tag/v3.9.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-05-11 18:12] dannyrb commented on #927
@pedj21, @singhArmani was nice enough to contribute his CircleRoiTool -- it is available in the latest version.

If anyone else is hiding out there and wants to contribute a tool, either to core or as one maintained in a separate repo, don't hesitate to reach out ^_^

[2019-05-11 18:12] #927 closed

[2019-05-17 15:06] Karl-Heinrich opened #935 "Prevent WheelEvent from propagating when middle mouse button is pressed"
When pressing the middle mouse button to activate a tool (e.g. PanTool, LengthTool, ..) a WheelEvent might be triggered and propagated as well.

This itself might not be problematic, but when using a stack of images and the middle mouse button is pressed to e.g. zoom, pan, measure, .. the images in the stack start scrolling.

This behaviour is unwanted and can be deactivated by manually grabbing t

[2019-05-17 17:40] #930 closed

[2019-05-17 17:46] dannyrb commented on #930
:tada: This issue has been resolved in version 3.9.1 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/cornerstone-tools)
- [GitHub release](https://github.com/cornerstonejs/cornerstoneTools/releases/tag/v3.9.1)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-05-22 17:23] d13g0 opened #938 "_getEnabledElement returns undefined"
I am currently working on a project that involves the cornerstone libraries (react-cornerstone-viewport 0.1.27 and cornerstone-tools 3.9.2).

I have one CornestoneViewport and one brush tool. I can change the segmentation (previous, next); change the brush size; but if I try to hide the segmentations using:
** `hideAllSegmentationsOnElement` **

It is giving me this error:

[code]

so it seems tha

[2019-05-22 17:45] dannyrb commented on #938
CC: @JamesAPetts

[2019-05-23 10:44] JamesAPetts commented on #938
Hey, I'll try and reproduce this later today on my system. I'm currently using the `hideSegmentationOnElement` functionality in production, but not the hide all. I'll get back to you soon :).

[2019-05-23 11:08] JamesAPetts commented on #938
Hey, got a quick chance so checked this now. `this.element` is defined for me, and thus `hideAllSegmentationsOnElement` works correctly.

`this.element` for any tool is set when you call `addToolForEnabledElement` or `addTool` ([See here](https://github.com/cornerstonejs/cornerstoneTools/blob/c5eb105d449a6ea3c3f8c37ad3e4cdd20d918808/src/store/addTool.js#L32)). So that's a good place to start.

If

[2019-05-24 12:35] lgaudez opened #940 "import method name is a reserved keyword"
### Prerequisites

* [ ] Are you running the latest version? -> 3.9.4
* [ ] Are you reporting to the correct repository?
* [ ] Did you perform a cursory search?

For more information, see the `CONTRIBUTING` guide.

### Description

I'm currently integrating cornerstone tools in a typescript project and I face a problem declaring function "import". Is it possible to rename it with another method na

[2019-05-24 14:57] kevinleedrum opened #941 "Published npm release always showing "dev mode" logger message"
It appears that the `NODE_ENV` is set to "development" during the auomated build, so the published npm package is always in dev mode, and the logger message in the console is always being shown.  In other words, [this line](https://github.com/cornerstonejs/cornerstoneTools/blob/master/src/util/logger.js#L6) always becomes `var devMode = "development" === 'development';`

[2019-05-27 01:53] #787 closed

[2019-05-27 03:09] dannyrb commented on #787
:tada: This issue has been resolved in version 3.10.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/cornerstone-tools)
- [GitHub release](https://github.com/cornerstonejs/cornerstoneTools/releases/tag/v3.10.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-05-27 03:11] dannyrb commented on #774
Fixed in 3.10

[2019-05-27 03:11] #774 closed

[2019-05-27 03:14] dannyrb commented on #784
Fixed here: https://github.com/cornerstonejs/cornerstoneTools/pull/880

[2019-05-27 03:14] #784 closed

[2019-05-27 03:16] dannyrb commented on #693
@evren217 was this addressed in your recent changes? I think we're throttling all annotation tool recalculations now.

[2019-05-27 03:20] dannyrb commented on #940
I've come across this, and it does stink. I find myself doing:

[code]

If Typescript is yelling at you for both of the above, we could try adding an aliased export? Unfortunately, we can't completely rename it without introducing a breaking change and a major version bump.

[2019-05-27 05:34] mikehazell opened #942 "Cannot read property 'preMouseDownActivateCallback' of undefined"
### Prerequisites

* [x] Are you running the latest version?
* [x] Are you reporting to the correct repository?
* [x] Did you perform a cursory search?

For more information, see the `CONTRIBUTING` guide.

Getting the following error when clicking on a canvas if there are no active tools.

[code]

### Description

The `mouseDownActivate` event handler does not check if `getActiveTool` returned a t

[2019-05-27 06:33] mikehazell commented on #941
Interesting, so the "main" export of cornerstoneTools is the file `./dist/cornerstoneTools.js`

https://github.com/cornerstonejs/cornerstoneTools/blob/61e947de4f20114c040502278b86b3c5a154c10b/package.json#L5

That file is what gets produced by the command `build:dev`
https://github.com/cornerstonejs/cornerstoneTools/blob/61e947de4f20114c040502278b86b3c5a154c10b/package.json#L22

... which is confi

[2019-05-27 13:29] #942 closed

[2019-05-27 13:34] dannyrb commented on #942
:tada: This issue has been resolved in version 3.10.1 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/cornerstone-tools)
- [GitHub release](https://github.com/cornerstonejs/cornerstoneTools/releases/tag/v3.10.1)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-05-27 13:59] evren217 commented on #693
That is correct. We can close this issue.

[2019-05-27 16:05] swederik commented on #938
@d13g0 Are you still having this issue after our changes? I think it was related to passing `cornerstoneTools = {cornerstoneTools}` into the component (which was previously necessary, but is no longer required). I'm guessing we can close this.

[2019-05-27 16:26] #693 closed

[2019-05-28 02:13] mikehazell opened #944 "CircleROITool does not have a cursor"
### Prerequisites

* [x] Are you running the latest version?
* [x] Are you reporting to the correct repository?
* [x] Did you perform a cursory search?

For more information, see the `CONTRIBUTING` guide.

### Description

The new Circle ROI Tool does not have a cursor

### Steps to Reproduce

N/A

[2019-05-28 03:26] #944 closed

[2019-05-28 03:32] dannyrb commented on #944
:tada: This issue has been resolved in version 3.11.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/cornerstone-tools)
- [GitHub release](https://github.com/cornerstonejs/cornerstoneTools/releases/tag/v3.11.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-05-28 13:55] lgaudez opened #946 "MouseButtonMask is not mapped correctly"
### Prerequisites

* [ ] Are you running the latest version? Yes
* [ ] Are you reporting to the correct repository?
* [ ] Did you perform a cursory search?

For more information, see the `CONTRIBUTING` guide.

### Description

When I was playing with example, I switched RectangleRoiTool to be triggered only on Mouse 2 button (mouseButtonMask : 2). It is working fine when creating a new shape but b

[2019-05-28 14:29] dannyrb commented on #946
All `active` and `passive` annotations can be interacted with. `enabled` tools are "read only" and cannot be dragged: https://tools.cornerstonejs.org/anatomy-of-a-tool/#modes

AFAIK, this has always been true and the intent.

It's common to draw a `line` annotation, and then draw a `square` annotation. You shouldn't have to re-select the `line` annotation to move it. I believe most other editors f

[2019-05-28 15:37] lgaudez commented on #946
Thank for your reactivity. I actually expect that an existing annotation would interact only with the maskMouseButton given in parameter using setToolActive method : `cornerstoneTools.setToolActive("RectangleRoi", {mouseButtonMask: 2})`

The behaviour for now is that when I'm clicking with button 1, I can move the annotation. Is that clearer ? Thanks

[2019-05-28 16:31] dannyrb commented on #946
As it stands, all existing annotations respond to the primary input regardless of their `mouseButtonMask`. The `mouseButtonMask` is really for defining which buttons are used for _creating_ new annotation data.

You could create a PR that adds a new global configuration setting, that changes the behavior in the `mouseDown` event handler: https://github.com/cornerstonejs/cornerstoneTools/blob/maste

[2019-05-29 10:03] lgaudez commented on #946
thanks for explanation, you can close this issue :)

[2019-05-29 11:19] #946 closed

[2019-06-01 02:39] chenxxcc opened #948 "How to add a unit to ScaleOverlayTool, version 2.4.0"
How to add a unit to ScaleOverlayTool, version 2.4.0

[2019-06-02 02:29] chaiwatt opened #950 "How to implement ArrowAnnotate tool on cornerstoneJs"
Dear Sir, I have usage problem on 'arrowannotate' tool. Below is my javascript code.

[code]
Code work find for 'wwwc' tool, but once I change to arrowannotate then nothing draw on viewport. I'm very new on cornerstoneJs, Any advise or guidance would be greatly appreciated, Thanks.

[2019-06-02 03:23] dannyrb commented on #950
:wave: Hi! It looks like you're using an older version of CornerstoneTools. It'll be easier for you to find support here if you're using the latest major version.

If you create a minimal reproduction in Codepen or Codesanbox, I can take a quick peak. There should be a version 2 branch in this repo if you need to poke through old examples or source code.

[2019-06-05 14:21] JamesAPetts commented on #895
Just a heads up:

and

should be much much more straightforward in an upcomming major version: #953 .

Cheers,
James

[2019-06-05 14:39] JamesAPetts opened #954 "🤔 v4 Beta Discussion ☕"
Hey all,

Considering #953 will require a surface level API change in order to greatly improve segmentation support, we have a chance to fix a bunch of annoying outstanding API issues which are minor but require a major version bump.

Here is my preliminary list, feel free to add:
- Make `doneMoveCallback` explicitly Tool API and not user API #915
- Fix the lib.js export typo, `convertToVectro3` t

[2019-06-06 10:30] lgaudez commented on #940
Thanks for your answer, an alias could be a nice workaround. We could choose a method name like 'get' or 'retrieve' ? What do you think about this naming?

[2019-06-06 12:43] dannyrb commented on #940
@JamesAPetts a full rename may be worth considering for v4.

@Igaudez, naming things is hard. Something more indicative of the behavior might be:

`getModule`, `importModule`

Or to better indicate that these are more prone to changing than top level exports:

`getInternalModule`

[2019-06-06 13:05] JamesAPetts commented on #940
`getInternalModule` gets my vote. Lets do this for v4, even:

`import { import as csTools } from 'cornerstone-tools'` makes even our examples difficult to follow sometimes. Quilljs doesn't do _everything_ right.

I'll add this to the Kanban board.

[2019-06-06 14:25] JamesAPetts commented on #940
We went with `importInternalModule` haha. Merged in `vNext` in #958. I'll close this for now, this can't be changed until 4.0 as its a breaking change.

[2019-06-06 14:26] JamesAPetts commented on #954
[Kanban board up here](https://github.com/cornerstonejs/cornerstoneTools/projects/5)

[2019-06-06 14:59] lgaudez commented on #940
`importInternalModule` is fine. Thx

[2019-06-07 14:34] dannyrb commented on #940
Per @JamesAPetts's comment, you'll see this change when v4 drops. If you can't wait, please feel free to PR it as an alias'd export and I'll merge the change.

[2019-06-07 14:34] #940 closed

[2019-06-07 14:37] dannyrb commented on #761
The OHIF viewer demo is now using v2 and appears to work on Safari.
Some basic examples have been spun up. If one is missing that you would like to see added, please create a new issue, or create and contribute an example.

[2019-06-07 14:37] #761 closed

[2019-06-07 14:58] dannyrb commented on #883
Closing due to inactivity. Please don't hesitate to continue the conversation or open a new issue.

[2019-06-07 14:58] #883 closed

[2019-06-07 14:59] dannyrb commented on #890
@unosbaghaie, when it reaches the top of my priorities list, or some brave soul (maybe even you?) takes the time to PR an example ^_^

[2019-06-07 14:59] #895 closed

[2019-06-07 15:06] dannyrb commented on #764
Closing due to inactivity. Please don't hesitate to continue the conversation or open a new issue.

[2019-06-07 15:06] #764 closed

[2019-06-07 15:17] dannyrb commented on #806
Merged: https://github.com/cornerstonejs/cornerstoneWADOImageLoader/pull/261

Will be available in the next release 👍

[2019-06-07 15:17] #806 closed

[2019-06-09 14:57] dannyrb commented on #948
AFAIK, this is not currently supported. I'm also skeptical that the scale is accurate when a rotation is applied. To accomplish this, you would likely need to create a fork of 2.4, or add a custom tool in 3.x, or PR the updated functionality in 3.x.

[2019-06-09 14:57] #948 closed

[2019-06-09 14:58] dannyrb commented on #950
It's been a little over a week with no response. I'm going to close this for now, but feel free to respond to continue the conversation.

[2019-06-09 14:58] #950 closed

[2019-06-09 16:10] dannyrb commented on #938
Closing for now. Please feel free to continue the conversation if your issue is not resolved.

[2019-06-09 16:10] #938 closed

[2019-06-09 19:25] dannyrb commented on #926
The draw api helps tools render annotations in a consistent way. They do not account for the entire lifecycle of a tool on their own. For example, any time tool data is manipulated, or the viewport changes, the canvas needs to re-render. Any previously rendered annotations are cleared, and they need to be drawn with the viewport's changes in mind.

Your best bet is to create a custom cornerstone p

[2019-06-09 19:25] #926 closed

[2019-06-09 20:07] #379 closed

[2019-06-10 15:45] LadislavBohm opened #964 "Zoom out limited to 25%"
### Prerequisites

* [x] Are you running the latest version?
* [x] Are you reporting to the correct repository?
* [x] Did you perform a cursory search?

For more information, see the `CONTRIBUTING` guide.

### Description

I noticed in every example of cornerstone tool zoom for both mouse wheel and mouse button, that it is limited to zoom out to 25%. Is there any reason for that and is it possible

[2019-06-11 01:12] dannyrb commented on #964
https://github.com/cornerstonejs/cornerstoneTools/blob/master/src/tools/ZoomTool.js#L28-L33

Our docs are pretty sparse. Issues like these help my prioritize which ones are being used and should receive attention. Most of the tool logic is easy enough to find by exploring the source code. Please don't hesitate to do a little digging and PR your own update to the docs -- still can't find what you'r

[2019-06-11 01:16] dannyrb commented on #964
Addressed here: https://github.com/cornerstonejs/cornerstoneTools/pull/961/commits/c35f7ec0ec62c490ba909cd42e79abb60b3c6526

[2019-06-11 01:16] #964 closed

[2019-06-11 02:44] dannyrb commented on #918
https://tools.cornerstonejs.org/examples/tools/reference-lines.html

I've added a `ReferenceLinesTool` to our examples. FWIW, there is more than one way to skin this cat. I've seen this same thing accomplished with a `CustomTool` that doesn't require a synchronizer.

[2019-06-11 02:44] #918 closed

[2019-06-11 02:45] dannyrb commented on #890
https://tools.cornerstonejs.org/examples/tools/reference-lines.html

I've added a `ReferenceLinesTool` to our examples. FWIW, there is more than one way to skin this cat. I've seen this same thing accomplished with a `CustomTool` that doesn't require a synchronizer.

I'm more than happy to discuss changes to the tool that make it easier to use in a new issue, or look at PRs that improve the tool o

[2019-06-11 02:45] #890 closed

[2019-06-11 02:52] dannyrb commented on #935
@Karl-Heinrich, I am able to reproduce, and I agree with your assessment. Is this something you would be interested in drafting a Pull Request for?

[2019-06-11 06:24] unosbaghaie opened #966 "Reference Lines v3 Uncaught (in promise): Error: element not enabled"
Thanks for [referenceLine](https://tools.cornerstonejs.org/examples/tools/reference-lines.html) sample

I have the below code as your sample. but I get an error `ERROR Error: Uncaught (in promise): Error: element not enabled` at

[code]

this is my whole code

[code]

the elements are enabled .

[2019-06-11 10:44] chenxxcc opened #967 "Hello, why can't I find orientationMarkers Tool in v3.12.2 source code?"
Hello, why can't I find orientationMarkers Tool in v3.12.2 source code?

[2019-06-11 13:11] Karl-Heinrich commented on #935
Sure! Could you point me to the correct file(s), where you think a fix to this should go?

[2019-06-11 14:57] dannyrb commented on #966
Are you able to host a reproduction in CodePen, CodeSandbox, or a new repository? I am more than happy to help troubleshoot if there's something interactive I can get my hands on.

It may be worth taking a look at the source code for the example. Most examples consist of:

1. [A Jekyll Layout](https://github.com/cornerstonejs/cornerstoneTools/blob/master/examples/_layouts/enable-tool.html)
2. [Som

[2019-06-11 15:05] dannyrb commented on #967
I'm not sure it was brought over in the transition to v3. Looking back as far as `tag` 3.0.1, I see that it's core logic exists, but nothing that would render to the canvas:

https://github.com/cornerstonejs/cornerstoneTools/tree/v3.0.1/src/orientation

I would be more than happy to accept an "overlay example" of orientation markers, or an updated tool for rendering those markers to the canvas.

[2019-06-11 17:39] dannyrb commented on #935
Pretty much all of the events we support tool interaction for go through our global listeners, so we can normalize them across browsers, and tack on some extra data. You can find them here:

- [src/eventListeners](https://github.com/cornerstonejs/cornerstoneTools/tree/master/src/eventListeners)

For `wheelEvent` specific logic, check out:

- [src/eventListeners/wheelEventListener.js](https://githu

[2019-06-12 06:32] unosbaghaie commented on #966
Oh sorry . the mistake was mine. it's solved

[code]

[2019-06-12 06:32] #966 closed

[2019-06-12 08:14] unosbaghaie opened #971 "remove elements from cornerstone.getEnabledElements()"
Hi

I see EnabledElements using `cornerstone.getEnabledElements()`.
How can  I remove  an element from this list?

[2019-06-12 08:41] swederik commented on #971
Disable the element with `cornerstone.disable(element)`

[2019-06-12 09:53] #971 closed

[2019-06-13 15:42] biharck commented on #875
Fixed at https://github.com/cornerstonejs/cornerstoneTools/pull/973

[2019-06-13 19:31] #875 closed

[2019-06-13 19:31] dannyrb commented on #875
@all-contributors, please add @biharck for docs

[2019-06-17 09:00] kisadam220 opened #977 "Memory leaks with Magnifier"
Hi everyone.

When using the magnifier multiple times (just clicking mad many times), memory used is going up. I found this problem even with the example of the memory tool : https://tools.cornerstonejs.org/examples/tools/magnify.html
I might be doing something wrong here but i do not know if the magnifier canvas gets disposed after use. The memory leaks happen even when loading new images repeate

[2019-06-17 14:10] dannyrb commented on #977
It's possible we're not disposing of something properly. You can find all of the `Magnify` Tool's code here:

https://github.com/cornerstonejs/cornerstoneTools/blob/master/src/tools/MagnifyTool.js

The tool works be creating a `canvas` element, enabling it w/ cornerstone, and rendering an image to the canvas at a new scale:

https://github.com/cornerstonejs/cornerstoneTools/blob/master/src/tools/M

[2019-06-17 17:47] romulobordezani opened #978 "CORS issue while starting Jekyll examples from suggested initial url."
### Prerequisites

* [x] Are you running the latest version?
* [x] Are you reporting to the correct repository?
* [x] Did you perform a cursory search?

### Description
CORS issue while starting Jekyll examples from suggested initial url, `127.0.0.1:400`
![Screen Shot 2019-06-17 at 1 23 01 PM](https://user-images.githubusercontent.com/3472146/59625000-a082b100-910e-11e9-9655-6974796c359d.png)

###

[2019-06-18 12:46] dannyrb opened #980 "stackImagePositionSynchronizer should only synchronize images on approximately the same plane"
I've had a number of users report to me directly that the `stackImagePositionSynchronizer` exhibits unexpected behavior. For example:

- Two axial stacks
- Two coronal stack

When scrolling one of the axial stack's, I would expect the other to update it's image to the closest slice. I would expect both coronal stack's, because their for a different orientation, to remain on their current image.

U

[2019-06-24 06:51] unosbaghaie opened #981 "How disable or deactive all tools for an element"
How can I disable or deactive all tools for an element?

[2019-06-24 16:37] dimo2008 opened #982 "Tools are not activated"
I am trying to activate any tool but it none is working ,for example: lengthtool
steps:
1-cornerstoneTools initialization
2- enabling cornerstone to the needed element
3- adding LengthTool to the element
4- when setting it to active the console gives me the message:
(Unable to find tool "Length" for enabledElement)
however when trying to add the tool again a message says:
(Length has already been

[2019-06-24 18:40] dannyrb commented on #982
@dimo2008 can you create a minimal reproduction in a Codepen, CodeSandbox, or separate repository? A snippet would also be helpful

[2019-06-25 03:00] gkgkska opened #983 "Hello, team I've requested to develop wheel experience."
### Prerequisites

* [O] Are you running the latest version?
   yes, currently, want to extend tool.
* [O] Are you reporting to the correct repository?
  cornerstoneTool what I've been requested to
* [O] Did you perform a cursory search?
    mouse event? I did

For more information, see the `CONTRIBUTING` guide.

### Description

[Description of the bug or feature]

### Steps to Reproduce

1. [Fir

[2019-06-25 04:11] dannyrb commented on #983
It looks like our examples need updated for this specific tool. Ideally, this tool should be located here:

https://tools.cornerstonejs.org/examples/tools/zoom-mouse-wheel.html

This should more or less do the trick:

[code]

[2019-06-25 09:42] gkgkska commented on #983
what I've been working with zoom-mouse-wheel tool, and it's been already implement by our app.
I can see any StackScroll api on cornerstoneTools, is it new feature you will be update?

[2019-06-25 09:55] gkgkska commented on #983
Thank you for your prompt repose. please let me know what is different between stackScrollMouseWheelTool and zoomMouseWheel?

[2019-06-25 10:51] swederik commented on #983
The first one scrolls images in the stack. The second one zooms into a single image.

[2019-06-25 20:58] pzehle opened #985 "Hide a tool's rendered cached stats or text"
### Prerequisites

* [x] Are you running the latest version?
* [x] Are you reporting to the correct repository?
* [x] Did you perform a cursory search?

### Description

I am currently developing an algorithm that creates a lot of Probe elements inside a RectangleRoi depending on the HU. This is to create segments of areas that are not air. Basically, automatically paint tumours or other parts of

[2019-06-26 02:19] dannyrb commented on #985
While this is certainly something we can add support for (and it may already exist, I'd have to double check), why not "paint" using the brush tool instead? It is a much more common representations for segments.

[2019-06-26 22:16] pzehle commented on #985
Hi @dannyrb, as usual, thanks for your quick response.

My first choice was to use the Brush Tool. While the first thing I did was to check up what information it brings from getToolState, there is an error, you have to use 'brush' instead of 'Brush', and this is not stated, so I got confused. Next, I painted on my canvas and checked the tool state, it brings hundreds of thousands of arrays with v

[2019-06-27 04:05] dannyrb commented on #985
Brush is a bit of an odd beast. You're also correct that it's not documented well. The current version feels more like a work-in-progress prototype, and it's actually getting a decent overhaul in the coming months. That being said, it's likely a better candidate for what you're trying to accomplish. Both in it's current form, and it's upcoming one.

Good catch. I'll need to double check with @Jame