[2019-06-27 08:30] pzehle commented on #985
Hey @dannyrb, thanks again for your response.

This helps me a lot, I think now I understand how this tool works. It is very clear and I thank you for the detailed explanation. I have just two more question to finish this thought:

1. In case I use the BrushTool. How could I deactivate the cursor so I don't have this re-render stuff on mouse move? For me this is very important as the application I

[2019-06-27 11:25] MathisGuilhin opened #988 "yalc publish for OHIF Viewer"
Hello,

I'm using cornerstoneTools with OHIFViewer to add a segmentation tool and the possibility to save the ROI formed. As I did with ohif-core to add modifications, I forked and clone this repo and I went into it to run :

* yarn install
* yalc publish

I have no problem with the install, but for the publishment, instead of just grabbing the file and put them in a local folder, it runs a lot of

[2019-06-27 13:02] dannyrb commented on #988
To maintain a consistent look and feel, we enforce [eslint](https://eslint.org/) and [prettier](https://prettier.io/) rules (as warnings or errors). These boil down to things you would normally consider preferences:

- No `console.log()` use
- Wrap code longer than 80 characters per line
- Prefer single quotes over double quotes for strings
- etc.

These checks run when we try to publish as a last

[2019-06-27 13:22] dannyrb commented on #985
I don't know that you can. We need some way to show you the size and placement of the brush for when you interact with the canvas. We've looked at SVG cursors, but providing an SVG to the browser hits a dimension limitation that we often need to surpass. We could add an "SVG layer" for rendering things like this that don't trigger canvas re-renders, but that would be far-future.

If you have other

[2019-06-27 13:54] pzehle commented on #985
Thanks for the information and the help. I will definitely work on a PR for this and then let you know.

[2019-06-27 14:17] dannyrb commented on #981
`cornerstoneTools.store.state.tools`

Is an array of tools. Each tool has an `element` property.

1. Filter the array by the target element.
2. For each tool in the filtered array, call `cornerstoneTools.setToolDisabledForElement(element, tool.name)`

Or at least something similar to that song and dance.

[2019-06-27 14:17] #981 closed

[2019-07-01 13:41] mikehazell commented on #529
What happened to this change? Unless I've lost my mind, the changes are no-longer in master and no-longer appear in the history of that file.

Master now:
https://github.com/cornerstonejs/cornerstoneTools/blob/82e0e988043bf6d4bb69ace48e9882d5e069bce1/src/stackTools/stackPrefetch.js#L13-L15

PR marked as merged:
https://github.com/cornerstonejs/cornerstoneTools/pull/542/files#diff-b5e5d95181782e7eb

[2019-07-01 13:43] Saucistophe commented on #529
Indeed.

[2019-07-01 15:33] MathisGuilhin opened #992 "Add/Display measurement from x,y coords"
Hello,

First of all thank you for this framework that is being really helpful.
I'm using it with the OHIF Viewer to add a segmentation tool.

I would like to be able to make a segmentation with interpolation (ie. make a few segmentations, like 5 frames over 100, and then an algorithm calculate the coordinates of the other ROIs).

For this, I would like to know if it's possible to simulate the dra

[2019-07-01 17:52] dannyrb commented on #529
@mikehazell this may have been lost when we bumped from v2 to v3. A lot of the merging was by hand, and there were a decent number of changes. It's possible this one slipped by. Feel free to create a new issue if this needs to be addressed.

[2019-07-02 03:12] chenxxcc opened #993 "When can orientation Markers Tools be used in version 3.x"
Because of the cornerstone. resize () method, we upgraded the version to 3.x, but unfortunately orientationMarkersTools disappeared.

[2019-07-02 03:38] dannyrb commented on #993
@chenxxcc, I responded to a previous issue you created here: https://github.com/cornerstonejs/cornerstoneTools/issues/967

We are more than happy to accept and review a PR to add orientation markers, but to the best of my knowledge, it is not on any core team member's roadmap to add this functionality in the near future. If you need immediate assistance, I recommend reaching out to a consultant.

[2019-07-02 03:38] #993 closed

[2019-07-03 09:35] MathisGuilhin commented on #992
I still haven't found out a way to do this. Do you have any clue?

[2019-07-03 13:47] dannyrb commented on #992
There is an in-progress `ohif-extension` that adds a tool that has this functionality. Under the hood, it's implemented as a CornerstoneTool:

- [Extension](https://github.com/JamesAPetts/ohif-segmentation-plugin)
- [Tool](https://github.com/JamesAPetts/ohif-segmentation-plugin/blob/master/src/tools/FreehandRoi3DTool.js)
- [Interpolation Utilities](https://github.com/JamesAPetts/ohif-segmentation-

[2019-07-05 09:53] MathisGuilhin commented on #992
That looks really nice.
I saw you mentionned it in a commit recently.
Do you know when this feature will be available?

[2019-07-05 13:28] dannyrb commented on #992
@MathisGuilhin, the bulk of the `extension` work that was needed to support this was just merged. The extension itself needs some UI work for it's panel components. The dev assigned to it may not be free for 2 to 4 weeks to begin wrapping up the work.

If you need it today, take a peak at the extension's repository and attempt to move it forward with pull requests or fork it? I'm sure the library'

[2019-07-08 16:06] dimo2008 commented on #982
sorry for late reply, i solved the problem, i was referring to the parent element.

[2019-07-08 16:06] #982 closed

[2019-07-08 16:53] dimo2008 opened #997 "Reference line implementation, getting ImagIds and Stack"
i want to enable the reference line tool.
my problem is with getting the image Ids of the current element.
and how to implement the corresponding promises ?
this is how i implemented it:

        const element1 = this._seriesElement.get(0).children[0].children[0];
        const element2 = this._seriesElement.get(0).children[1].children[0];

        cornerstoneTools.init();
        cornerstone.enab

[2019-07-09 04:42] xingbofeng opened #998 "vNext - moveEndHandler will trigger that when i click the enabled element, but it is not the same with 2.4.x"
### Prerequisites

* [x] Are you running the latest version?
* [x] Are you reporting to the correct repository?
* [x] Did you perform a cursory search?

For more information, see the `CONTRIBUTING` guide.

### Description

[Description of the bug or feature]

### Steps to Reproduce
( In vNext )
1. Active LengthTool
2. Click the enabled element
3. there is a new measurement with 0 px length and i c

[2019-07-09 04:47] xingbofeng commented on #998
In 2.4.x,

https://github.com/cornerstonejs/cornerstoneTools/blob/cb606085b80b72160e6ad48899f62be995d92272/src/manipulators/moveNewHandle.js#L33-L44

when i add the new measurement, moveNewHandle will be called , and the `moveEndCallback` listener will be added after the `MOUSE_MOVE` event trigger:

But in vNext.

https://github.com/cornerstonejs/cornerstoneTools/blob/cc6ba5e14c79f16172da5f7c7be13

[2019-07-09 04:50] xingbofeng commented on #998
@dannyrb If you think it's necessary to keep the same behavior between vNext and v2.4.x, i will create a Pull Request.

[2019-07-10 01:54] crysta-l opened #999 "StackScrollTool and stackScrollSynchronizer do not work"
Hello,I changed version 2 to the latest version, StackScrollTool and stackScrollSynchronizer do not work.
No error in the console panel，I‘m not sure if there is a problem with my code.

So I put part of my code involved in the codeSandbox -- https://codesandbox.io/s/stackscroll-synchronizer-r0evv

in above example I can use mouseWheel to scroll the series but i can't use left mouse to scroll.

[2019-07-10 03:09] crysta-l commented on #999
[here](https://codesandbox.io/s/vue-template-3b7ll) is the example about verstion 2.3.6

[2019-07-10 12:36] ASVBPREAUBV opened #1000 "Stackscroll with multiple Layer per Stack"
### Prerequisites

* [x] Are you running the latest version?
* [x] Are you reporting to the correct repository?
* [x] Did you perform a cursory search?

For more information, see the `CONTRIBUTING` guide.

### Description

I really like your tools. They work great for me.
I was wondering if this was possible:
StackScroll and multiple Layers per Stack.
So what im asking for is a Stackscroll with ad

[2019-07-11 13:14] dannyrb commented on #997
You should know the image Ids because you set them when setting the stack's state:

https://tools.cornerstonejs.org/examples/tools/stack-scroll-mouse-wheel.html

`cornerstone.loadImage(imageId)` returns a promise

[2019-07-11 13:25] dannyrb commented on #998
@xingbofeng I think `v2.4.x` is exhibiting the preferred behavior. You'll likely notice the same issue with any tools that have multiple handles.

[2019-07-11 13:52] dannyrb commented on #999
@crysta-l, good catch. I would be more than happy to accept a PR to update the documentation. When using an incorrect tool name, you should see a `warning` in your console that the tool does not exist or was not "added".

For your `scrollSync` issue, you have this snippet:

[code]
You were using the wrong event. You can import and use our enum, or copy and paste the correct string value: [STACK_SC

[2019-07-11 13:53] dannyrb commented on #999
Actually, I'll leave this open until someone nice decides to update the docs with the correct tool name. Bonus points if anyone wants to contribute a StackScrollSync example

[2019-07-11 13:56] dannyrb commented on #1000
@ASVBPREAUBV, as in, text annotations that update to show image specific information each time a new image is displayed?

[2019-07-11 14:18] ASVBPREAUBV commented on #1000
Thanks for the fast reply. I was experimenting with different ideas. I tried different layers of information and also image data. Ideal would be a data type that implemented both. I was thinking svg.

[2019-07-11 15:01] dannyrb commented on #1000
Most implementations I've seen use a relative or absolutely positioned dev for a text overlay. If you use the CSS `pointer-events: none;`, it works pretty well.

You could accomplish something similar with an SVG layer. I know on our very long-term roadmap, we'd like to see most of our annotation tools converted to SVG and used in an SVG layer so manipulating them doesn't require a re-render.

[2019-07-11 16:12] dannyrb commented on #754
It looks like your DICOM images don't have `imagePositionPatient`:

- https://github.com/cornerstonejs/cornerstoneTools/blob/master/src/synchronization/stackImagePositionOffsetSynchronizer.js#L46-L51

Tested here: https://rawgit.com/cornerstonejs/dicomParser/master/examples/dumpWithDataDictionary/index.html

The event you're using for your synchronizer should probably be: `cornerstoneimagerendered

[2019-07-11 16:12] #754 closed

[2019-07-11 16:16] dannyrb commented on #983
Closing. If you've managed to figure things out @gkgkska, please consider adding a minimal example to our collection of examples so that others may benefit.

[2019-07-11 16:16] #983 closed

[2019-07-11 16:17] dannyrb commented on #977
Related: https://github.com/cornerstonejs/cornerstoneTools/pull/934

[2019-07-12 01:58] xingbofeng opened #1005 "Is it necessary to draw with dashed line feature?"
### Prerequisites

* [x] Are you running the latest version?
* [x] Are you reporting to the correct repository?
* [x] Did you perform a cursory search?

For more information, see the `CONTRIBUTING` guide.

### Description

I want to draw the dashed line measurement. Just Like this:

![](http://wx2.sinaimg.cn/mw690/005SpQEcgy1g4wtj1bhkrj30l50ik3ym.jpg)

[code]

** I Have add my custom feature in my

[2019-07-12 02:04] xingbofeng opened #1006 "Is it necessary to add toolSelectedCallback feature?"
### Prerequisites

* [x] Are you running the latest version?
* [x] Are you reporting to the correct repository?
* [x] Did you perform a cursory search?

For more information, see the `CONTRIBUTING` guide.

### Description

There is the method that `pointNearTool` and `toolSelectedCallback` that I can only select the tool by mousedown near the handle, but I want to select the tool by mousedown inne

[2019-07-12 02:13] xingbofeng opened #1007 "Is it necessary to add endUpdateCallback and endDrawingCallback feature?"
### Prerequisites

* [x] Are you running the latest version?
* [x] Are you reporting to the correct repository?
* [x] Did you perform a cursory search?

For more information, see the `CONTRIBUTING` guide.

### Description

I saw the [vNext](https://github.com/cornerstonejs/cornerstoneTools/projects/5), and the plan to #915 , and I have the problem that I want to know the new measurement added or t

[2019-07-12 03:09] xingbofeng commented on #998
I created the #1008 PR. Thanks @dannyrb

[2019-07-12 12:23] ASVBPREAUBV commented on #1000
Do you have an example for multiple layer per stack? A stack where each stackitem has different layers would also do. Id like to see the performance of that.

[2019-07-12 12:58] dannyrb commented on #1000
I'm not sure what you mean. `cornerstone` "core" has an implementation of layers that you can see in it's [composite images example](https://rawgit.com/cornerstonejs/cornerstone/master/example/layers/index.html). AFAIK, there is nothing as generic as a stack of stackitems.

[2019-07-12 13:06] ASVBPREAUBV commented on #1000
Ah ok yes that was the question. So the implementation of a stack in cornerstoneTools is on an array of images? Like:
`
stack = {
      imageIds: [1,2,3...],
      currentImageIdIndex: 0
};
`
So when i want to implement multiple layers per "stackitem" i have to load the additional information or layers after the images updated?

[2019-07-12 13:12] dannyrb commented on #1000
You're trying to accomplish a stack of composite images? What does your data look like? What do you _have_ and what are you trying to accomplish?

If you want a stack of composite images, you would likely need to create something to manage those layer associations on your behalf. It's not a common request, so it hasn't worked it's way into CornerstoneTools. You can see how layers are managed/used

[2019-07-12 13:18] dannyrb commented on #1005
Hmm.. You should be able to nest the existing `draw()` calls, and then set the context's line dash within it's callback? `drawDashed` does feel like it offers better DX, but it should probably pull from a library default dashed (like how we set/get default tool colors), and have options to override the default if desired.

I think this is something that makes sense to add 👍

[2019-07-12 13:21] ASVBPREAUBV commented on #1000
Yes that is exactly what im looking for.
Thank you very much for your help.
Ill take a closer look at the stack and the example above then.

[2019-07-12 13:30] dannyrb commented on #1006
It's cool to see other people playing around in the listeners/dispatchers ^_^

Tools that implement `pointNearTool` are basically saying that, if this is true, I want to handle the incoming event, and I want to do it in the library standard way of dragging all handles (unless I've overridden the default behavior).

Do you see `pointInnerTool` being used for behavior other than dragging all annotat

[2019-07-12 13:34] dannyrb commented on #1007
I'll need to think on this, but I'll try to get back to you early next we. Don't hesitate to `@mention` me if I'm lagging in a response.

[2019-07-13 12:01] xingbofeng commented on #1005
@dannyrb  Thanks! I made `drawDashed.js`  the following code `data.dashed && context.setLineDash([5, 3]);` many times in all annotationTools `renderToolData`...

Thanks for your reply. Now I think set `data.dashed` to dashed segments, for example `[5, 3]` is better than `Boolean` type for dashed lines or solid lines.And the default `dashed` is `[]`, that is setted in [toolStyle.js](https://github.

[2019-07-13 12:45] xingbofeng commented on #1006
Thanks for your replay, and thanks for cornerstoneTools project. I changed it for the reason that doctor using our pulmonary nodule medical image product think drag the nodule (we use EllipticalRoiTool and FreehandMouseTool based on cornerstone and cornerstoneTools) is too hard, so I changed the code of  EllipticalRoiTool and FreehandMouse, add `pointInnerTool` and changed `mouseDown.js`.

In the

[2019-07-13 12:47] xingbofeng commented on #1007
hhh, thank your reply, i will mention you!

[2019-07-15 11:05] JamesAPetts commented on #1007
Hey @ xingbofeng,

Thanks for the quesiton, just so we are on the same page:

I understand the intent of your `endDrawingCallback`, in cornerstone vocabulary I guess that would be a "`measurementCompletedCallback`. Maybe an example of your use-case would help clarify, but any tool complicated enough to need some clean up at the end of drawing (e.g. freehand annoations), likely wouldn't be using th

[2019-07-15 11:12] JamesAPetts commented on #1006
Just to play devil's advocate, how would you intend to deal with the case of drawing one region inside the other in this `pointInnerTool` mode?

e.g.:
![giphy](https://user-images.githubusercontent.com/25818497/61212258-a19d0300-a6f9-11e9-802e-2783d5a4eb7b.gif)

As the passive functionality of the first ROI would grab the event and you would instead start moving the ROI.

[2019-07-15 14:25] dannyrb commented on #1006
For this specific use case, I would recommend `pointNearTool` having a larger threshold/distance for when it would return true to make the `nodules` easier to grab/drag. You could even change `pointNearTool` to conditionally use `pointInnerTool` logic when the width or height of the shape is small.

If any of the above things are not easy/obvious to do in the current setup, then maybe we could exp

[2019-07-16 02:34] chenxxcc opened #1011 "Recent versions will consider implementing filter functions, such as Threshold, Sharpen, Sobel?"
Recent versions will consider implementing filter functions, such as Threshold, Sharpen, Sobel?

[2019-07-16 03:32] dannyrb commented on #1011
Can you explain further or provide examples?

[2019-07-16 03:43] chenxxcc commented on #1011
Thank you for your reply!
Filter in Toolbox [https://ivmartel.github.io/dwv-jqui/](https://ivmartel.github.io/dwv-jqui/)

[2019-07-17 01:46] crysta-l commented on #999
Thank you for your early reply, I didn't see it in time just because I was called to do something else.

[2019-07-17 04:04] chenxxcc opened #1012 "The TextMarkerTool does not work by changing the current value"
### Prerequisites

v3.15.6
### Description

I want to achieve clicking two buttons to mark left and right on the image, but it doesn't work.

### Steps to Reproduce
[code]
Thank you very much for the contribution of the author to the medical cause.

[2019-07-17 07:07] chenxxcc commented on #1012
sorry,I found the problem because I started several elements, and I changed addTool to addToolForElement to solve it perfectly.

[2019-07-17 09:56] unosbaghaie opened #1013 "How to remove all lines on an element"
How can I remove all lines on an element? (v3)

[2019-07-17 10:35] dannyrb commented on #1013
Can you provide a better example of the problem you're facing and what you've tried so far?

[2019-07-17 10:36] #1012 closed

[2019-07-17 10:46] unosbaghaie commented on #1013
for example I have used the Length tool and draw some lines on the enabled element. Now I want to remove all those lines at once.

![lines](https://user-images.githubusercontent.com/14114058/61369615-b7e7c200-a8a5-11e9-8bc7-9b96f9185b76.png)

[2019-07-17 14:09] jlopes90 commented on #1013
[code]

[2019-07-17 15:11] dannyrb commented on #1013
I think the toolState would still exist in that instance, but the tool that renders it would be gone.

You could also clear that tool's state for that image with [`removeToolState`](https://tools.cornerstonejs.org/api/#removeToolState)

[2019-07-17 15:33] jlopes90 commented on #1013
It is

`cornerstoneTools.clearToolState(element, toolName);`

[2019-07-17 16:11] dannyrb commented on #1013
@all-contributers, please add @jlopes90 for answering questions

[2019-07-17 16:12] dannyrb commented on #1013
@all-contributors, please add @jlopes90 for answering questions

[2019-07-18 06:24] unosbaghaie opened #1016 "CrossHair with cross lines"
Is it possible to have a CrossHair  like the one in here [demo](https://demo.softneta.com) ?

![cross](https://user-images.githubusercontent.com/14114058/61433986-f767ea00-a949-11e9-9df9-7c68a40538f0.png)

[2019-07-18 09:41] jlopes90 commented on #1016
thanks for showing demo, I've never seen it, it's very top.

[2019-07-19 08:46] kubo25 opened #1017 "Arrow Annotate filters out DoubleClick event before logic can fire"
### Prerequisites

* [x] Are you running the latest version?
* [x] Are you reporting to the correct repository?
* [x] Did you perform a cursory search?

For more information, see the `CONTRIBUTING` guide.

### Description

Double click events, like changing text on arrow annotation don't fire for me. I just noticed it now, but it's happening since v3.15.4.

I found that it's happening because for

[2019-07-19 12:37] dannyrb commented on #1017
@mikehazell recently did a lot of great work to clean up and add tests for `_getNormalizedOptions`. You can see [some of those changes at the top of this list](https://github.com/cornerstonejs/cornerstoneTools/compare/v3.15.3...master) or in PR https://github.com/cornerstonejs/cornerstoneTools/pull/903

That's probably why we're seeing this issue; however, I think this only ever worked because we

[2019-07-20 02:19] Ggpsv opened #1018 "How to disable a tool when another gets activated?"
### Prerequisites

* [x] Are you running the latest version?
* [ ] Are you reporting to the correct repository?
* [x] Did you perform a cursory search?

### Description

We're trying to add a new custom tool `PanZoom` which allows panning and zooming. We're aware that these controls are already available standalone and can be used simultaneously. However, the fact that they can be used simultaneou

[2019-07-20 09:10] TheHidden1 opened #1019 "cornerstoneTools.init() returns undefined"
Hello !

I am trying to create an angular application using cornerstone and cornerstoneTools
and i am facing  an issue when initializing corenerstonetools :
the cornerstoneTools.init()  function returns undefined.

[code]
Here is a small example showing what i am trying to do  :
[stackblitz example](https://stackblitz.com/edit/angular-svyt2r)

Any help would be appreciated and thank you.

[2019-07-20 13:34] dannyrb commented on #1019
`cornerstoneTools.init()` is not supposed to return a value. If you found old docs that indicated it should, please direct me to them -- they would be outdated from some experiments we tried during the v3 beta.

init is used to setup listeners for cornerstone core's `.enable()` calls, and a few other things. After calling it, the bulk of the API members you will use exist as top level exports on `

[2019-07-20 15:22] dannyrb commented on #1019
15 minor versions later and you're the first to say anything. Because we often don't use our own docs, we rely on reports like this to help address issues and documentation needs. Thank you!

So yes.
cornerstoneTools.init()

And then methods like setToolActive can just be called off cornerstoneTools:
cornerstoneTools.setToolActive()

[2019-07-20 15:33] TheHidden1 commented on #1019
i see xD, thank you for the fast response

[2019-07-20 16:05] dannyrb commented on #1019
I'll keep this open until the docs are updated so we don't forget. Thanks again for creating this issue!

[2019-07-21 10:46] lizhaolz opened #1020 "The porblem of build a custome tool"
# Help, the problem is import for me.
* I want to build a custome Tool. First, I attempt to implement the examp of Documentation(version:  3.x) , *but failed.*
*the bug report is:*

*the following is my code*
[code]
*I guess I forget someting but I don't know. Can anyone help me answer? thanks very much*

[2019-07-21 11:06] #1020 closed

[2019-07-21 13:15] TheHidden1 opened #1021 "library typing ?"
Hi guys , thank you your great work

do you guys provide type definitions for the library ?
i think providing them would go a long way in making this library more usable

[2019-07-21 14:52] dannyrb commented on #1021
@TheHidden1, we do not, but only because we're mostly volunteers with limited time/resources. We would be more than happy to accept type definitions, or guidance on/PRs for a gradual transition to TypeScript for core library code.

[2019-07-21 14:54] swederik commented on #1021
Related: https://github.com/cornerstonejs/cornerstone/issues/336

People seem to be developing the definitions themselves but for whatever reason nobody has seen fit to contribute them back.

[2019-07-22 07:52] xingbofeng commented on #1006
@JamesAPetts I'm not consider this problem,now i just choose the first annotation of the array.I need to consider it.

Thanks for the suggestion of @dannyrb ,i will talk about this suggestion with our doctors, now i think it's not necessary to add this feature.Thanks!

[2019-07-22 08:26] xingbofeng commented on #1007
@JamesAPetts Yes, the `endDrawingCallback` is the `measurementCompletedCallback`, now i can see the event of `MEASUREMENT_COMPLETED` is added to the lastest version.

So, can you add `MEASUREMENT_END_MODIFIED` event to the lastest version.The example like this:

![](http://ww1.sinaimg.cn/large/005SpQEcgy1g58p2ivopkg31240o2gtc.gif)

[2019-07-22 12:55] dannyrb commented on #1018
First and foremost, thanks for taking the time to create an issue and ask a detailed question. It's always great to see new faces commenting and contributing ^_^

### Why doesn't this tool already exist in `cornerstone-tools`

`cornerstone` + `cornerstone-tools` are meant to help developers create medical imaging viewers. Part of the reason we have the functionality as separate tools is because it

[2019-07-22 13:00] #988 closed

[2019-07-22 13:01] #997 closed

[2019-07-22 13:01] #985 closed

[2019-07-22 13:02] dannyrb commented on #977
With #934's merge, this should be fixed. If you're still experiencing memory issues, please feel free to re-open or create a new issue.

[2019-07-22 13:02] #977 closed

[2019-07-22 13:05] dannyrb commented on #1011
@chenxxcc, what are these filter functions used for? Do you have any recommendations around how/where these should be implemented?

[2019-07-22 13:06] #1013 closed

[2019-07-22 13:07] #377 closed

[2019-07-22 13:08] dannyrb commented on #806
Updating to indicate we reverted this behavior, and why: https://github.com/cornerstonejs/cornerstoneWADOImageLoader/pull/261#issuecomment-499951878

[2019-07-22 13:12] dannyrb commented on #703
This issue was originally for v2. In v3, we store the angle in toolState via `cachedStats`

[2019-07-22 13:12] #703 closed

[2019-07-22 13:13] dannyrb commented on #642
This has been open for a long time with no reproduction. I am more than happy to re-open this issue if a reproduction is provided.

[2019-07-22 13:13] #642 closed

[2019-07-22 13:16] dannyrb commented on #1021
@talkdirty and @jussimattila is this something either of you have made progress on and would be interested in sharing with the community? If we can reach a critical mass here, it should relieve some burden on your individual teams to maintain these typings separately.

[2019-07-22 13:17] #935 closed

[2019-07-22 13:30] chenxxcc commented on #1011
According to the teacher's description, I think it's a function similar to a filter, roughly the original image has some similar black shops, after sharpening or saturation adjustment, you can easily find the focus.I took two pictures at the scene.
#### Before image processing:
![img1](https://s2.ax1x.com/2019/07/22/eicGQK.jpg)
#### After image processing
![img2](https://s2.ax1x.com/2019/07/22/eic

[2019-07-22 13:32] chenxxcc commented on #1011
I also learned about similar image processing examples in GitHub.
[http://brucealm1ghty.github.io/](http://brucealm1ghty.github.io/)

[2019-07-22 13:36] swederik commented on #1011
You can do this using custom Web Workers in WADO Image Loader:
https://github.com/cornerstonejs/cornerstoneWADOImageLoader

Here's an example that does Sharpen, Emboss, etc:

https://rawgit.com/cornerstonejs/cornerstoneWADOImageLoader/master/examples/customWebWorkerTask/index.html

[2019-07-22 13:42] swederik commented on #705
His image had a pretty good reproduction but I had to erase it because it had PHI. You just need to enable the rotation tool and start rotating the image. I think we may have nuked the OrientationMarkers tool in 3.x though, didn't we?

[2019-07-22 13:48] chenxxcc commented on #1011
My God, I did ignore this library, which I used in my project, but I didn't read the examples myself. I'm sorry. Thank you for your reply.

[2019-07-22 14:52] dannyrb commented on #1011
I think this was resolved, so I'm going to close this issue for now. I do think that we could make functionality like this easier to use/add, and provide better documentation. I too would have assumed that, if it existed, you would have found information on it in this repository.

[2019-07-22 14:52] #1011 closed

[2019-07-22 15:33] dimo2008 commented on #997
i managed to get the imageIds by other means as i made a specific helper for each tool.
now the reference line is drawn correctly but series are not synced with scroll
![1](https://user-images.githubusercontent.com/20152012/61643704-b2261e00-aca3-11e9-892f-1cc4fcf194ef.PNG)
, actually no series can be scrolled it just stay in the same frame .
( i am using a view port of 4 series shown at once

[2019-07-22 17:18] Ggpsv commented on #1018
Thanks for the very thorough answer @dannyrb!

Yes, that's correct. I'll look into the `strategies` approach, that seems to be the most sensible one since you can configure for it.

That's interesting. `passiveCallback` was not being called when I activated another tool while this tool was being used. Can you point out where "is automatically set to passive." happens in the codebase?

Thank you!

[2019-07-22 17:42] dannyrb commented on #1018
@Ggpsv, they're named "inputResolvers" which really just means that we try to resolve input conflicts when activating a new tool. You can find some of the logic here: https://github.com/cornerstonejs/cornerstoneTools/blob/master/src/store/setToolMode.js#L312-L355

When we activate a tool, we...
1. Find tools with the same supported interaction types (mouse, touch, wheel, etc)
2. Find and call the

[2019-07-23 01:07] Ggpsv commented on #1018
@dannyrb Thanks for the hint. This resolved my doubts regarding _where_ the source of the issue that I described.

As a last ask, can you give an example of the nature of the functions that you describe above? Where do these functions exist in the current design of `cornerstoneTools`?

[2019-07-23 12:02] jlopes90 opened #1022 "Question: Save As Series or Stack"
I wanted to export multiple images with zip, but how to update the image and annotations and save the canvas in the array without showing canvas, just the code only.

[2019-07-23 12:08] jlopes90 commented on #1022
Already saved with zip, but all images is black because it did not update or reset canvas

[2019-07-23 12:47] dannyrb commented on #1022
Can you provide a more detailed explanation of what you're trying to accomplish and what you've already tried?

[2019-07-23 13:02] ASVBPREAUBV commented on #1000
@dannyrb Thanks for the help. I found exactly what i was looking for in my old fork of cornerstoneTools.
Could you tell me where to find this in the new structure?
https://github.com/ASVBPREAUBV/cornerstoneTools/tree/master/examples/layeredImageStacks

[2019-07-23 13:13] dannyrb commented on #1000
@ASVBPREAUBV, the example looks like it should work very similarly in v3. [`fusionRenderer`](https://github.com/cornerstonejs/cornerstoneTools/blob/master/src/stackTools/fusionRenderer.js) appears to still be a part of our source, layer logic lives in `cornerstone` core, and the stack/state API hasn't changed.

We cleared out the examples during the transition, but I would be more than happy to ac

[2019-07-23 13:41] jlopes90 commented on #1022
[code]

[2019-07-23 13:57] jlopes90 commented on #1022
If I use original canvas, example below, it works.

[code]

but without annotations, that's why I needed annotations.

[2019-07-24 06:47] unosbaghaie commented on #1016
I try to find some free time to see if I can add the functionality to crosshairsToll.

[2019-07-24 06:49] unosbaghaie opened #1026 "magnifySize and magnificationLevel in v3"
How can I set magnifySize and magnificationLevel in v3?

[code]

[2019-07-24 07:54] chenxxcc opened #1027 "Expect to add CTR(mind-to-heart ratio) tools in the next version"
Expect to add CTR(mind-to-heart ratio) tools in the next version
![ctr](https://s2.ax1x.com/2019/07/24/eEbmR0.png)

[2019-07-24 07:59] chenxxcc commented on #1027
https://en.wikipedia.org/wiki/Cardiomegaly#Cardiothoracic_ratio

[2019-07-24 09:20] ASVBPREAUBV commented on #1000
@dannyrb will do

[2019-07-24 10:28] dannyrb commented on #1027
These seem like good candidates for 3rd party tools. If you have acceptance criteria and are willing to publish a tool open source, I can provide guidance on how to create a 3rd party cornerstone tool repository/library?

[2019-07-25 09:21] dimo2008 commented on #997
@dannyrb ?

[2019-07-25 11:31] dannyrb commented on #997
This issue feels separate from your first. It should probably be a new GitHub issue. Also, in general, please try to include what you have tried, what you think the issue may be, and code snippets or a minimal reproduction.

Core functionality like this should be well documented. If it's not, call out where you would expect to see it documented or if the current steps are outdated/have issues.

[2019-07-26 19:04] dannyrb commented on #1019
Updated here: https://github.com/cornerstonejs/cornerstoneTools/pull/1023

[2019-07-26 19:04] #1019 closed

[2019-07-26 19:11] #978 closed

[2019-08-01 13:58] PunyFlash commented on #705
Yes, there is no OrientationMarkers tool in the library now. I think the issue is not relevant at this point.

[2019-08-01 13:58] #705 closed

[2019-08-01 18:57] #1027 closed

[2019-08-01 19:03] dannyrb commented on #1022
@jlopes90, I'm not 100% sure I follow. Can you create a reproduction in CodePen or CodeSandbox. What are you trying to do? What's the current behavior? What are you hoping we can help assist with?

[2019-08-01 19:06] dannyrb commented on #1018
I'm not sure I follow. Not everything has to take place in a tool. You can activate tools as part of your application's code. The OHIF Viewer, and it's extensions, are a practical example of this.

`cornerstone-tools` is not an application, it's a library that provides features/functionality to you may want to incorporate in your own application.

[2019-08-01 19:25] dannyrb commented on #1026
[code]

[2019-08-01 19:36] #1026 closed

[2019-08-02 01:35] Ggpsv commented on #1018
Yeah I understand that now. That wasn't entirely clear 10 days ago. I'll be closing this issue now, thanks for all the feedback!

[2019-08-02 01:35] #1018 closed

[2019-08-02 08:22] xingbofeng opened #1037 "bug: IE11 not support context.ellipse method"
### Prerequisites

* [x] Are you running the latest version?
* [x] Are you reporting to the correct repository?
* [x] Did you perform a cursory search?

For more information, see the `CONTRIBUTING` guide.

### Description

see the [API docs](https://developer.mozilla.org/en-US/docs/Web/API/CanvasRenderingContext2D/ellipse), IE11 don't support `context.ellipse`.I'd like to use cornerstoneTools on I

[2019-08-02 13:19] dannyrb commented on #1037
@xingbofeng is this polyfill-able? Ideally, we could advise IE11 consumers to use something like:

https://github.com/google/canvas-5-polyfill

If you're pulling the package in with a build-step, I believe that babel fixes this issue for you. Or at least, I'm aware of Viewers that support IE 11 with the current drawing API, and they don't do anything other than target IE11 as a supported browser w

[2019-08-05 01:44] xingbofeng commented on #1037
thanks i will try to use canvas-5-polyfill

[2019-08-05 11:18] dimo2008 opened #1038 "how to load tools from a file or DB and draw them"
Hello,
I want to save tools and load them again , the situation is that i have an already made program with C++ (desktop software) and the new web viewer , so i want to integrate both together.
i already have done saving from the web viewer to the desktop software, as the desktop has its own tools so i made an intermediate class for tools that takes the needed variables from both mine and cornerst

[2019-08-06 08:04] xingbofeng commented on #1037
canvas-5-polyfill is ok for IE11,, now this issue can be closed.

[2019-08-06 12:48] #1037 closed

[2019-08-06 12:52] #998 closed

[2019-08-06 12:58] dannyrb commented on #998
:tada: This issue has been resolved in version 3.18.1 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/cornerstone-tools)
- [GitHub release](https://github.com/cornerstonejs/cornerstoneTools/releases/tag/v3.18.1)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-08-06 13:39] dannyrb commented on #1017
Fixed here: https://github.com/cornerstonejs/cornerstoneTools/pull/1035

Works on `doubleClick` if the arrowAnnotateTool is bound to left click. If a different tool is selected, or a arrowAnnotate is bound to a different mouse button, you won't see this relabel behavior. I think that's "okay", but understand if we want to update the tool to work when it's "passive".

LMK 🎉

[2019-08-06 13:39] #1017 closed

[2019-08-08 15:36] daviddgn opened #1041 "Problem with tool change automation"
### Prerequisites

* [ 3.18.3 ] Are you running the latest version?
* [ Yes ] Are you reporting to the correct repository?
* [ Yes ] Did you perform a cursory search?

### Description

I am trying to change using the buttons, the selected tool.
In an earlier version (3.5.3) I had no problem, but of course, more tools and more options have been added.
I have the problem with some of these tools, wh

[2019-08-08 17:58] dannyrb commented on #1041
@daviddgn, can you create a `CodePen` that demonstrates your issues? What is the current behavior? What is the expected behavior? By changing _only_ the `cornerstone-tools` version to an older version, does that same CodePen exhibit the expected behavior?

[2019-08-09 07:43] daviddgn commented on #1041
I am sorry to say that I cannot create a CodePen.
The current behavior is that I have several checkboxes to indicate which tools are active, depending on whether they are pressed with the left mouse button or with the right button they are assigned to it when the tool is put into active mode (if it is a tool Use for the mouse wheel no matter what button you press).
The problem is that the tool cha

[2019-08-12 23:41] vanye007 opened #1042 "cornerstoneTools.addtool is not a function"
### Prerequisites

* [x] Are you running the latest version?
* [x] Are you reporting to the correct repository?
* [x] Did you perform a cursory search?

For more information, see the `CONTRIBUTING` guide.

### Description

cornerstoneTools.addtool is not a function

### Steps to Reproduce

1. [First Step]
2. [Second Step]
3. [and so on...]

**Expected behavior:** [What you expected to happen]

**A

[2019-08-13 01:19] dannyrb commented on #1042
Steps to reproduce?

[2019-08-13 01:23] xiaoxiao5 opened #1043 "Is the tool compatible with ie8 or less"
### Prerequisites

* [ ] Are you running the latest version?
* [ ] Are you reporting to the correct repository?
* [ ] Did you perform a cursory search?

For more information, see the `CONTRIBUTING` guide.

### Description

[Description of the bug or feature]

### Steps to Reproduce

1. [First Step]
2. [Second Step]
3. [and so on...]

**Expected behavior:** [What you expected to happen]

**Actual b

[2019-08-13 01:28] #1043 closed

[2019-08-13 10:09] hgdhot commented on #863
when i call cornerstoneTools.init(), got a error, how can i fix that

[2019-08-13 10:10] hgdhot commented on #863
![1565690990](https://user-images.githubusercontent.com/19300626/62933821-aa1a5380-bdf5-11e9-91e8-afadebed4ef7.png)

[2019-08-13 10:13] hgdhot opened #1044 "cornerstoneTools init error"
when i initialize cornerstoneTools.init(), got an error
![1565690990](https://user-images.githubusercontent.com/19300626/62933948-f2d20c80-bdf5-11e9-8550-b2cda93d0e22.png)

[2019-08-13 10:37] dannyrb commented on #863
@hgdhot please create a new issue with the steps required to reproduce.

[2019-08-13 10:51] dannyrb commented on #1044
Can you include a snippet of the code you are running, the library versions you are using, and a closer look at the line that is causing that error? Ideally, a CodePen that reproduces the error as well.

[2019-08-14 01:13] hgdhot commented on #1044
The code i running is as follow
`<h:head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title><ui:insert name="XTitleHolder">Default title</ui:insert></title>

	<script src="https://cdn.jsdelivr.net/npm/hammerjs@2.0.8"></script>
	<script src="https://cdn.jsdelivr.net/npm/cornerstone-math@0.1.6"></script>
	<script src="https://cdn.jsdelivr.net/npm/cornerstone-core@2.2.4">

[2019-08-14 01:15] hgdhot commented on #1044
![1565745311(1)](https://user-images.githubusercontent.com/19300626/62987781-04f29000-be74-11e9-8866-757beca6a213.png)
the line that cause the error

[2019-08-14 02:38] dannyrb commented on #1044
It looks like you upgraded to `cornerstone-tools@3` from `@2`, but have not updated your code to reflect the changes that took place in that major version bump. For example:

[code]

Is not how you activate tools in `@3`. `mouseWheelInput.enable()` is no longer exposed by the API either.

[2019-08-14 06:01] hgdhot commented on #1044
the error still show up even i dropped all the activate code above, the error thrown when the cornerstoneTools.init() get executed.

[2019-08-14 06:17] hgdhot commented on #1044
sorry, i found what the problem is, i used a wrong version of cornerstone-core,
thanks for your help.

[2019-08-14 06:17] #1044 closed

[2019-08-15 06:22] jussimattila commented on #1021
Sorry for the delayed reply, I missed the notification. We're still running on a really old version of cornerstone, using the very crude typings I wrote some years ago. We are planning to rewrite parts of our app using the latest cornerstone release and it would be a good time to work on the typings as well. I'm hoping to start this process within the next couple of months.

We'd be happy to share

[2019-08-15 09:13] talkdirty commented on #1021
I actually was looking into this just yesterday and was hoping to find a cheap solution how to generate definitions for cornerstone. I tried using `dts-gen` but eventually gave up on it because it doesn't work with browser modules too well (more tailored to node libraries I guess). A more promising option seemed to be leveraging the existing jsdoc documentation in cornerstone to generate the typin

[2019-08-16 20:25] vanye007 opened #1049 "How to save the canvase state"
### Prerequisites

* [x] Are you running the latest version?
* [x] Are you reporting to the correct repository?
* [x] Did you perform a cursory search?

For more information, see the `CONTRIBUTING` guide.

### Description

Save the canvas state with the tools

### Steps to Reproduce

1. Once i finish manipulating the canvas
2. Save the canvas exit
3. On restore, the previous save state should appe

[2019-08-16 20:28] vanye007 commented on #1042
thanks, i have already fixed the issue

[2019-08-16 20:37] #1042 closed

[2019-08-16 20:37] dannyrb commented on #1049
What have you tried? Where are you getting stuck?

[2019-08-16 20:47] vanye007 commented on #1049
i tried saving the canvas as base64 in a variable
restore the canvas, but it appears as an image.
I want it to be editable again not as an image

[2019-08-16 21:08] dannyrb commented on #1049
You will need to look at the `getToolState` and `toolStateManager` to access and serialize the application's state for existing tools.

[2019-08-18 10:59] dimo2008 commented on #1038
@dannyrb  any help please ?

[2019-08-18 11:23] dannyrb commented on #1038
What have you tried? Have you searched existing open and closed issues? Most tools utilize top level API methods like getToolState, or their toolStateManager's `saveToolState` to accomplish what you're describing.

Try poking around the entry `index.js` file, our API docs, these issues, and the imageIdSpecificToolStateManager

[2019-08-18 13:34] dimo2008 commented on #1038
ok i will check that and get back to you, thanks

[2019-08-19 19:14] vanye007 commented on #1049
Awesome, thanks alot. That was helpfull

[2019-08-19 19:19] vanye007 opened #1050 "Some annotation tools (Cobb and Bidirectional tool) are not importing, causing error"
### Prerequisites

* [x] Are you running the latest version?
* [x] Are you reporting to the correct repository?
* [x] Did you perform a cursory search?

For more information, see the `CONTRIBUTING` guide.

### Description

[Description of the bug or feature]

### Steps to Reproduce

1. const csTools = cornerstoneTools.init();
2. const CobbAngleTool = cornerstoneTools.CobbAngleTool;
3. csTools.addT

[2019-08-19 19:35] #1049 closed

[2019-08-19 19:45] vanye007 commented on #1050
the cobb and biderectional tools are not importing

[2019-08-19 19:47] dannyrb commented on #1050
[code]

[2019-08-19 19:51] vanye007 commented on #1050
still getting the same error

TypeError: cornerstoneTools.addTool is not a functiontools.js:41:18

i tried console.log(cornerstoneTools) and i could not find cobb and biderectional tool listed but others are available

[2019-08-20 02:08] dannyrb commented on #1050
Are you using latest? This appears to work fine:

https://tools.cornerstonejs.org/examples/tools/cobb-angle.html

[2019-08-20 17:34] vanye007 commented on #1050
yeah i am, other tools works perfectly fine apart form those two. when i try importing them. The system crashes with the following error.

TypeError: apiTool is not a constructorcornerstoneTools.js:9255:14
addToolForElement https://cdn.jsdelivr.net/npm/cornerstone-tools@3.0.0-b.641/dist/cornerstoneTools.js:9255
addTool https://cdn.jsdelivr.net/npm/cornerstone-tools@3.0.0-b.641/dist/cornerstoneTool

[2019-08-20 17:41] dannyrb commented on #1050
There error you pasted shows that you're using version `3.0.0-b.641`. That's a "beta" build before version 3 was finalized. It's at least 18 feature releases behind from latest.

[2019-08-20 17:42] vanye007 commented on #1050
Oh alright, how do i get the full version?

[2019-08-20 17:55] dannyrb commented on #1050
- `https://unpkg.com/cornerstone-tools` will resolve to latest
- `https://unpkg.com/cornerstone-tools@3.18.3` is the current latest, and that URL will always point to that specific version

Or you can download the source from GitHub, or include it as a packaged dependency using `npm`

[2019-08-20 17:56] #1050 closed

[2019-08-20 18:52] vanye007 opened #1052 "Production link crashing while development link works"
### Prerequisites

* [ ] Are you running the latest version?
* [ ] Are you reporting to the correct repository?
* [ ] Did you perform a cursory search?

For more information, see the `CONTRIBUTING` guide.

### Description

I want to use the production link which comes with all the tools

### Steps to Reproduce

1. Delete development link
2. Reference production link
3.

**Expected behavior:**
![Ca

[2019-08-20 19:04] vanye007 commented on #1050
thank you

[2019-08-20 19:12] dannyrb commented on #1052
Cornerstone Core is on v2.3
Also, please provide a reproduction if you need assistance troubleshooting. Unfortunately, there is rarely enough for us to go off of with screenshots and even most stack traces.

[2019-08-20 19:22] vanye007 commented on #1052
Thank you for the response, will take note of your suggestion. Thank you once again

[2019-08-23 16:36] alejandracascru opened #1054 "Bidirectional tool is not perpendicular with non-square pixels"
### Prerequisites

* [ ] Are you running the latest version?
* [ ] Are you reporting to the correct repository?
* [ ] Did you perform a cursory search?

For more information, see the `CONTRIBUTING` guide.

### Description

When I draw the bidirectional tool over images with non-square pixel sizes, the tool doesn't keep the perpendicularity.

### Steps to Reproduce

1. Load an image with non-square

[2019-08-23 17:24] dannyrb commented on #1054
@alejandracascru are you able to include a CodePen or CodeSandbox demo with an image that has non-square pixels that demonstrates this behavior?

[2019-08-23 17:27] dannyrb commented on #1041
I'm not sure I understand the issue you're experiencing. What is the behavior? What is the expected behavior? What have you tried (code snippets)?

Does a recent `netlify` demo work as you'd expect?
https://deploy-preview-991--cornerstone-tools.netlify.com/

[2019-08-23 17:28] alejandracascru commented on #1054
Sure, I will try to put this image in a CodePen. Thanks for the quick reply.

[2019-08-27 14:43] jlopes90 commented on #1022
I think it's already finished, I tested it and it works well. ^^

Example: [Export Modal](https://imgur.com/xoCnl8h)

[code]

[2019-08-27 14:43] #1022 closed

[2019-08-30 13:35] JamesAPetts commented on #954
Beta is up on npm as `4.0.0-beta2`. Check the segmentation docs for most of the changes against master.

We'll do some internal testing and will post a full migration guide/change log/demo of features thread when it comes out of beta.

[2019-08-30 19:19] dannyrb commented on #862
Completed in the `beta`. We'll include a note in migration

[2019-08-30 19:19] #862 closed

[2019-08-30 19:29] dannyrb commented on #941
We could update this to use `process.env.NODE_ENV`
For it to be accessible when `DefinePlugin` is used, we'd need to do something like

`cross-env NODE_ENV=production webpack --config ./config/webpack/webpack-dev`

[2019-09-02 14:38] JamesAPetts commented on #954
`4.0.0-beta4` is up (..3 was king for all of 1 hour):
Adds options for `setters.labelmap3DByFirstImageId`, `settters.labelmap3DForElement` to add a `segmentsOnLabelmapArray` object if the occupancy of segments on each frame is pre-calculated in the data format being imported.

[2019-09-04 15:41] JamesAPetts commented on #954
`4.0.0-beta5` is up:

- Adds history and undo/redo functionality per label map.

This is the last feature being squeezed in before 4.0.

[2019-09-04 15:51] JamesAPetts commented on #954
Compatible dcmjs build: `dcmjs@0.6.0-cst4-beta`.

[2019-09-05 14:51] dimo2008 commented on #1038
@dannyrb sorry for the late response.
now i have tried saving and getting the tool state- data  using the state manager
but in the same session.
while what i am really searching for is closing the browser and opening it again and when the page loads i can find the tools as was drawn.
as i told you earlier i can save and load the necessary variables for each tool ( like start- end - result ...etc)

[2019-09-06 16:02] JamesAPetts commented on #954
`4.0.0-beta6` is up:

- Fixes issue #1060 in this `vNext`.

[2019-09-09 10:02] amrita-syn commented on #335
Hi @dannyrb, is there any update on the 2D MPR? I would want to contribute but have limited understanding of volumes and graphics. The feature is very much awaited.

[2019-09-09 13:12] JamesAPetts opened #1061 "🎉 🎉 🎉 CornerstoneTools 4.0 🎉 🎉 🎉"
I'm very proud to announce the release of cornerstoneTools 4.0!

The overarching goal of 4.0 is to improve segmentation support for `cornerstoneTools`, including:

- Improvements to the labelmap renderer.
- Scalable and efficient labelmap storage.
- A standardised mechanism for building segmentation tools.
- Easier interoperability with other libraries.

# Why the need for a major version bump?

I

[2019-09-09 13:17] swederik commented on #1061
Hoooray! Now integration with https://github.com/Kitware/vtk-js will also be easier @floryst :-) Nice work @JamesAPetts!

[2019-09-09 13:39] kevinleedrum commented on #1061
👏:clap::clap: Excellent work!

[2019-09-09 13:53] JamesAPetts commented on #1061
`dcmjs 0.6.0` also up, which contains an updated SEG adapter for cst4.0. The old adapater for 3.0 is still available 👍 .

[2019-09-10 14:17] FMCalisto commented on #1061
Just like to let you all know my appreciation for your work and collaborators. Also, I made [some questions](https://groups.google.com/forum/#!topic/cornerstone-platform/murEF8kPpM4) regarding the transition from older versions to the new one. Thank you again.

[2019-09-11 09:39] jlopes90 opened #1065 "Need stack? Why call onImageRendered?"
Using cornerstoneTools 4.0

I just made a basic example of an image in https. There was an error that is missing "stack". Got to be the stack?

[code]

### Codepen With Reproduction of Issue:
* [Basic Template](https://codepen.io/jlopes90/pen/jONxqXb)

[2019-09-11 12:48] JamesAPetts commented on #1065
Hmm, thanks for the Basic example, and also thanks for testing the waters with 4.0, your feedback is super helpful in this early stage!

The `segmentationModule` requires there be a stack for it to have some association between a 3D volume and the cornerstone images. But of course we shouldn't enforce this if segmentations aren't being used.

Here is a fix for now, by adding a stack. I'll add bail

[2019-09-11 13:14] #1065 closed

[2019-09-11 13:14] JamesAPetts commented on #1065
fixed in #1066. Feel free to re-open if you find other issues.

[2019-09-11 13:33] dannyrb commented on #1065
:tada: This issue has been resolved in version 4.0.2 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/cornerstone-tools)
- [GitHub release](https://github.com/cornerstonejs/cornerstoneTools/releases/tag/v4.0.2)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-09-12 04:06] tunglt1810 opened #1069 "Probe Tool configurations"
### Prerequisites

* version 4.0.4

### Description

After upgrade version from v3.19.3 to v.4.0.4, the DragProbe tool does not work properly
![image](https://user-images.githubusercontent.com/19906349/64753325-01265c00-d54d-11e9-8899-323c167f8b0d.png)

How can i add configuration for this tool, and how to show HU point instead of MO point when using v3.19.3

![image](https://user-images.githubuse

[2019-09-12 07:36] JamesAPetts commented on #1069
I missed this one because its not in the index demo like all the other tools. The way strategies applied has changed in 4.X, I'll address this.

[2019-09-12 07:49] JamesAPetts commented on #1069
In order to use HU the series must have the correct metadata loaded in a cornerstone metadata provider. If the modality in the `generalSeriesModule` is `'CT'`, then HU will be used.

[2019-09-12 07:59] #1069 closed

[2019-09-12 07:59] JamesAPetts commented on #1069
Fixxed in `#1069`.

[2019-09-13 09:10] frolic06 opened #1071 "StackPrefetch stops when selecting different element (regression)"
This feature was remove during a merge in the version 3.
The parameter 'preserveExistingPool' in stackPrefetch.js no longer exists after the commits on Nov 11, 2018.

[2019-09-13 10:17] dannyrb commented on #1071
@frolic06 if you can provide more info, I'm sure we can whip up a quick PR? Any links or code snippets? Would you like to draft a PR to expedite things?

[2019-09-13 11:49] jlopes90 opened #1073 "Unable to find tool "SphericalBrush" for enabledElement"
Version 4.0.3: Tool not found "SphericalBrush". #1068
Version 4.0.2: Works.

![Anotação 2019-09-13 121707](https://user-images.githubusercontent.com/50026015/64858899-89c1fc80-d620-11e9-9ecf-08e59d51efc7.png)

[2019-09-13 12:15] frolic06 commented on #1071
I fixed the bug with this code. I am sorry but i am not used to make a PR.
[stackPrefetch.js.txt](https://github.com/cornerstonejs/cornerstoneTools/files/3609959/stackPrefetch.js.txt)

[2019-09-13 12:23] frolic06 commented on #1071
I made a PR, I hope it will help you.

[2019-09-13 12:27] dannyrb commented on #1071
Thanks, @frolic06! I'll take a peak today.

Linked PR: https://github.com/cornerstonejs/cornerstoneTools/pull/1074

[2019-09-13 12:30] dannyrb commented on #1073
Thanks, @jlopes90. That's odd.
I am able to reproduce on this recent netlify preview:

https://deploy-preview-1072--cornerstone-tools.netlify.com/

[2019-09-13 12:41] dannyrb commented on #1073
It looks like...

`SphericalBrushTool` extends `BrushTool` extends `BaseBrushTool` extends `BaseTool`

All `BaseXXXTool`'s support passing in `props, defaultProps`, and the merge is handled in `BaseTool`. It looks like I wrongly assumed that `SphericalBrushTool` extended `BaseBrushTool` when I accepted the PR.

`SphericalBrushTool` uses the same render brush method as `BrushTool`, hence the chaini

[2019-09-13 16:20] #1073 closed

[2019-09-13 16:21] dannyrb commented on #1073
@jlopes90, should be live once CI cuts latest release

[2019-09-13 16:27] dannyrb commented on #1073
:tada: This issue has been resolved in version 4.0.7 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/cornerstone-tools)
- [GitHub release](https://github.com/cornerstonejs/cornerstoneTools/releases/tag/v4.0.7)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-09-13 18:05] vanye007 opened #1076 "restoring toolstate manager"
### Prerequisites

* [ ] Are you running the latest version?
* [ ] Are you reporting to the correct repository?
* [ ] Did you perform a cursory search?

For more information, see the `CONTRIBUTING` guide.

### Description

[Description of the bug or feature]

### Steps to Reproduce

1. save tool state manager as JSON to database
2. use a function setElementToolStateManager then restore the toolsta

[2019-09-16 08:45] jlopes90 commented on #1076
This link does not exist.
`cornerstoneTools/master/examples/exampleImageLoader.js`

Change to this link
`https://rawgit.com/cornerstonejs/cornerstoneTools/master/netlify-example/imageLoader.js`

@dannyrb Please change the link "imageloader" in your codepen "[Basic Template](https://codepen.io/dannyrb/pen/OQQwza)"

[2019-09-16 12:03] frolic06 commented on #1071
Hello,
I think this issue #900 refers to the same bug.
The fix is still relevant.

[2019-09-16 13:32] dannyrb commented on #900
@t-animal, will the changes outlined in @frolic06's PR resolve your issue? Do you have any recommended alternative ways to handle this situation?

[2019-09-16 13:38] dannyrb commented on #1076
@jlopes90, thanks for the call-out. I'll update today. We've been slowly migrating templates/examples to CodeSandbox and using their "team" feature to make it easier for anyone on the core team to update templates.

@vanye007, can you provide a more complete reproduction? I imagine your example would have:

- Some JSON string of toolstate
- The toolstate being restored after cornerstone/tools have

[2019-09-16 14:04] dannyrb commented on #1076
CC: @jlopes90 https://codesandbox.io/s/cornerstone-basic-issue-template-9slk4

[2019-09-16 14:10] jlopes90 commented on #1076
@dannyrb don't forget change new issues.

![Anotação 2019-09-16 150915](https://user-images.githubusercontent.com/50026015/64965012-1f18f700-d894-11e9-8913-c0a228c5eb97.png)

[2019-09-16 14:14] dannyrb commented on #1076
^_^

![image](https://user-images.githubusercontent.com/5797588/64965312-c3864380-d86a-11e9-9b6b-0f2618d34230.png)

[2019-09-16 14:58] dannyrb commented on #1071
Merged 🎉

[2019-09-16 14:58] #1071 closed

[2019-09-16 14:59] dannyrb commented on #900
@t-animal check out the configuration added here: https://github.com/cornerstonejs/cornerstoneTools/pull/1074/files

If it doesn't resolve your issue, or if you would like to see the ergonomics of this improved, please don't hesitate to comment and we can discuss.

[2019-09-16 14:59] #900 closed

[2019-09-17 08:05] gxf-style opened #1079 "What is the data structure for rendering data using ‘setters.push'?"
Is the use of 'setters.pushState(element,[operation])' to render the data label to the image in segmentation? If so, what is the operation data structure used?Is there an example?
thank you very much!

[2019-09-17 11:47] JamesAPetts commented on #1079
Hey `cornersrtoneTools.getModule('segmentation').setters.pushState` is used to push the state change of the labelmap after a tool modifies it. Its just used for undo/redo. It could use better documentation soon, but you can see an example if you look at what `BaseBrushTool` does: https://github.com/cornerstonejs/cornerstoneTools/blob/a9b24931cbdda40a2d73a2c703507425c636ce29/src/tools/base/BaseBrus

[2019-09-17 14:49] dannyrb commented on #1038
I believe we're straying outside the scope of support it makes sense for us to provide for this repository. If you need more assistance in this vein, you may wish to reach out to a consultant.

There are a lot of ways to persist data outside of the current session.

- [LocalStorage](https://developer.mozilla.org/en-US/docs/Web/API/Window/localStorage)
- [PouchDB](https://pouchdb.com/)
- [DICOM Str

[2019-09-18 03:08] gxf-style commented on #1079
Thank you for your explanation. I have encountered another problem in using the tool: some dicom images cannot be adjusted by wwwc, the value of wwwc is changing, but the image does not change. Have you encountered such a problem?
The image is as follows：
[dicom.zip](https://github.com/cornerstonejs/cornerstoneTools/files/3624229/dicom.zip)

I switched a lot of versions, but the result is the same

[2019-09-18 05:42] gxf-style commented on #1079
The same code, other pictures can change the wwwc.
[R00629678.zip](https://github.com/cornerstonejs/cornerstoneTools/files/3624595/R00629678.zip)

[2019-09-18 10:06] gxf-style commented on #1079
thank you for your explanation.How does the data of the 'ArrayBuffer' type translate into common data and store it in the database? Is there any corresponding API?

[2019-09-19 06:00] gxf-style opened #1082 "How does the data of the 'ArrayBuffer' type translate into common data?"
How does the data of the 'ArrayBuffer' type translate into common data and store it in the database? Is there any corresponding API?

[2019-09-23 14:57] dannyrb opened #1084 "Remove window resize logic/behavior"
Source: https://github.com/cornerstonejs/cornerstoneTools/blob/0aae680b20c3777866a49354465f5c2b78f7ffc6/src/eventListeners/windowResizeHandler.js

The window resize logic/behavior works well, for the most part, but we encounter issues when a consuming application wants to more tightly control this behavior. Some example scenarios:

- Application wants the viewport to resize using [Resize Observer]

[2019-09-27 03:07] DStar2013 commented on #1061
wow

[2019-10-01 11:10] timriley-io commented on #145
Did you ever get this working?
I'm looking at doing something similar

[2019-10-01 18:35] pzehle opened #1091 "Impossible to get metadata from a specific dicom file"
### Prerequisites

* [x] Which version are you using? (Is it latest?)
* [x] Are you reporting to the correct repository?
* [x] Did you search existing issues? (Were any related?)

### Description

So I used to get my dicom files ordered by using the meta data 'xx00200032', which gives me the position inside the set. Now, I got new files from the doctor and some of these files don't have this metad

[2019-10-01 19:21] jlopes90 commented on #1091
Have you ever seen an example [DicomParser](https://rawgit.com/cornerstonejs/dicomParser/master/examples/index.html)?

[2019-10-01 19:55] pzehle commented on #1091
Hello, thanks for your answer.

Yes, I have seen a lot of examples. And as the question, it doesn't say that I can't or don't know how to retrieve metadata, it says that the metadata being retrieved is either in an incorrect format, or the other available functions provided by this library are not working. I don't think this is a helpful answer to my actual issue, but I thank you for giving suppor

[2019-10-06 17:17] #1091 closed

[2019-10-06 17:17] pzehle commented on #1091
My bad, tho the examples are not very clear with the dicom parser library, I managed to do this considering the following:

`// the DataSet object has functions to support every VR type:
            // All string types - string()
            // US - uint16()
            // SS - int16()
            // UL - uint32()
            // SL - int32()
            // FL - float()
            // FD - double()

[2019-10-10 09:00] flyhuang opened #1098 "Can't override the svgCusor"
### Prerequisites

* [Y] Which version are you using? (Is it latest?)
* [Y] Are you reporting to the correct repository?
* [Y] Did you search existing issues? (Were any related?)

### Description

Can't override the svgCusor of tool.

### Steps to Reproduce the issue

1. Set showSVGCursors to "true"
[code]
2. create a custom svg cursor:
[code]
2. override old svg cursor:
[code]

**Expected behavio

[2019-10-10 09:02] flyhuang commented on #1098
it looks like utils deepmerge func miss clone proto func.

[2019-10-11 02:57] #1082 closed

[2019-10-11 19:15] brunoalvesdefaria opened #1101 "BidirectionalTool sometimes not perpendicular on its creation"
### Prerequisites

* [ ] Which version are you using?: Latest version
* [ ] Are you reporting to the correct repository?: Yes
* [ ] Did you search existing issues?: No related issues

### Description

This issue exists on bidirectional tool since the tool was created.
It was hard to identify when the issue was happening and the reasons for that.

### Steps to Reproduce the issue

1. I enable the c

[2019-10-15 23:07] jesusjames opened #1105 "How to change the configuration of the ArrowAnnotate tool getTextCallback and changeTextCallback method"
### Prerequisites

* [ ] Which version are you using? 4.6
* [ ] Are you reporting to the correct repository? yes
* [ ] Did you search existing issues? yes

### Description

Hello. previously in version 2.4 you could modify the configuration of any tool with the setConfiguration method. I tried to modify the callback functions for the modal of the ArrowAnnotation tool and I could not. The only solu

[2019-10-16 00:48] dannyrb commented on #1105
👋 Hi @jesusjames, thanks for creating an issue. In `cornerstone-tools@3` and beyond, `configuration` is set when adding a tool:

[code]

- [ArrowAnnotateTool configuration](https://github.com/cornerstonejs/cornerstoneTools/blob/master/src/tools/annotation/ArrowAnnotateTool.js#L33-L50)
- [cornerstone.addTool internals](https://github.com/cornerstonejs/cornerstoneTools/blob/master/src/store/addTool.

[2019-10-16 13:03] jesusjames commented on #1105
It's great, thank you very much.

[2019-10-16 13:03] #1105 closed

[2019-10-16 13:14] gxf-style opened #1106 "Can't get full data when listening to the 'cornerstonetoolsmeasurementcompleted' event."
### Prerequisites

* [ ] Which version are you using? (Is it latest?)
* [ ] Are you reporting to the correct repository?
* [ ] Did you search existing issues? (Were any related?)

### Description
hello,When I use the ‘FreehandRoi’ tool, I listen to the ‘EVENTS.MEASUREMENT_COMPLETED’ event to get the data, and ‘console.log’ can print the complete data, but the stored data is actually missing a part

[2019-10-16 13:32] jlopes90 commented on #1106
[code]

### CodeSandbox With Reproduction of Issue:

- [Basic Template](https://codesandbox.io/s/cornerstone-basic-issue-template-122tp)

[2019-10-16 13:49] dannyrb commented on #1106
If the data provided isn't complete at the time the event is raised, what is it missing? Ideally, we want the event to show the toolState that represents a completed freehandRoi annotation.

While you can always use `getToolState` to grab data, what you're describing could be a bug.

[2019-10-17 02:41] gxf-style commented on #1106
Will it be repaired later?

[2019-10-17 03:19] mikehazell commented on #1105
This piece of info is gold!

It really belongs in the docs.

[2019-10-17 10:18] pavelkeyzik commented on #1061
@JamesAPetts where can I find an example of how to work with Spherical Brush Tool? 😊

[2019-10-18 10:32] JamesAPetts commented on #1061
@pavelkeyzik , if you pull down `cornerstoneTools` and run `npm install && npm run dev` and host the root with something like `python -m SimpleHTTPServer`, you'll be able to acces the index.html at localhost:8000.

Alternatively you can look at the netlify build of a recent PR: https://deploy-preview-1109--cornerstone-tools.netlify.com/#

[2019-10-18 13:01] jesusjames opened #1110 "How do you change the configuration of tools over time."
### Prerequisites

* [ ] Which version are you using? (Is it latest?) 4.6
* [ ] Are you reporting to the correct repository? yes
* [ ] Did you search existing issues? (Were any related?) yes

### Description

I am trying to change the magnify tool settings over time.
I have used the setToolOptions () method but this did not work for me.

![image](https://user-images.githubusercontent.com/17242609/

[2019-10-18 13:08] dannyrb commented on #1110
@jesusjames, the tool should probably be updated to move those values to it's `options`, so it can leverage [`setToolOptions`](https://github.com/cornerstonejs/cornerstoneTools/blob/40d30a11daad89c0b6828618dda681fa48d0128d/src/store/setToolOptions.js) to update them.

A PR to accomplish this in a non-breaking way would...

- Add these keys to the tool's options, with an initial value of undefined

[2019-10-18 15:05] jesusjames commented on #1110
I have done the tests and it has not worked for me.
I would like to know what I am doing wrong?
look at this test code -> https://codesandbox.io/embed/cornerstone-basic-issue-template-vb1c4

[2019-10-19 21:14] dannyrb commented on #1110
Hi @jesusjames, I think we misunderstood one another. I was saying that you CANNOT currently update `magnifySize` and `magnificationLevel` with public API methods. My previous post was alluding to how we could update the tool to such that either of these recipes would work:

[code]

OR

[code]

Again, neither of these options work today, but could with some slight modifications to the tool. These

[2019-10-21 18:50] mkramers opened #1111 "Unable to run FreehandScissors tool from example site/source: ApiTool is not a constructor"
### Prerequisites

* [x] Which version are you using? (Is it latest?)
* [x] Are you reporting to the correct repository?
* [x] Did you search existing issues? (Were any related?)

### Description

Version 4.6.2 - `master@4d3646269d0ec0248e7bb28d08e8cbbc47feddd2`
I am experiencing a `TypeError: ApiTool is not a constructor` when running Freehand Scissors tool from the examples page via docker (as p

[2019-10-21 19:26] dannyrb commented on #1111
Examples were tied to @3 of cornerstone. I've updated them to look at @4. It's worth noting for the seg tools that they're much snappier the smaller the image. Our default example image is a very, very large DX.

Please let me know if you have any other questions/issues ^_^

[2019-10-21 19:26] #1111 closed

[2019-10-21 19:28] mkramers commented on #1111
Thanks! I appreciate the help!

[2019-10-22 08:04] gxf-style opened #1113 "After the 'loadImage' is completed, the data is loaded and there is no rectangle on the image."
### Prerequisites

* [ ] Which version are you using? (Is it latest?)
cornerstoneTools@4

### Description
hello，I want to add the existing data to the toolState after the 'loadImage' is completed, so that the rectangle is displayed on the image. But the result is that the data is added to the toolState, but the rectangle is not displayed on the image.
When I used cornerstoneTools@2, I used ```
sta

[2019-10-22 13:26] mikehazell commented on #1113
Hey @gxf-style,

In your example the shape of the data is not quite correct.

Data must be an array.

[code]

Here's a working minimal example using the Rectangle data from your example.
https://codesandbox.io/s/amazing-leftpad-4o941

[2019-10-24 08:56] tunglt1810 opened #1114 "Example of Rotate Tool error when run with ipad pro enviroment dev tool"
Hi guys,
As title, i have test your example of rotate tool with ipad pro and some error threw. Please check this issue
![image](https://user-images.githubusercontent.com/19906349/67469755-d7e20b00-f676-11e9-988d-75994e82b884.png)

[2019-10-24 13:49] #1110 closed

[2019-10-26 03:59] dannyrb commented on #1114
Interesting. The only viewer I've used that had touch support, used the `RotateTouchTool` to accomplish it. `Rotate` tool is likely failing because it doesn't have the eventdata it expects? (although, it should still be normalized and available?)

https://github.com/cornerstonejs/cornerstoneTools/blob/master/src/tools/RotateTool.js#L59-L72

[2019-10-26 04:03] dannyrb commented on #1114
Related: https://github.com/cornerstonejs/cornerstoneTools/pull/1112

[2019-10-29 13:29] pmd23 opened #1116 "csTools.addTool is not a function"
### Prerequisites

* [ ] Which version are you using? (Is it latest?)
Yes npm install --save cornerstone-tools@3

### Description

### Steps to Reproduce the issue

I am trying to apply LengthTool which is as per demo. but i am getting an error

**Expected behavior:** (What you expected to happen)
[code]
[code]

also i am not able to call the init() function like this. in my code you can see how i

[2019-10-30 13:49] pmd23 opened #1117 "Does this tool support Ionic?"
Hello

I am trying to implement these tools into the Ionic Framework ver 1. but in ionic I am facing issue regarding the touch events, this is the warning log I am getting

I the `hammer.js` and `ionic.bundle.js`  both the file is having touch events I think that's the reason touch scroll is blocking. Please any one of you had implemented these tools in ionic project.

Please let me know.

[2019-10-31 04:49] pmd23 commented on #1117
for this what i need to do so that this touch events are woking properly. also one more thing i want to discuss that when i am applying WL tool its working properly. so what is the issue for all stack took not working.

Thanks

[2019-10-31 06:08] #1116 closed

[2019-10-31 14:17] dannyrb commented on #1117
Reproduction? What have you tried?

[2019-11-03 06:08] pmd23 commented on #1117
I tried

[code]

[2019-11-04 09:09] gf1371876 opened #1118 "Uncaught (in promise) TypeError: Cannot read property 'enable' of undefined"
### Prerequisites

* [ ] Which version are you using? (Is it latest?)
   cornerstone-core : 2.3.0
   cornerstone-math:0.1.8
   cornerstone-tools：4.6.2

in this function
function loadAndViewImage(imageId) {
      // const element = document.getElementById('dicomImage');
      const start = new Date().getTime();
      cornerstone.loadImage(imageId).then(function(image) {
          console.log(image)

[2019-11-04 09:10] gf1371876 commented on #1118
![image](https://user-images.githubusercontent.com/29647385/68109625-fcb36980-ff25-11e9-8c17-4a4d4a780011.png)

[2019-11-04 09:11] gf1371876 commented on #1118
麻烦您方便的时候帮忙看一下这个问题
Please help me to look at this problem at your convenience

[2019-11-04 14:11] dannyrb commented on #1118
[code]

This syntax is from `cornerstone-tools@2`, you're using `cornerstone-tools@4`

Easier to help if you create a CodePen or CodeSandbox that you can share.

[2019-11-04 14:28] gf1371876 commented on #1118
How to create  a CodePen or CodeSandbox ？Do you have any documents for reference?

[2019-11-04 14:29] gf1371876 commented on #1118
I try to change version , If I change to cornerstone-tools@2
error is  Uncaught (in promise) TypeError: Cannot read property 'mouseInput' of undefined

[2019-11-04 14:36] gf1371876 commented on #1118
look at this picture
![image](https://user-images.githubusercontent.com/29647385/68128765-50887780-ff53-11e9-8397-183e42c2c72d.png)
![image](https://user-images.githubusercontent.com/29647385/68128795-5c743980-ff53-11e9-936c-be9f4b384cf2.png)
it is my code ,error info  is
![image](https://user-images.githubusercontent.com/29647385/68128856-7ca3f880-ff53-11e9-898d-4d0b642c1e46.png)
![image](https:/

[2019-11-04 16:21] gf1371876 commented on #1118
https://codepen.io/gf1371876/pen/VwwQrQr

this is my CodePen

[2019-11-04 16:24] dannyrb commented on #1118
CodePen does not support `import` syntax. You would need to update the settings for the pen to pull in the dependencies from `unpkg` or a similar source.

CodeSandbox supports `import` syntax and a build step

[2019-11-04 16:26] gf1371876 commented on #1118
**I share the CodePen ,I have a question ，if this syntax is from `cornerstone-tools@2`  ，then in `cornerstone-tools@4`   How to write to achieve the same effect ，Thank you for helping me solve this problem**

[2019-11-04 17:16] gf1371876 commented on #1118
https://codepen.io/gf1371876/pen/VwwQrQr?editors=1010

The code has been updated. Please fix it

[2019-11-04 17:20] gf1371876 commented on #1118
![image](https://user-images.githubusercontent.com/29647385/68142289-24c4bc00-ff6a-11e9-8760-b89da589ab3b.png)
![image](https://user-images.githubusercontent.com/29647385/68142314-33ab6e80-ff6a-11e9-974f-de8a3639b585.png)
![image](https://user-images.githubusercontent.com/29647385/68142331-3c9c4000-ff6a-11e9-8621-df42ffcd1298.png)
Please tell me how to use cornerstone-tools@4   to achieve the effe

[2019-11-04 18:40] b-wils opened #1119 "Converting data between other sources"
### Prerequisites

* [ ] Which version are you using? (Is it latest?)
cornerstone-core@2.3.0
cornerstone-math@0.1.8
cornerstone-tools@4.6.2
* [ ] Are you reporting to the correct repository?
* [ ] Did you search existing issues? (Were any related?)

### Description

Is there a recommended approach to convert measurements for usage with other systems?

For example we have an iOS app with it's own i

[2019-11-05 01:42] gf1371876 commented on #1118
![image](https://user-images.githubusercontent.com/29647385/68171868-73954480-ffb0-11e9-8f24-10a3257bb6c9.png)
How to change transparency or contrast in cornerstone-tools@4  version by mouse sliding

https://codepen.io/gf1371876/pen/VwwQrQr?editors=1010
thanks

[2019-11-05 02:38] gf1371876 commented on #1118
**I resolve this problem**
thanks
This is the code
**//初始化cornerstone
    function initCornerstone() {
        // const baseUrl = window.ENVIRONMENT === 'development' ? 'http://localhost:4000/': 'https://tools.cornerstonejs.org/examples/';
        // Externals
        cornerstoneWADOImageLoader.external.cornerstone = cornerstone;
        cornerstoneWADOImageLoader.external.dicomParser = dicomParse

[2019-11-05 03:19] #1118 closed

[2019-11-06 05:07] pmd23 opened #1120 "Unable to find tool "StackScrollMultiTouchTool" for enabledElement"
I am tring to implement this lib into ionic, but for if having multiple images I am not able to apply the touch event on device.
[code]

getting this warning

setToolMode.js:234 Unable to find tool "StackScrollMultiTouchTool" for enabledElement

I am using all the latest .js file of cornerstonejs

https://unpkg.com/cornerstone-core
https://unpkg.com/cornerstone-math
https://unpkg.com/cornerstone-t

[2019-11-06 05:07] #1117 closed

[2019-11-06 11:35] dannyrb commented on #1120
That's it's class name, not it's default name:
https://github.com/cornerstonejs/cornerstoneTools/blob/master/src/tools/StackScrollMultiTouchTool.js#L17

You can also override the tool's name when you call `addTool`

[2019-11-06 15:43] dannyrb commented on #1119
👋 @b-wils

Recommended? Not really. It's up to the implementer to choose their mechanism/format for persistence, and ultimately, the mapping layer between that format and what CornerstoneTools uses.

While not documented well, most tools have fairly spelled out toolState that can be examined by inspecting the code or source after creation. We've talked about formalizing this a bit more in a new ma

[2019-11-06 19:08] b-wils commented on #1119
Thanks @dannyrb ! This is exactly the type of info I was looking for guidance on.

This especially was good to get confirmation on and give me confidence in this approach.

[2019-11-06 19:08] #1119 closed

[2019-11-07 04:16] pmd23 commented on #1120
okay got it I have just copied the example from
https://tools.cornerstonejs.org/examples/tools/stack-scroll-multi-touch.html
that's why I was facing the issue.
But right now everything is working well

Thanks

[2019-11-07 04:16] #1120 closed

[2019-11-08 05:38] pmd23 opened #1121 "How to get index of image in StackScrollTool to get dicom tags"
When I scroll the viewer dicom images are chnage but i did not get index of that dicom image so that depending upon that index I can pass it another function so that I can able to get **dicom tags** for the respective dicom image scroll index.
[code]

[2019-11-08 08:50] tunglt1810 opened #1122 "Reference Lines do not show"
Hi guys,
I'm current using v4.6.2 and OhifViewer. Im currently working to add reference lines feature to the Viewer and i got this issue
![Peek 2019-11-08 15-44](https://user-images.githubusercontent.com/19906349/68462319-dc91ec00-023e-11ea-91a3-0831157f0033.gif)

This is study
https://drive.google.com/open?id=186HVcYR8FrXY0K07pNfntXzPGDpw9R9G

[2019-11-08 10:39] tunglt1810 commented on #1114
Hi @dannyrb,
Can you explain how to use multitouch rotate, i can rotate 360

[2019-11-08 10:57] tunglt1810 opened #1123 "Cannot show debug in console"
Hi guys,
Im using v4.6.2. After set debug mode on by command
`localStorage.setItem("debug", "cornerstoneTools:*");`
the tools was crashed. Can you check this error.

![image](https://user-images.githubusercontent.com/19906349/68471686-46b38c80-0251-11ea-9f2d-0f7fbfb434e4.png)

[2019-11-08 15:31] dannyrb commented on #1122
Have you compared the behavior in a "known good" viewer?

[2019-11-08 19:32] lyan2000 opened #1124 "rendering performance of viewport with labelmaps"
### Prerequisites

* [X] Which version are you using? (Is it latest?) 4.6.2
* [X] Are you reporting to the correct repository? Yes
* [X] Did you search existing issues? (Were any related?) No

### Description

### Steps to Reproduce the issue

1. When I do X
Load a 2Kx2K image (xray). Loading multiple segmentations that overlap.
3-5 labelmaps
2. Then Y
Interact with viewport using wwwc/pan/zoom to

[2019-11-08 20:02] dannyrb commented on #1124
@lyan2000 are you able to provide a reproduction?

[2019-11-08 21:48] tanxu1120 opened #1125 "cornerstoneTools.calculateSUV BUG"
const injectionStartTimeInSeconds = fracToDec(startTime.fractionalSeconds) + startTime.seconds + startTime.minutes * 60 + startTime.hours * 60 * 60;

should be modified to

const injectionStartTimeInSeconds = fracToDec(startTime.fractionalSeconds || 0) + startTime.seconds + startTime.minutes * 60 + startTime.hours * 60 * 60;

[2019-11-08 21:49] dannyrb commented on #1125
@yagni, transferred :+1:

[2019-11-09 00:25] lyan2000 commented on #1124
<!DOCTYPE HTML>
<html>
<head>
</head>
<body>
    <div class="container">
        <div style="width:800px;height:800px;position:relative;color: white;display:inline-block;border-style:solid;border-color:black;"
            oncontextmenu="return false"
            class='disable-selection noIbar'
            unselectable='on'
            onselectstart='return false;'
            onmousedown='return

[2019-11-09 14:15] tunglt1810 commented on #1122
@dannyrb
This is screen of RadiAnt
![image](https://user-images.githubusercontent.com/19906349/68529908-fe21cf00-0335-11ea-8d06-2cd3a4d6a9e8.png)

[2019-11-10 04:17] fomin-max commented on #1019
Please also check [this example](https://jsfiddle.net/dannyrb/jhxdgu94/), I came across it from the official documentation

[2019-11-11 22:30] lyan2000 commented on #1124
<!DOCTYPE HTML>
<html>
<head>
</head>
<body>
    <div class="container">
        <div style="width:800px;height:800px;position:relative;color: white;display:inline-block;border-style:solid;border-color:black;"
            oncontextmenu="return false"
            class='disable-selection noIbar'
            unselectable='on'
            onselectstart='return false;'
            onmousedown='return

[2019-11-11 22:31] lyan2000 commented on #1124
@dannyrb I'm not able to properly format the html file in github. can you try to reformat it? It will reference cornerstone libraries in my node_modules folder, but otherwise pretty much standalone.

[2019-11-11 22:42] dannyrb commented on #1124
Ah! I appreciate the effort. Could you use something like CodeSandbox or a very simple repository?

Even a large example image for us to test, a GIF, or something similar may help illustrate the issue.

In general, we're trying to understand the current behavior, the expected behavior, how we can reproduce, and the urgency (why) we should dedicate time/resources.

[2019-11-11 22:43] lyan2000 commented on #1124
<head>
</head>
<body>
    <div class="container">
        <div style="width:800px;height:800px;position:relative;color: white;display:inline-block;border-style:solid;border-color:black;"
            oncontextmenu="return false"
            class='disable-selection noIbar'
            unselectable='on'
            onselectstart='return false;'
            onmousedown='return false;'>
            <d

[2019-11-11 22:45] lyan2000 commented on #1124
`<!DOCTYPE HTML>
<html>
<head>
</head>
<body>
    <div class="container">
        <div style="width:800px;height:800px;position:relative;color: white;display:inline-block;border-style:solid;border-color:black;"
            oncontextmenu="return false"
            class='disable-selection noIbar'
            unselectable='on'
            onselectstart='return false;'
            onmousedown='return

[2019-11-11 22:54] lyan2000 commented on #1124
@dannyrb thanks for the pointer. Here it is:
https://github.com/lyan2000/cornerstone-sample/blob/master/test.html

Let me know if you have trouble accessing it. I generated pattern image as well as the segmentation.

[2019-11-11 23:03] lyan2000 commented on #1124
I tried to enable WebGL for image renderer, but the performance has not improved much.

[2019-11-12 01:19] dannyrb commented on #1124
PR to swap `node_modules` script includes with `unpkg`
https://github.com/lyan2000/cornerstone-sample/pull/1

[2019-11-12 12:12] dannyrb commented on #1121
When you scroll, cornerstone emits a new image event (see https://github.com/cornerstonejs/cornerstone/blob/master/src/events.js#L2).

The new image event contains the image's ID. This can be used to find:

- Any image ID specific toolstate
- Any image metadata (see cornerstone metadata providers)

[2019-11-12 17:48] lyan2000 commented on #1124
@dannyrb I have updated the code. Thanks! Let me know if there are any tests you want me to do.

[2019-11-12 17:52] dannyrb commented on #1124
https://codesandbox.io/s/mystifying-johnson-v1k1i

![image](https://user-images.githubusercontent.com/5797588/68696616-49f99180-054b-11ea-91a4-de254bbfc4fd.png)

[2019-11-12 17:57] dannyrb commented on #1124
If I comment out:

[code]

I do see that leveling is much, much more responsive. CC: @JamesAPetts

[2019-11-12 18:05] dannyrb commented on #1124
Pinged @JamesAPetts privately.

- Bottleneck is the outline rendering; if we toggle it off, we could see if the user experience is more acceptable
- Difficult to do on the CPU, but we're unlikely to add support for this on the GPU in cornerstone (in the near future)
- There are some performance improvements we could make. If you're interested, we could scope out which ones would have the most impa

[2019-11-12 18:13] JamesAPetts commented on #1124
This is really just pushing the limits of the CPU implementation, which has only been tested up to 512x512 CT.

For large labelmaps, improvements can be made here, as this transformation matrix could be cached:

https://github.com/cornerstonejs/cornerstone/blob/c29c4fa3c1a5fd3e611de953c9f1c90de4a7aafe/src/internal/getTransform.js#L5

As Danny said the outline rendering takes up a lot more CPU. Eac

[2019-11-12 18:21] JamesAPetts commented on #1124
Example with outline rendering turned off:

https://codesandbox.io/embed/priceless-newton-ib1m3

A lot better than without the outline, but 5 2000x2000 overlays is probably pushing what can be done without some clever caching mechanism.

[2019-11-12 19:34] lyan2000 commented on #1124
Thank you very much for your help!

I think it will be good for us if we can disable contour calculation during segmentation changes and cache the outline contours for rendering. Is this something that we can do from the user side? Or do we have to make changes in cornerstoneTools?

[2019-11-13 05:53] #1121 closed

[2019-11-13 14:27] TheHidden1 opened #1126 "Suggestion : Annotation Tools styles"
Hi guys,

is it a good idea to  make the  annotation tools styles local ?

maybe making a function so we can override it with mixins it necessary

here an example to what i am thinking
[code]

[2019-11-13 14:57] dannyrb commented on #1126
That's interesting. To clarify, you're requesting a hook on `BaseAnnotationTool` that would allow a local override of the global tool styles? Are there practical example scenarios (any existing tools) you feel would benefit from this?

[2019-11-13 18:11] TheHidden1 commented on #1126
no no , i am trying to change a single tool / instance styles,   i am suggesting to instead of  getting the styles directly from the import, they should pass by a function that can be overridden by a mixin

example :
[code]
maybe something like this :
[code]

[2019-11-14 09:40] JamesAPetts commented on #1124
Adding some caching is something that needs to be made in cornerstone tools.

You could create a canvas as big as the viewport, draw your lines and segments to this canvas, cache this whole intermediate canvas, then draw this canvas to the main canvas per frame.

The tricky thing however is that as lines should have a _canvas_ thickness (i.e. should stay the same as you zoom in), this intermediate

[2019-11-14 10:24] pmd23 opened #1127 "Rotate feature not working to rotate dcm image 360 deg"
I am using this lib into the ionic project. but while using the Rotate feature of it I am not able to rotate the image after creating an android app. I use below function 1 by 1 but still, I am not getting success to rotate image deg. 360 using touch gesture.
$scope.RotateTouch = function()
{
	 cornerstoneTools.addTool(cornerstoneTools.RotateTouchTool );
	 cornerstoneTools.setToolActive("RotateTou

[2019-11-15 09:54] tostudypurpose opened #1128 "Can you guide me to use elliptical roi based on measurement data"
### Prerequisites

* [x] Which version are you using? (Is it latest?)
* [x] Are you reporting to the correct repository?
* [x] Did you search existing issues? (Were any related?)

### Description

I am new to cornerstone and have started it from 7 days back, so pardon me if my question is very basic or wrong.
I have loaded and displayed my Image in onInit and then I have a button on click of which

[2019-11-15 11:34] #1128 closed

[2019-11-15 11:35] tostudypurpose commented on #1128
I found the solution by using updateImage method

[2019-11-18 08:17] tostudypurpose opened #1129 "Is there a way to hide text box for roi tools"
### Prerequisites

* [x] Which version are you using? (Is it latest?)
* [x] Are you reporting to the correct repository?
* [x] Did you search existing issues? (Were any related?)

### Description

I do not want to show the text box of elliptical roi tool and is there a way to achieve same?

[2019-11-18 16:26] dannyrb commented on #1129
There is no option currently:

https://github.com/cornerstonejs/cornerstoneTools/blob/master/src/tools/annotation/EllipticalRoiTool.js#L258-L269

I'm hesitant to add a one-off option. As you've mentioned, there should be a way to do this consistently and/or for all annotation text.

Long-term, we would likely want to move rendering from tools to a "renderer" that handles all tool rendering based o

[2019-11-18 21:51] lyan2000 commented on #1124
Yes. I will look into it. Do not have a definite timeline, but I'd be happy to work on it.

Thanks @JamesAPetts

[2019-11-19 04:48] tostudypurpose commented on #1129
Can you guide me on how to achieve it using other ways?

[2019-11-19 18:51] lyan2000 opened #1130 "Custom Tools: Bundling without Cornertone Tools"
### Prerequisites

* [X] Which version are you using? (Is it latest?) 4.6.2
* [X] Are you reporting to the correct repository? Yes
* [X] Did you search existing issues? (Were any related?) Yes, searched. No related found

### Description

### Steps to Reproduce the issue [NA]

We would like to extend BaseTool/BaseAnnotationTool to create our own tools. We are using similar approaches to create our

[2019-11-19 19:23] dannyrb commented on #1130
@lyan2000, can you import `cornerstone` directly, but then use Webpack `externals` so your output library knows where/how to find cornerstone later?

https://webpack.js.org/configuration/externals/

[2019-11-22 06:36] MickeyMiao7 commented on #1123
Hi, we met the issue. Is there any update or patching plan?

[2019-11-22 07:29] pmd23 opened #1135 "ionic app rendering issue for second image"
Hello I am rendering the dicom image into ionic app for android as well as for ios. while rendering there is a series of images i am pushing it into stack after applying scroll event I can view the next image. but while rendering that 2nd image i am facing some rendering issue, I think issue related to canvas width and height related.

This is the first image which renders correctly.

![image](htt

[2019-11-22 14:11] dannyrb commented on #1123
I haven't had time to investigate this, but I am more than happy to accept a PR

[2019-11-24 07:21] tommy-qichang opened #1136 "Higher resolution labelmap?"
The cornerstone v.4.0 looks really good, and save me a lot of time for I don't need to implement many functions again.
Just one question, I think right now, the resolution of the labelmap is align with the original dicom dimension. Am I right? The contours are very smooth when drawing, but the ridge of the labelmap has lots of zigzag when the original dicom dimension is small.

I think it's reason

[2019-11-24 22:52] dannyrb commented on #1136
I don't believe this is currently supported. Labelmaps are the same size as the slice/stack. Is there value in sub-pixel accuracy? I'm not a radiologist, so I would appreciate any info you have on real-world use cases. I'm trying to understand when you would need to be more granular with your measurements than the modality. I'm unsure of what you would be measuring, as anything sub pixel would be

[2019-11-24 23:00] dannyrb commented on #1136
For example, if I have a square of pixels/intensities:

5, 10, 7
0, 10, 5
5, 10, 3

Mapped to indexes:

0, 1, 2
3, 4, 5
6, 7, 8

If I want include the range from `0.25` to `1.23` what am I actually including? How would you calculate average intensity for the area? Does that math change when we shift to volumes? What does this level of granularity buy us?

[2019-11-25 02:23] longerking opened #1137 "Is there API documentation or source code to describe how to save and load Annotation and Segmentation? What Annotation and Segmentation data structure are?"
### Prerequisites

* [x] Which version are you using? (Is it latest?)
* [x] Are you reporting to the correct repository?
* [x] Did you search existing issues? (Were any related?)

### Description

### Steps to Reproduce the issue

1. When I do add Tools such as LengthTool, FreehandScissorsTool
2. Then I want to save Annotation and Segmentation parameter that I drew on the element  to database of v

[2019-11-25 09:17] JamesAPetts commented on #1136
You are correct.  For now we have binary masks per voxel.
We currently do this because:
a) You can write reasonable implementations on the CPU.
b) Its the simplest implementation and is better than we had before.

In general this isn't a simple issue. If what you want is simply a nice visual representation, then you may be better off using contours (e.g. the FreehandRoiTool + FreehandRoiSculpterTo

[2019-11-25 09:26] JamesAPetts commented on #1137
IO using open source libraries is still a work in progress.

Using [dcmjs](https://github.com/dcmjs-org/dcmjs#readme), a library for DICOM manipulation in JavaScript, its possible to interoperate between cornerstoneTools toolState/labelmaps and  DICOM representations.

There are live examples of writing labelmaps to [DICOMSEG](https://dcmjs.netlify.com/createsegmentation/) and annotations to [DICO

[2019-11-25 13:43] pieper commented on #1136
This is definitely something that would be good to have in the future - it's very common to want to mix and match segmentations and images with different geometries (resolution, but also origin and orientation should be free variables).  As James says, this is how Slicer does it and it's important for several clinical scenarios (and for making more faithful representations of anatomy).  Even thoug

[2019-11-25 13:53] #1123 closed

[2019-11-25 16:04] tommy-qichang commented on #1136
I think linear interpolation would be the case. For the current case, what the radiologist want is to display the contours more smoothly. However, to my knowledge, it is useful when contouring the plaques in CTA images. Even though there isn't much information for the sub-pixel grid, the radiologists still could draw a more precise sub-pixel contour when they refer to some other gold standard high

[2019-11-27 21:14] milesoberstadt opened #1141 "requestPoolManager falls asleep when there's too much work to do"
### Prerequisites

* [ 4.0.9 ] Which version are you using? (Is it latest?)
* [ Yes ] Are you reporting to the correct repository?
* [ I searched, nothing related exists ] Did you search existing issues? (Were any related?)

### Description

The requestPoolManager is having some issues loading all requests, particularly with a slow internet connection. The `startGrabbing` function only proceeds to

[2019-11-28 02:20] longerking commented on #1137
Thanks, @JamesAPetts . I think I need to explain my problem specifically. I have some data in nii (NIFITI) format, and I want to convert it into subdivisions, and then load them on dicom elements. Is this possible? Or is there any way to help me achieve it. Can you give some advice?

[2019-11-29 11:30] swederik commented on #1141
Thanks for the report. I haven't seen this exact behaviour but it would definitely be good to investigate.

[2019-12-04 10:01] dannyrb commented on #1106
If it had that information and then lost it, that would be an unplanned regression imo. That's something I would accept a PR to fix.

[2019-12-10 01:57] longerking commented on #1137
https://codesandbox.io/embed/priceless-newton-ib1m3

[2019-12-10 01:57] #1137 closed

[2019-12-11 16:31] #1061 closed

[2019-12-11 16:31] #1130 closed

[2019-12-11 16:32] #954 closed

[2019-12-11 16:32] dannyrb commented on #967
Addressed here: https://github.com/cornerstonejs/cornerstoneTools/pull/1089

[2019-12-11 16:32] #967 closed

[2019-12-12 15:20] hubtub2 commented on #30
The solution of swederik works well.

Howevert, if I have a stack of images (using StackStateManager) - how do I access the annotations from the images in the stack that are currently not displayed?

Or in other words: I want to serialize all annotations, not just the one from the current slice.

[2019-12-12 15:28] dannyrb commented on #30
@hubtub2 can you please ask your question in a new issue? This issue is from 2015.

[2019-12-16 17:08] hubtub2 opened #1143 "Reset cornerstone before loading new image."
I have a website where I need to load the next image-stack after working on the first one (without reloading the entire page). How do I reset cornerstone including all tools.

I tried the following:
`
cornerstoneTools.globalImageIdSpecificToolStateManager.restoreToolState({});
cornerstone.disable(element);
stack = {};
cornerstone.enable(element);
 `

Loading the next image works and the tool annot

[2019-12-17 00:24] mikehazell opened #1144 "Feature: Measurement Selected Event"
I've noticed this PR which hasn't had any love from the core team yet.
https://github.com/cornerstonejs/cornerstoneTools/pull/1095

I would find this feature really useful right now. We have a UI which displays data related to an annotation in a side panel and groups annotations for a single nodule across image slices.

In some cases this UI is used in a QA process. One of our Rads has spoken abou

[2019-12-17 04:42] dannyrb commented on #1144
Would #1095 satisfy all of your requirements? It seems like a step in the right direction.

I think our hesitancy here has been that this is a potentially hairy problem as we dig into the edge cases, and very few people are asking for a solution.

If we reduce our scope to:

- Give annotations IDs
- Only allow one selected tool
- Make hovering smarter
  - Balance of "most recently moved" and dista

[2019-12-17 04:52] mikehazell commented on #1144
Yes #1095 would satisfy my current requirements but I like the sound of all the things you're saying.

Because timezones, I have just finished a hacky work around so if you want to take  your time on this that's ok with me.

[2019-12-18 12:10] gxf-style opened #1147 "When I use RectangleRoiTool to draw a box, the position of dragging the box and the size of the box will not trigger the 'cornerstonetoolsmeasurementcompleted' event."
### Prerequisites

* [ ] Which version are you using? (Is it latest?)
@4.9.0

### Description
When I use RectangleRoiTool to draw a box, the position of dragging the box and getting bigger or smaller cannot trigger the 'cornerstonetoolsmeasurementcompleted' event. This is possible in the @ 2 version, then in the @ 4 version, when I change the box How do I get the changed data at the end of the siz

[2019-12-18 12:39] dannyrb commented on #1147
Do any of the other `MEASUREMENT_*` events do the trick for you?

https://github.com/cornerstonejs/cornerstoneTools/blob/master/src/events.js#L169-L184

I _think_ `cornerstonetoolsmeasurementcompleted` is more consistently used for things like the `cobb angle` tool, where it's possible to have a created measurement that doesn't yet have all of it's handles to be considered "complete". The complete

[2019-12-18 13:47] majidazn opened #1148 "How to hide green line in reference line's tools"
### Prerequisites

* [x] Which version are you using? (Is it latest?)
* [x] Are you reporting to the correct repository?
* [x] Did you search existing issues? (Were any related?)

How can I hide green line in reference line which mouse cursor is on it ?
![1](https://user-images.githubusercontent.com/29996201/71091339-2664df00-21ba-11ea-8651-b8c3c08bda19.png)

[2019-12-18 14:03] dannyrb commented on #1148
What have you tried? Do you have a reproduction of your issue?

[2019-12-18 14:42] kuehlc opened #1149 "Tools not working in Angular 8"
I am able to get the image to show, but editing the image or dicom is the issue. I tried the examples given, but the "activate" and "enable" functions are seen as non-existent on mouseInput and other actions. I saw something that said those lines are no longer needed, and that you add your own tools. I tried that way with "Pan", but nothing happens after implementation. I don't get any errors. It

[2019-12-18 18:42] dannyrb commented on #1149
Can you include code snippets using triple backticks instead of images? If you're using `activate` and `enable`, then you're referencing outdated cornerstone-tools documentation.

[2019-12-18 19:45] kuehlc commented on #1149
I'm not using activate or enable. That was from a previous try. Currently I'm using addTool and setToolActive with cornerstoneTools.init()

[2019-12-18 19:49] kuehlc commented on #1149
[code]

[2019-12-18 19:49] kuehlc commented on #1149
Here is the same class in the way that you asked to see it. Hope this helps.

[2019-12-18 20:09] dannyrb commented on #1149
[code]

`const apiTool = cornerstoneTools[`${'Pan'}Tool`];`

You're using string interpolation to concatenate two string. You can access the property directly:

`const panToolClass = cornerstoneTools.PanTool;`

[There are two ways to add a tool](https://github.com/cornerstonejs/cornerstoneTools/blob/master/src/store/addTool.js#L35-L52):

[code]

The `setToolActive` call looks okay 👍

Your code bec

[2019-12-18 20:19] kuehlc commented on #1149
The string interpolation was a change for a way I saw in an example. The other method you mentioned was my original way. I was planning to separate this after getting basic functionality to work. I'll try out the globalsync to see if that works. I'm, rewriting an existing app that used an older version of the tools. This link will show what it will eventually be like. http://images.rsna.org/index.

[2019-12-18 20:24] kuehlc commented on #1149
It looks like the globalToolSyncEnabled works! Is there documentation on timing for this type of thing? I agree that this should be separated with proper timing

[2019-12-19 03:16] mikehazell opened #1150 "Add imageId specific toolState without element"
### Description

In our application we often have a set of annotations across multiple images for one or more image stacks. These need to be added sometimes one at a time and sometimes as a bulk operation.

We can't use the `addImageIdSpecificToolState` method because it uses an `element` to find the current imageId. Usually we are adding this state when a different image is displaying or no image

[2019-12-19 16:20] majidazn commented on #1148
Sorry I can't understand what you mean. I just like to hide the green line while the mouse is on it

[2019-12-25 02:57] taosiqi opened #1152 "API document link broken"
### Prerequisites

* [ ] Which version are you using? (Is it latest?)
I'm using version 2.0, and the API options are grayed out, however, the link to version 4.0 also won't open https://tools.cornerstonejs.org/api/
* [ ] Are you reporting to the correct repository?
* [ ] Did you search existing issues? (Were any related?)
have
![0012](https://user-images.githubusercontent.com/22773943/71430162-412

[2019-12-25 09:54] TheHidden1 opened #1153 "annotations are duplicated with the same image in different views"
### Prerequisites

* [X ] Which version are you using? (Is it latest?)
* [X ] Are you reporting to the correct repository?
* [? ] Did you search existing issues? (Were any related?)

### Description
as the title says annotations are duplicated for the same image across different views (view ports)
is there a way to link an annotation  to the EnabledElement  and imageId rather than the imageId only

[2019-12-31 12:43] majidazn commented on #1061
what is minimum system requirement of cornerstone ? I get some errors about buffer size in an old system with 4GB ram and Graphic 32 bit windows 7

[2019-12-31 13:42] dannyrb commented on #1061
@majidazn, can you re-ask in a new issue? This is an old, unrelated issue to what you're asking about.

[2019-12-31 14:51] majidazn opened #1156 "Cornerstone minimum system requirement"
what is minimum system requirement of cornerstone ? I get some errors about buffer size in an old system with 4GB ram and Graphic 32 bit windows 7

[2019-12-31 15:34] dannyrb commented on #1156
By default?

I think our image cache has a default limit of `1GB`. Images may expand while decoding, and take some time to be garbage collected. A couple of our decoders have "fixed memory" limits and dynamic memory variants.

Tweaking the max cache size, or the bundled codecs in `cornerstone-wado-image-loader` could be done to support low-memory systems.

You may also encounter issues using older

[2019-12-31 15:54] majidazn commented on #1156
My application works well in modern devices. But in my customer's pc not.  After load few images, an error occur. It is not about memory but I think that is because of Graphic card it is 32 bit and cornerstone can't render more image at the same time. I just want to be sure about that to inform my customer that he upgrade his device.

[2019-12-31 16:09] dannyrb commented on #1156
Cornerstone does CPU rendering by default; you can turn on WebGL rendering when enabling an element. I'm not 100% sure what specific bottleneck you're hitting

[2020-01-02 15:58] dimo2008 opened #1157 "How To access non displayed elements"
I want to access elements that contains tools but not displayed , using
cornerstone.getEnabledElementsByImageId()
return the element but when using
cornerstoneTools.getToolState() it tells me the element is not enabled

[2020-01-02 15:59] dannyrb commented on #1157
Can you provide a reproduction? It sounds like cornerstone-tools may not have been initialized or is not aware of the enabled element.

[2020-01-03 04:41] tommy-qichang opened #1158 "simple way to loop the stack?"
### Prerequisites

* [latest ] Which version are you using? (Is it latest?)
* [yes ] Are you reporting to the correct repository?
* [ yes] Did you search existing issues? (Were any related?)

### Description
I think I got lost and couldn't find any helpful documents for this simple function.
I saw the StackScrollMouseWheelTool class has set the loop to false as default. How can I set it as true?
I

[2020-01-03 06:10] tommy-qichang opened #1159 "Eraser for scissors?"
It seems the erasers couldn't apply to freehandscissors mask?
And I think the correctionscissors may not suitable for some case. For instance if I wanna delete a whole object, when I use correctionScissors it always fill the inside, but what I want is delete all of the inside part.....
Could you please advice how can I do this. Thanks.

[2020-01-03 13:57] dannyrb commented on #1159
You can use the `brush` tool with erase flag configured to always be on. This allows you to essentially create an "EraserBrush" tool. I've also witnessed several viewers creating behaviors like "double click erase".

Is there an example interaction you're trying to replicate? Is there a viewer that models it where you can pass on a video of that interaction and expected behavior?

[2020-01-03 14:04] dannyrb commented on #1158
Configuration is set at time of tool instantiation. It's a way to create tools with different behaviors, despite being derived from the same tool class. They can't* be changed after add.

Options, like `mouseButtonMask`, are meant to be changed while the tool is in use to influence behavior.

[code]

### `StackScrollMouseWheelTool`

https://github.com/cornerstonejs/cornerstoneTools/blob/master/src

[2020-01-03 14:05] tommy-qichang commented on #1158
Got it. Thank you for your help!

[2020-01-06 06:43] zzfzfz opened #1160 "the pointInFreehand Error"
### Prerequisites

* [4.9.0] Which version are you using? (Is it latest?)
* [Yes] Are you reporting to the correct repository?
* [No] Did you search existing issues? (Were any related?)

### Description
When I use the pointInFreehand to determine whether a point is inside a polygon, I find an error.
A ponit is inside a polygon but the pointInFreehand return false
### Steps to Reproduce the issue

[2020-01-06 08:36] DStar2013 commented on #1160
:+1: yep，same problem.

there are some problems with  util/pointInFreehand.
- lineSegmentAtPoint(Returns the y value of the line segment at the x value of the point.) y value should be lp1.y + dydx * (point.x - lp1.x)
- isLineRightOfPoint(Returns true if the line segment is to the right of the point.) need to take gradient.

Commit solves. Can submit a PR for this ? :wink:  @zzfzfz  @dannyrb

[2020-01-06 10:47] dannyrb commented on #1160
@DStar2013, that would be wonderful ^_^

CC: @JamesAPetts

[2020-01-06 15:09] JamesAPetts commented on #1160
I've just stumbled across this myself! A PR would be awesome and I'd be happy to review it.

[2020-01-07 05:17] jaizz2003 opened #1162 "Series Synchronisation and Layout tools"
I am trying to build a Synchronization feature in which different series under the same study can be synchronized ( like we have 3 series and I want to scroll the images in all 3 at the same time) so I want to ask are these features already implemented?

I need help in creating these new tools using cornerstone-tool, guide me on how to proceed?

[2020-01-07 11:24] jaizz2003 commented on #1162
Regarding the Layout, Yes it is already implemented and we can extend the size of the grid to any size we want as OHIF viewers have this support and there is no support for series synchronization as much as I find so I am still stuck there.

[2020-01-07 13:48] dannyrb commented on #1162
Your synchronization question is duplicated here: https://github.com/OHIF/Viewers/issues/1060

## Synchronizers

A synchronizer:

- Is tied to a specific event
- Has a handler for that event
- Has "source" enabled elements
- Has "target" enabled elements

When the event is emitted from a "source" element, the handler is used. Often updating/synchronizing the "target" elements.

## OHIF

If you're

[2020-01-08 10:51] dannyrb opened #1163 "Inconsistent area calculation between Freehand and comparable Rectangle ROI"
RE: https://github.com/cornerstonejs/cornerstoneTools/pull/1161

Area calculation for Freehand ROI Tool produces different area result than Rectangle ROI Tool despite same point coordinates.

See linked pull request for example and discussion.

CC: @JamesAPetts

[2020-01-08 19:50] kuehlc commented on #1149
@dannyrb

[2020-01-09 08:06] zzfzfz commented on #1163
I think I found the cause of the problem

Rectangle ROI use `utils/getPixelSpacing` to get `pixelSpacing` but Freehand ROI use the `image.columnPixelSpacing` and `image.rowPixelSpacing` directly.

I catch pixelSpacing data for both cases.
### Rectangle ROI
use `utils/getPixelSpacing` get `0.78`
![image](https://user-images.githubusercontent.com/59550023/72048167-2490c600-32f7-11ea-98b4-a45c1eaec10

[2020-01-09 08:25] jaizz2003 commented on #1162
@dannyrb I am trying to integrate crosshairs and Reference line tools to OHIF viewer(as they already present in cornerstoneTool) using cornerstoneTools, now I have few questions and problems -:
1) I tried to replicate the way I integrated CobbAngle tool to OHIF viewer but I am getting `Cannot read property 'getSourceElements' of undefined`, now I believe this is not the right way to do it, so I ne

[2020-01-09 09:27] JamesAPetts commented on #1163
Interesting, thanks a lot for digging to the root of this issue!

So getPixelSpacing from utils checks the imagePlane first and then checks the image. I think when I originally made the freehand tool we must hav been checking on images where these values are the same, and I can't see any reason they wouldn't be normally.

@dannyrb , I think this is just because `netlify-example/metaDataProvider.js

[2020-01-09 11:50] #1160 closed

[2020-01-09 21:07] tommy-qichang commented on #1159
I think eraserbrush is very easy to use. That's exactly what I want.
I'm working a simple medical annotation system for machine learning users, and will open source once ready. Thank you so much for your help.

[2020-01-09 21:27] lyan2000 opened #1164 "cornerstone tools 4: configuration of labelmap and segment"
### Prerequisites

* [X] Which version are you using? (Is it latest?) 4.9.0
* [X] Are you reporting to the correct repository? Yes
* [X] Did you search existing issues? (Were any related?)

### Description

would it be possible to configure the outline visibility, outline transparency, fill transparency for
- individual labelmaps (I can seem to only configure active vs non-active label maps)
- ind

[2020-01-09 21:42] lyan2000 opened #1165 "Adding custom image loader options to stack tool"
### Prerequisites

* [x] Which version are you using? (Is it latest?) 4.9.0
* [x] Are you reporting to the correct repository? Yes
* [x] Did you search existing issues? (Were any related?) Yes

### Description

I am using corerstoneWADOImageLoader with a custom load request and wish to use the stack tool from cornerstoneTools with this custom load request.

The current API call looks like
const im

[2020-01-09 22:17] lyan2000 commented on #1165
I just did a search on cornerstone.loadImage() and cornerstone.loadAndCacheImage() within the cornerstone tools project. It appears that all of these calls are related to stack management and none would allow inclusion of options. I think it might be easier to allow adding scheme to the WADO image loader.

[2020-01-09 22:58] lyan2000 commented on #1165
I have commented on

https://github.com/cornerstonejs/cornerstoneWADOImageLoader/issues/165

[2020-01-10 04:53] #1159 closed

[2020-01-10 14:50] dannyrb commented on #1164
I don't know that we expose that granular of control. Here is where we handle outline rendering:

https://github.com/cornerstonejs/cornerstoneTools/blob/master/src/eventListeners/internals/renderSegmentationOutline.js#L8-L24

And here is where we render fill:

https://github.com/cornerstonejs/cornerstoneTools/blob/master/src/eventListeners/internals/renderSegmentationFill.js

Your best bet may be

[2020-01-10 15:39] dannyrb commented on #1149
👋 @kuehlc

Sort-of-kind-of-not-really.

Cornerstone Tools gives you incredibly granular control over which tools are added, how they're configured, and their current bindings _per_ enabled element. In previous versions of `cornerstone-tools` this was more evident as most top level API calls required you to specify the enabled element you want to apply the change to.

While having that kind of cont

[2020-01-10 15:39] #1149 closed

[2020-01-10 22:08] lyan2000 commented on #1165
Can we add an optional property to the stack data model
{
          currentImageIdIndex: number,
          imageIds: string [],
          imageLoaderOptions: any[]
};
where imageLoaderOptions array is optional, has the same length as imageId that can be used in cornerstone.loadImage() and cornerstone.loadAndCacheImage()?

[2020-01-17 17:53] jwitos commented on #1144
Hi @dannyrb @mikehazell, very curious if this is still on a roadmap? Alternatively do you know a good solution to achieve this (highlighting specific annotation, connected to the information details in UI)?

[2020-01-21 02:28] dannyrb commented on #1144
@jwitos I know that annotation IDs are near future. The other enhancements are items I would like to see, but don't have any grant/client work that make them a priority. I am more than happy to volunteer time and help coordinate with a community member/partner to help scope and discuss an implementation if they would like to champion the enhancement.

[2020-01-21 08:06] abhijeet-fractal opened #1166 "Undo the active freehandroi to previous point drawn"
### Prerequisites

* [ ] Which version are you using? (Is it latest?)
3.18.4
* [x] Are you reporting to the correct repository?

* [x] Did you search existing issues? (Were any related?)

### Description

We are using the FreehandRoI tool for drawing the freehand drawing on the dicom image.
Now, whenever user is drawing the using Freehand tool, we want to this active drawing to the undo to last to

[2020-01-22 14:30] abhijeet-fractal commented on #1166
I had made it work for my project, I will try to raise PR sometime next week

[2020-01-22 15:54] dannyrb commented on #1166
@abhijeet-fractal, I'm happy to hear you found a solution! The tricky part here is having undo/redo for some tools and not others being potentially problematic. Capturing the state as it changes, and reverting it as needed is a good blanket approach. For the library, we would likely want something more granular.

@JamesAPetts and I have discussed this at some length, and we're happy to hear any su

[2020-01-23 16:13] dimo2008 opened #1169 "Area and Length tools measuring unit"
Hello,
I am asking if it possible to change the measuring unit from cm to mm and vice versa depending on the user's choice.

[2020-01-26 19:13] stebro01 opened #1170 "combine cornerstoneTools.addStackStateManager with HTML Slider element"
### Prerequisites

* [X ] Which version are you using? (Is it latest?)
* [ X] Are you reporting to the correct repository?
* [X ] Did you search existing issues? (Were any related?)

### Description

I need to control the image shown in the canvas DOM object bey cornerstone.loadimage / addSackStateManager with a slider element.

I could not figure out, how to control the displayed image.

[2020-01-27 18:38] dannyrb commented on #1170
Have you tried:

- https://docs.cornerstonejs.org/api.html#loadimage
- https://docs.cornerstonejs.org/api.html#displayimage

[2020-01-29 19:23] kuehlc opened #1171 "Is there a way to check if a tool has been added already? Ex: "if(zoomTool.isGloballyAdded)" or something."
### Prerequisites

* [ ] Which version are you using? (Is it latest?)
* [ ] Are you reporting to the correct repository?
* [ ] Did you search existing issues? (Were any related?)

### Description

### Steps to Reproduce the issue

1. When I do X
2. Then Y
3. I see behavior Z

**Expected behavior:** (What you expected to happen)

**Actual behavior:** (What actually happened)

### CodeSandbox With R

[2020-01-29 20:08] dannyrb commented on #1171
A warning is raised, but we could return something that can be checked:

- https://github.com/cornerstonejs/cornerstoneTools/blob/master/src/store/addTool.js#L27

You can also check the tracked state at `cornerstoneTools.store.state`:

https://github.com/cornerstonejs/cornerstoneTools/blob/master/src/store/index.js#L10-L28

[2020-01-29 20:14] kuehlc commented on #1171
Hmm. Yeah, I was trying to avoid the warnings. Right now, they show up every time I hit the component since they get added from ngOninit. The state check might work, otherwise I'll just create a variable or observable that keeps track of when they were added myself. It might be a nice feature add in a future release though to have an option to check without warning.

[2020-01-29 20:58] kuehlc commented on #1171
@dannyrb what would be the actual check for the values within cornerstoneTools.store.state? When I console.log the first element of any of the arrays, I just get undefined or a generic object that also has undefined when output. I'm logging after a tool is added.

[2020-01-29 21:12] kuehlc opened #1172 "Should it be possible to add magnify tool and have it work for all elements?"
### Prerequisites

* [ ] Which version are you using? (Is it latest?)
Latest
* [ ] Are you reporting to the correct repository?
Yes
* [ ] Did you search existing issues? (Were any related?)

### Description

I have tested adding/enabling tools that I want to work on up to 4 images at a time. Pan, zoom, and wwwc tool seem to work fine on each element when added, but the magnify tool only works for

[2020-01-30 06:04] jaizz2003 commented on #1162
@dannyrb I finally able to implement it. Thanks for the help!!!

[2020-01-30 06:04] #1162 closed

[2020-01-30 12:18] jlopes90 opened #1173 "Fix: imageIdSpecificStateManager.js"
[#1151](https://github.com/cornerstonejs/cornerstoneTools/pull/1151#pullrequestreview-350779595)

[2020-01-30 12:21] dannyrb commented on #1173
I'm sorry. What's the issue?

[2020-01-30 12:30] jlopes90 commented on #1173
https://github.com/cornerstonejs/cornerstoneTools/blob/4eef070ee0448ce29cbc1fbc1aedd815cef50dbd/src/stateManagement/imageIdSpecificStateManager.js#L97-L105

I think there was an error, missing the "image" object

[code]
to change:
[code]

[2020-01-30 12:33] jlopes90 commented on #1173
I updated the recent version and noticed that it was not working erasing annotations, I looked for this problem

[2020-01-30 16:40] dannyrb commented on #1173
I think you're right. Are you able to draft a PR? When you apply the changes, does it work as you would expect?

[2020-01-30 17:24] jlopes90 commented on #1173
#1174

[2020-01-30 18:14] dannyrb commented on #1173
@jlopes90, merged. Please let me know if this resolved your issue and we can close.

[2020-01-30 21:38] mikehazell commented on #1173
Arrgh.. my bad. Thank you for finding / fixing this @jlopes90

[2020-01-30 22:37] dannyrb commented on #1173
@mikehazell it's no one's bad when we don't have unit tests :p

Thank you both for your contributions!

[2020-01-31 08:24] stebro01 commented on #1170
Dear Mr. Brown,
thanks in advance for your help.
I have tried loadImage / displayImage, but I could not figure out how to solve my problem:

I load the image on a DICOM server / prepare an URL stack by:

` this.stack.imageIds = series.map(seriesImage => `${scheme}:${baseUrl}${seriesImage}`)

      // load images and set the stack
      cornerstone.enable(element)
      cornerstone.loadImage(this.s

[2020-01-31 09:13] #1173 closed

[2020-01-31 15:11] Raistlfiren commented on #1121
I just wanted to add to this issue - you need to place the event on the element and not on cornerstone. I spent hours putting the event on cornerstone, and wondering why it didn't work. The following code worked **after enabling** cornerstone on the element.

[code]
Thanks!

[2020-01-31 15:56] dannyrb commented on #1121
@Raistlfiren, this is a good call out. This can be especially tricky if you're dynamically enabling/destroying enabledElements. You can listen, on `cornerstone` for the `element enabled` event, then use the `enabled element` in that event to attach the `cornerstonenewimage` listener.

It might be a worthwhile enhancement to allow listening for `cornerstonenewimage` on `cornerstone`, but also inclu

[2020-01-31 16:19] dannyrb commented on #1170
Lib: https://github.com/cornerstonejs/cornerstoneTools/blob/master/src/lib.js#L139
ScrollToIndex: https://github.com/cornerstonejs/cornerstoneTools/blob/master/src/util/scrollToIndex.js#L17

Some of the advanced API options are tucked away in "lib". They're for tool authors, and aren't guaranteed to be as stable as the top level API options; however, they rarely change.

[code]

[2020-01-31 17:28] Raistlfiren commented on #1121
Thanks @dannyrb for the clarification and update. I will look into it some more, and update my code based upon your input.

[2020-02-01 07:31] stebro01 commented on #1170
Dear Mr. Brown,
works like a charm. Thank you very much. Awesome answering time!

best of luck to you
sb

[2020-02-02 15:02] xkjq commented on #768
Just came across the same issue, it occurred because I wasn't loading all the required dependencies for cornerstoneTools (in my case hammer.js).

[2020-02-03 16:30] kuehlc commented on #1172
@dannyrb or anyone, Have you gotten a chance to look into this yet? I don't mean to rush anyone if it's already being worked on. I just wasn't sure if it has been seen since it has been up for a few days. I don't know what the expected turnaround time for these should be since it is open source.

[2020-02-04 09:49] jlopes90 commented on #1172
I already found a solution.
[code]

[2020-02-04 13:15] kuehlc commented on #1172
@jlopes90 that makes it work for when you have more than one image for it to work on?

[2020-02-04 13:16] kuehlc commented on #1172
@jlopes90 I'll try it, but even if that works, it seems like a bug that you need to add that type of styling. It should work by default like the others do.

[2020-02-05 07:10] jussimattila commented on #1122
Not sure if it my issue is related, but I also have a problem with reference lines not showing up between multiple images: https://github.com/cornerstonejs/cornerstone-nifti-image-loader/issues/13 (in addition to a more severe problem with mapping coordinates between those images).

[2020-02-05 17:51] dannyrb commented on #1172
@kuehlc, does that do the trick for you? We could inline the style on the dynamically created element; I believe we don't because we don't want it to interfere with any user defined styles.

[2020-02-05 18:03] kuehlc commented on #1172
@dannyrb yes, the style change made it work. It just seems like a bug because the other tools work by default for this. I don't see how the same thing for those tools can't be done for magnify, but you know the code better than me.

[2020-02-05 18:54] dannyrb commented on #1172
@kuehlc, that's a good point. I wouldn't be against a PR that adds the appropriate style a la JS when the magnifying glass should be visible.

[2020-02-06 02:56] bang6777 commented on #335
Can you send this example to me? I am using AMI and Three.js libraries. It can resolve my problem. Thanks

[2020-02-06 05:11] #1158 closed

[2020-02-10 14:24] kuehlc commented on #1172
I don't have time to do the PR myself due to a deadline that I'm on for a current project, but I agree that this would be a nice add. Thanks in advance for whoever commits it.

[2020-02-10 14:32] kuehlc commented on #1171
@dannyrb or anyone have an answer on this? I switched to a different task in the meantime since asking this question because I never got anything to show up. Let me know what I can show on here from what I've tried if it helps get this answered.

[2020-02-10 14:42] dannyrb commented on #1171
Output from console, when adding length tool, global tool sync is disabled:

![image](https://user-images.githubusercontent.com/5797588/74159181-598b8380-4be9-11ea-862f-0ebec5378289.png)

Three tools, with global tool sync enabled:

![image](https://user-images.githubusercontent.com/5797588/74159258-788a1580-4be9-11ea-94ae-254bbf0b340b.png)

If you're global tool sync is enabled, you shouldn't nee

[2020-02-10 14:46] kuehlc opened #1175 "How to reset/wipe away ww wl values or tool changes on an image?"
### Prerequisites

* [x] Which version are you using? (Is it latest?)
* [x] Are you reporting to the correct repository?
* [x] Did you search existing issues? (Were any related?)
#1076 Seems related, but unsure.

### Description

I want to be able to reset an image/dicom to original state (before any wwwc changes or tool edits).

[2020-02-10 14:50] dannyrb commented on #1175
https://docs.cornerstonejs.org/api.html#reset

`cornerstone.reset(enabledDomElement)`

Resets `viewport` properties; would not clear annotations

[2020-02-10 14:52] kuehlc commented on #1171
@dannyrb I don't get those outputs for some reason. And I need the checks because I don't want to destroy when I switch routes. I need to maintain the state of the images/dicoms in that route when I leave it. I am already doing the init part when entering the route.

[2020-02-10 14:53] kuehlc commented on #1175
@dannyrb Thanks! Don't know how I missed that in the docs.

[2020-02-10 14:53] #1175 closed

[2020-02-10 19:18] dannyrb commented on #1171
Are you caching some things for the current viewing session? If you store those in a "higher up" application state, you can still do a clean exit on the route's destroy, then restore on init.

[2020-02-12 13:54] kuehlc commented on #1171
@dannyrb No. The only caching used is for our images so that we don't need to make a new api call when loading images from a journal every time. It just seems like a lot to cache information for up to 4 possible images loaded with a ton of edits on them for such a simple situation like switching between two routes. I'd rather just deal with the warnings or create custom variables for checks to be

[2020-02-13 13:15] l-donnelly opened #1176 "Pan and Zoom issue with segmentation on image with non-square pixels"
### Prerequisites

* [ ] Which version are you using? (Is it latest?)
yes.
* [ ] Are you reporting to the correct repository?
yes.
* [ ] Did you search existing issues? (Were any related?)
not that I could see.

### Description

The semi-transparent, filled-in sections of a segmentation are not moving consistently with the solid segmentation boundary or the underlying image with non-square pixels.

[2020-02-13 13:51] dannyrb commented on #1176
CC: @JamesAPetts

Thank you for the reproduction!

[2020-02-14 00:18] den10 opened #1178 "API link is broken"
### Prerequisites

* [ ] Which version are you using? (Is it latest?)
* [ ] Are you reporting to the correct repository?
* [ ] Did you search existing issues? (Were any related?)

### Description

### Steps to Reproduce the issue

1. When I do X
2. Then Y
3. I see behavior Z

**Expected behavior:** (What you expected to happen)

**Actual behavior:** (What actually happened)

### CodeSandbox With R

[2020-02-14 02:22] dannyrb commented on #1178
Duplicated here: https://github.com/cornerstonejs/cornerstoneTools/issues/1152

[2020-02-14 02:22] #1178 closed

[2020-02-14 02:24] dannyrb commented on #1152
This used to be autogenerated with `Docma`. We have a some tooling and documentation changes we would like to make. If you, or anyone else, would like to restore Docma's autogenerated output (or a different comparable JSDOC --> Docs), I would be more than happy to review.

[2020-02-17 11:27] trung1704ptit opened #1179 "How can hide the measurement data text"
Hi everyone,

When we draw some measurement in one slide I think we will confuse because we have lots of line and text.
I think we just show the data text when we hover mouse into the measurement, normally whe hide this text.

So how can I make the style, hide the text, and show it when hover mouse on?

[2020-02-17 13:42] soumanpaul opened #1180 "Touch support for mobile"
Using in mobile app with WebView, how to enable touch tools like pen, zoom functionality?

[2020-02-17 14:34] dannyrb commented on #1180
Touch support is enabled by default. Most tools support touch, and some tools are touch only. Generally, if a tool is activated with a "gesture" (like pinch), it has its own variant that needs added and activated:

https://github.com/cornerstonejs/cornerstoneTools/blob/master/src/tools/ZoomTouchPinchTool.js

[2020-02-20 12:30] ruben-cruz opened #1182 "Spatial calibration tool"
Hello everyone,

Does anyone know if Cornerstone has some calibration tool? If no, any suggestion on how it can be developed?

Thanks.

Best regards,
Rúben Cruz

[2020-02-20 13:30] dannyrb commented on #1179
Look at the tool's `render` method. This logic fires on each render, which is happening in sync with the screen's draw. We often use information in the tool's state, options, and configuration to influence how the tool and it's info are rendered.

If you look at an annotation tool with `pointNearTool` implemented, this returns true when a tool is more or less being hovered.

You could use these tw

[2020-02-20 13:37] dannyrb commented on #1182
Related: https://github.com/cornerstonejs/cornerstoneTools/issues/264

Your best bet is to create a new tool similar to the ArrowAnnotate tool and Length tool.

0. [Add a metadata provider with a very high priority](https://docs.cornerstonejs.org/api.html#addprovider)
1. Measure a length
2. Prompt for actual length
3. Do some math
4. For the calibrated image, add an [`imagePlaneModule`](https://gi

[2020-02-22 13:31] #1180 closed

[2020-02-22 13:32] soumanpaul commented on #1180
solved

[2020-02-29 07:58] MickeyMiao7 commented on #1176
It looks like the issue occurs when the values of `rowPixelSpacing ` and `columnPixelSpacing` are different.
I spent some time trying to find out where the problem is but failed. Is there any insight about it? Is it caused by that the `renderFill` function calculates the coords wrongly?

[2020-02-29 08:14] JamesAPetts commented on #1176
@MickeyMiao7 Thanks for the report. It'll be this function that is causing issues: https://github.com/cornerstonejs/cornerstoneTools/blob/1682fa8c5ad0f99b9e8b16fba85663ac1cc7b7a0/src/eventListeners/internals/renderSegmentationFill.js#L130

I.e. incorrect translation. The whole renderFill function has no mention of rowPixelSpacing and columPixelSpacing, so some correction factors may need to be int

[2020-03-02 09:38] MickeyMiao7 commented on #1176
Thanks you for the prompt reply and insight!
I have submitted PR https://github.com/cornerstonejs/cornerstoneTools/pull/1183
Plz take a look  if you have time :)

[2020-03-02 14:09] #1176 closed

[2020-03-04 12:34] pzehle commented on #1166
@abhijeet-fractal nice that you have found the solution for this. I am trying to do the same, but I am finding that after "removing" the last point from the toolState, and I try to continue with the drawing (click to add a point), the tool crashes stating `Uncaught TypeError: Cannot read property 'lines' of undefined`. Did you get this issue too? Thanks in advance.

[2020-03-05 01:12] rjsgml5698 opened #1184 "Stack Image Id Synchronization example"
Can I get a hint about the '**Stack Image Id Synchronization**' example that is still disabled in the next link?

I'm trying using the library '**react-cornerstone-viewport**'

Link :  https://tools.cornerstonejs.org/examples/

thank you!

[2020-03-05 03:49] dannyrb commented on #1184
A synchronizer:

- Is tied to a specific event
- Has a handler for that event
- Has "source" enabled elements
- Has "target" enabled elements

When the event is emitted from a "source" element, the handler is used. Often updating/synchronizing the "target" elements.

Hopefully that demystifies them a bit. You can create a similar effect in react-cornerstone-viewport by using the eventListeners pro

[2020-03-10 20:44] sinanmb opened #1185 "Help with adding callback to cornerstone tool"
Hi,

I would like to add a callback to the Probe tool in order to display a popup after the click on the viewport, (similar to the dialog modal that shows up for the arrowAnnotate tool). I have created a custom cornerstone tool and am looking for pointers on how to setup the callback to open the dialog modal and prompt the user to select a location/description for the measurement.

Thank you

[2020-03-11 01:17] dannyrb commented on #1185
Where are you running into issues? What have you tried?

The `arrowAnnotateTool` does its magic here: https://github.com/cornerstonejs/cornerstoneTools/blob/master/src/tools/annotation/ArrowAnnotateTool.js#L240-L277

Note that, in the `moveNewHandle` callback, we use `getTextCallback`. If you follow the callback/stack from there, you should be able to see how things chain together to prompt the us

[2020-03-11 21:45] sinanmb commented on #1185
Hi Danny,

Thank you for getting back to me quickly. I have managed to add the callback to the tool. I'm also curious about how to change the tool's marker when hovering over the viewport. Currently the marker is a cross, and I would like to replace it with an arrow. I also would like to display some text data next to the marker.

[2020-03-12 09:54] haoxl3 opened #1187 "How can I see the API documentation"
### Prerequisites

* [x] Which version are you using? (Is it latest?)
* [x] Are you reporting to the correct repository?
* [x] Did you search existing issues? (Were any related?)

### Description
I want to see the API documentation, but the link is broken. How can I see the API documentation? When will the API documentation probably be fixed?

### Steps to Reproduce the issue

**Expected behavior:

[2020-03-12 13:47] Betalos commented on #941
I would like to report that the issue still persist in the latest build (4.12.4)

[2020-03-12 13:55] dannyrb commented on #941
@Betalos are you able to draft a PR?

[2020-03-12 16:48] Betalos commented on #941
@dannyrb ok I'll see what I can do.

[2020-03-12 18:02] Betalos commented on #941
#1188 added

[2020-03-13 06:52] rjsgml5698 commented on #1184
Thanks for the explanation!!

Could you explain it in more detail? Do you have any simple examples?

I still don't understand it enough to implement it in code

I really need your help

thank you.

[2020-03-15 06:06] majidazn commented on #341
I'm using npm and I want to implementing multi-frames. Do you have any sample code?

[2020-03-17 09:40] PierreLeGuen opened #1192 "Best to way to send data between two tools"
### Prerequisites

* [x] Which version are you using? (Is it latest?)
* [x] Are you reporting to the correct repository?
* [x] Did you search existing issues? (Were any related?)

### Description

We are trying to create a feature that requires several custom tools working together. What is the best way to communicate between two tools for example? Is this possible?

[2020-03-17 10:12] pzehle opened #1193 "Add / Remove Nodes in FreehandRoi Tool"
### Prerequisites

* [x] Latest
* [x] Are you reporting to the correct repository?
* [x] No related issues, one of them got me no answers.

### Description

I would like to know, if there is a possibility to add or remove nodes after the tool has been closed. I am thinking of it as getting the coords from the mouse, and on click, check the tool state and if there is an existing node, remove it (ca

[2020-03-17 18:18] dannyrb commented on #1193
Do you have an example implementation that is causing this issue? I too would have guessed that removing a `point` from a `FreehandRoi` annotation and triggering a re-render would do the trick:

https://github.com/cornerstonejs/cornerstoneTools/blob/master/src/tools/annotation/FreehandRoiTool.js#L107-L109

[2020-03-17 18:19] dannyrb commented on #1192
@PierreLeGuen are you able to provide a more concrete example?

[2020-03-19 08:56] PierreLeGuen commented on #1192
@dannyrb of course.
For example, i've a tool to draw a circle, and an other to draw a line apart from the circle. I want to extract the center of the circle and the start/end of the line. This way I can do some calculations and render a result from them.
Please tell me if I wasn't clear enough.

[2020-03-20 12:36] pzehle commented on #1193
@dannyrb thanks for your response. What I am doing is:

[2020-03-20 12:50] pzehle commented on #1193
@dannyrb thanks for your response. What I am currently doing as an example on my project is:

Every time I mark a point with the Freehand tool, I am saving the state of the tool in React's state. At any moment, I can press 'cmd + z' and the last node will get deleted from the state, with the following code:

`undoPoint = () => {
	var markings = cornerstoneTools.getToolState(this.element, 'Freehand

[2020-03-23 11:33] mkramers opened #1196 "Lines bunching when using FreehandRoiSculptor Tool"
### Prerequisites

* [4.8.2] Which version are you using? (Is it latest?) **Not the latest, but it appears there have been no changes in the tool since this version**
* [y] Are you reporting to the correct repository?
* [y] Did you search existing issues? (Were any related?) **No related issues**

### Description

When editing a contour, it is possible to create "folds" where groups of points/line

[2020-03-23 11:54] mkramers opened #1197 "FreehandRoiSculptor tool cursor drawn in incorrect location"
### Prerequisites

* [4.8.2] Which version are you using? (Is it latest?) **Not the latest, but it appears there have been no changes in the tool since this version**
* [y] Are you reporting to the correct repository?
* [y] Did you search existing issues? (Were any related?) **No related issues**

### Description

![freehandroisculptor-wrong-tool-visual](https://user-images.githubusercontent.com/4

[2020-03-23 16:15] mkramers commented on #1197
I will try to fix this issue on my own over the next week or so and put up a PR if successful. Thank you.

[2020-03-23 19:21] kuehlc opened #1200 "Warning when adding Magnify, Zoom, or Pan tool globally"
### Prerequisites

* [4.12.0 ] Which version are you using? (Is it latest?)
* [Y ] Are you reporting to the correct repository?
* [Not sure ] Did you search existing issues? (Were any related?)

### Description

Why is there a warning when adding Magnify, Zoom, and Pan tool globally? It says it is not available, but it works properly on all images added to the viewer. Am I missing something? I kno

[2020-03-24 07:13] web2ls commented on #1172
I have like a same problem with magnify (i work with a four viewports)
steps to reproduce:

- select magnify tool
- working with tool in a one of viewport (on this step all work correctly)
- switching to Move tool
- try Move in the previous viewport
- magnify tool is still working and on the background moving the basic image

after this steps i have incorrect behavior for other viewports for the M

[2020-03-25 09:05] wmxj opened #1202 "in Vue,Always prompt 'element not enabled'"
`"cornerstone-core": "^2.3.0",
    "cornerstone-math": "^0.1.8",
    "cornerstone-tools": "^4.12.6",
    "cornerstone-wado-image-loader": "^3.0.6",
    "hammerjs": "^2.0.8",
    "vue": "^2.6.11",
    "vue-router": "^3.1.5",
    "vuex": "^3.1.2"

-------------------------------------------------------------------------------------------
initCornerstone.js:

import dicomParser from 'dicom-parser';
i

[2020-03-25 15:47] gregmcguffey commented on #341
Attached is what we are using to handle viewing images with frames.

Hope that helps!

From: majidazn <notifications@github.com>
Reply-To: cornerstonejs/cornerstoneTools <reply@reply.github.com>
Date: Saturday, March 14, 2020 at 11:06 PM
To: cornerstonejs/cornerstoneTools <cornerstoneTools@noreply.github.com>
Cc: Greg McGuffey <Greg.McGuffey@cognosante.com>, Author <author@noreply.github.com>
Subj

[2020-03-26 02:34] wmxj commented on #1202
thank you, dannyrb!

[2020-03-26 02:34] #1202 closed

[2020-03-26 03:13] dannyrb commented on #1192
@PierreLeGuen, I guess I'm not understanding why these wouldn't be a part of the same tool? I'm not sure we have many good public examples, but I have seen private cornerstone-tools implementations of "multipart" tools that combine multiple shapes to calculate some value.

[2020-03-26 03:31] dannyrb commented on #1172
Magnify tool appears to have another (potentially related) issue where each "click" creates a new enabled element. This causes ~22 tools to be duplicated when the sync flag is set (you can see this at `cornerstoneTools.store.state.tools`).

I'm wondering if listeners / elements aren't being properly cleaned up in some scenarios. I think the issue may be that we need to shift the clean-up from fram

[2020-03-26 03:46] dannyrb commented on #1200
I'm not sure I know what you're talking about. What are the steps to produce the warning? Can you provide a tiny snippet, codepen, or codesandbox? What is the exact text of the warning?

[2020-03-26 13:16] kuehlc commented on #1200
I have a function "addTools" at the beginning of ngOnInit of a component that I'm loading that handles the cornerstoneTools functionality and configuration. The included images show the function, the config of the tools, and the warnings in the console. I'll try to make a small example in a code sandbox or something, but I don't know if it'll reproduce the same in a simpler setup.
![addToolsFuncti

[2020-03-26 21:56] ladeirarodolfo opened #1203 "ArrowAnnotate and Angle do not fire MEASUREMENT_COMPLETED"
### Prerequisites

* [ ] Which version are you using?
* [ ] Are you reporting to the correct repository?
* [ ] Did you search existing issues? (Were any related?)

### Description
Version v4.12.5

From consumer perspective tools ArrowAnnotate and Angle are not firing the event MEASUREMENT_COMPLETED when user finishes placing the measurement.

### Steps to Reproduce the issue

**Expected behavior:*

[2020-03-30 17:56] sinanmb opened #1205 "Custom tool renderring"
Hi,

I have created a custom tool based on the Probe Tool. All I need is a marker on the viewport, with the measurement number displayed next to it (the index of the measurement in the measurement table)

How can I use a custom rendering method, given I can't access the `draw` method (in drawing.index.js) from my custom tool file?

[2020-03-30 20:17] aledoyen opened #1206 "AddToolState - measurementData - Cannot read property 'uuid' of undefined"
### Prerequisites

* [ 4.13.0]
* [ cornerstone-tools]
* [ I looked after a related issue but not found ]

### Description

When upgrading from 4.12.5 to 4.13.0, this bug appeared
Due to several deadlines i have -> I can't look more after the origin of this bug so i will stay on 4.12.5 for the moment (I suppose that adding a measurementData element would make the job but not sure and not the time f

[2020-03-31 09:00] pzehle commented on #1193
@dannyrb Hi again Danny, I know these are difficult times, but I just want to know if there is anything you could help me with, regarding the issue I am having.

Thank you again.

[2020-03-31 09:42] web2ls commented on #1172
oh yeah, i saw this problem with creating additional elements
sorry, i forget write about this in my message

[2020-03-31 10:02] dannyrb commented on #1193
My best guess is that you're not cleaning up event listeners. The state may "look" identical, but any references in event listeners were cleared.

We recently created a PR that establishes a library level way to "cancel" an in-progress placement. It drops any handles / annotations currently being moved, and clears related listeners.

For "complete" measurements, this is good enough. For multi-step

[2020-03-31 10:05] pzehle commented on #1193
Thank you for your answer. So, to do what I want to do (undo markings) would be pretty hard I understand?

On a related matter, the way I am trying to do this, you think it would work once the tool has a completed state? I mean, to add or remove nodes once the tool has finished its marking?

Thank you.

[2020-03-31 10:18] dannyrb commented on #1205
If you're authoring a 3rd party tool, you extend the BaseAnnotation tool class and implement a render function. The render function is run on each "draw" and often uses "tool state" to inform the draw.

If you look at BaseAnnotation, it provides some guidance around the methods you can implement. If you know your tool is similar to an existing one, cracking it open often provides a lot of insight.

[2020-03-31 10:49] dannyrb commented on #1193
I try not to classify problems as easy/hard. I see two approaches:

- Enhance the tool
- Enhance the library

If we define expectations, then we could create a feature branch where we PR failing tests that assert those expectations, then eventually PR the implementation that causes those tests to pass.

A bit more rigor than usual for this repository, but it would help make sure an implementer is

[2020-03-31 11:00] dannyrb commented on #1200
When posting code, please use code blocks instead of images.

As far as I can tell, this is a lifecycle issue. Those warnings should only show when you're attempting actions that don't make sense. A codepen or codesandbox would help considerably.

You'll see different behavior here depending on if you've set the global tool sync flag.

Without it, `addTool` will iterate all currently enabledElemen

[2020-03-31 13:21] Sriram-Ananth opened #1207 "Cornerstone Tools Synchronizers - Usage"
### Prerequisites

* [x] Which version are you using? v4.12.5
* [x] Are you reporting to the correct repository? Yes
* [ ] Did you search existing issues? (Were any related?) Yes

Not really an issue. Just wanted to know the correct way to switch between synchronizers.
For example I first initialize a Stack Image Position Synchronizer as follows:

      var synchronizer = new cornerstoneTools.Sync

[2020-03-31 13:30] dannyrb commented on #1207
@Sriram-Ananth, yes. You can create a new synchronizer if you have alternative behavior you would like to synchronize.. In a recent-ish update, we also made it possible to toggle a synchronizer on/off:

https://github.com/cornerstonejs/cornerstoneTools/blob/master/src/synchronization/Synchronizer.js#L37

So you might set it's `enabled` property to `false`, and then instantiate/enable the other syn

[2020-03-31 14:44] Sriram-Ananth commented on #1207
That worked like a charm. Thank you for the prompt assistance.

[2020-03-31 14:44] #1207 closed

[2020-03-31 15:55] kuehlc commented on #1200
I don't know how to make a codesandbox for this. The steps for this are that ngOninit calls the addTools function that I showed you, and those warnings pop up. Global tools sync is enabled as shown in the image, and I add all tools that I want to work on the image/s that get loaded. It happens when loading into the site. I'll try switching to ngAfterViewInit and see if that works.

[2020-03-31 16:04] dannyrb commented on #1206
Please don't ever apologize for who you are. You're already going above and beyond by reporting an issue. Thank you 🤗

Here is the source for the method that is causing you trouble:

https://github.com/cornerstonejs/cornerstoneTools/blob/master/src/stateManagement/toolState.js#L27-L52

This line is the only bit that has changed recently:

`measurementData.uuid = measurementData.uuid || uuidv4();`

[2020-04-01 00:01] sinanmb commented on #1205
Hi @dannyrb,

Thank you very much! That was very helpful and I was able to import the methods I needed using
`const draw = csTools.importInternal('drawing/draw');`

[2020-04-01 00:01] #1205 closed

[2020-04-01 04:03] dannyrb commented on #1197
@mkramers, the CodeSandbox you provided does not appear to reproduce the issue. Are you able to provide one that does?

[2020-04-01 04:15] dannyrb commented on #1185
We support "SVG Cursors"

- https://github.com/cornerstonejs/cornerstoneTools/blob/0855f74aef669a092f3e105d2b7c8fdffc93ce36/src/tools/PanTool.js#L18
- https://github.com/cornerstonejs/cornerstoneTools/blob/e38e2f5c81b0f83cca5a29a03334bee287028a8a/src/tools/cursors/index.js

You could also do something similar to `dragProbe`:

https://github.com/cornerstonejs/cornerstoneTools/blob/e38e2f5c81b0f83cc

[2020-04-01 05:41] #1203 closed

[2020-04-01 05:43] dannyrb commented on #1187
Unfortunately, the automatic API doc generation is not working. There is an open issue that is up for grabs: https://github.com/cornerstonejs/cornerstoneTools/issues/1152

[2020-04-01 05:43] #1187 closed

[2020-04-02 10:17] wmxj opened #1208 "why ReferenceLinesTool always show line"
1 cornerstoneTools'version is 4.13.0
2 i want only non current window and ifferent position show line,but why ReferenceLinesTool always show line in every window

addReferenceLine() {
	 //delete history
	this.windowData.forEach(_window => {
		let _element = this.$refs[_window.id][0];
		synchronizerLine.remove(_element);
		//it seems that this code doesn't work
		cornerstoneTools.removeToolForEleme

[2020-04-02 13:08] dannyrb commented on #1208
Please add your code as text with formatting, using triple backticks

[code]

[2020-04-03 02:10] wmxj commented on #1208
[code.txt](https://github.com/cornerstonejs/cornerstoneTools/files/4424693/code.txt)

[2020-04-03 03:52] wmxj commented on #1208
![1](https://user-images.githubusercontent.com/1752767/78322506-859c0300-75a1-11ea-868b-e82be58e32a5.jpg)

[2020-04-03 10:00] gevgeny commented on #1136
@JamesAPetts

Do you know how to intercept the moment of passing image to cornerstone? I would like to do the same for segmentations and I found that segmentation image is rendered into the cornerstone canvas right after creating https://github.com/cornerstonejs/cornerstoneTools/blob/e70b894b51dba25e9329fca249f92fb57463bb49/src/eventListeners/internals/renderSegmentationFill.js#L127

[2020-04-05 00:18] wmxj commented on #1208
It 's finally solved. we need to add this 'cornerstone.updateImage(element)'  after 'removeToolForElement'

[2020-04-05 00:18] #1208 closed

[2020-04-05 00:20] wmxj commented on #1208
synchronizerLine.remove(_element);
						cornerstoneTools.removeToolForElement(_element,'ReferenceLines');
						cornerstone.updateImage(_element);

[2020-04-09 09:57] Sriram-Ananth opened #1212 "Custom tool creation..."
### Prerequisites

* [ ] Which version are you using? (Is it latest?) v4.12.5
* [ ] Are you reporting to the correct repository? Yes
* [ ] Did you search existing issues? (Were any related?) Yes

As part of our viewer we need to create a set of custom chiropractic specific measurement tools. Most of these tools will involve the user clicking a series of points and the software will perform calcula

[2020-04-09 19:40] andrebot opened #1214 "getActiveTool from Utils is not exposed as an API"
### Prerequisites

* [4.14.2]
* [cornestone-tools] Are you reporting to the correct repository?
* [nothing related to getActiveTool]

### Description

I was trying to create a new manipulator which needs the ` getActiveTool` method since it is more convenient, but this method is not exposed on CornerstoneTools API neither on `lib.js` for `internalImport`

### Steps to Reproduce the issue

Scenario

[2020-04-10 13:13] dannyrb opened #1215 "Glossary of Terms / Definitions"
Having a shared vocabulary makes it easier to discuss the library. It also reduces confusion when drafting features and accidentally overloading key words. It would be nice if we could include more formal definitions for:

- csTools `eventListener`
- csTools `eventDispatcher`
- csTools `resolvers`
- `toolName`
- `toolType`
- `interactionType`

I'll try to add to this list as I encounter specific t

[2020-04-10 18:18] dannyrb opened #1217 "DragProbe not displaying correctly until mouse move"
Reported by @mix3d. Proposed solution:

[code]

Captured from Slack conversation

[2020-04-13 23:13] gauravgupta1 commented on #335
Thanks, Have you finished your 3D boilerplate using Cornerstone & three.js?
If you can, please send this code to my email: ggupta99@yahoo.com

[2020-04-13 23:40] pieper commented on #335
If you are interested in another approach, here's info on an implementation using vtk.js

https://discourse.vtk.org/t/new-free-video-tutorials-vtk-js-and-ohif-web-apps/2164

[2020-04-14 14:05] JamesAPetts opened #1218 "Question: Anybody using OHIF for Covid-19 research?"
Cross post of https://github.com/OHIF/Viewers/issues/1637.

If you would like to comment, please follow the above link and keep all discussion there.

[2020-04-15 10:08] YashJamra opened #1219 "How can i add cross hair sign on images in crosshair feature."
### Prerequisites

* [ ] Which version are you using? (Is it latest?)yes
* [ ] Are you reporting to the correct repository?yes
* [ ] Did you search existing issues? (Were any related?)yes
![crosshair_sign](https://user-images.githubusercontent.com/39234180/79324684-98152580-7f2d-11ea-80c8-052591b67ade.png)

### Description

I am working on to implement the crosshair feature using cornerstone libra

[2020-04-15 14:25] dannyrb commented on #1219
What have you tried? We have a number of tools that either accomplish this, or implement or portion of the features you're describing. I recommend looking at their source for inspiration.

[2020-04-16 12:28] BIJUBALAN83 opened #1220 "Duplicating ROIs ( like LengthTool)"
Hi All,
I am developing an application, where I need to show images in different layout ( Viewport Size ). Suppose I have a layout of 1X2 and loaded the same image to Port 1 and Port 2.

If I have placed an ROI in the Port 1. It will automatically Placed in the Port 2.

I have changed the imageID of the of the element in both port.
Port1 image have ImageID dicomImage_1 and port 2 image have image

[2020-04-16 14:50] kuehlc opened #1221 "How to auto-scroll a DICOM stack"
### Prerequisites

* [Latest ] Which version are you using? (Is it latest?)
* [I think so ] Are you reporting to the correct repository?
* [Yes ] Did you search existing issues? (Were any related?)

### Description

Is there a way to loop through or "play" a DICOM stack in the tools? I saw the ability to scroll in the examples, but that requires manual dragging. The use case would be that the user

[2020-04-16 16:40] Hynn01 opened #1222 "How can I use the source code for development?"
### Prerequisites

* [It is latest] Which version are you using? (Is it latest?)
* [yes] Are you reporting to the correct repository?
* [yes, but can't find related issue.] Did you search existing issues? (Were any related?)

### Description
Question 1:
I want to change the source code for development, but I saw the demo uses the released version and uses a link to link to the library. I put the b

[2020-04-17 16:31] kuehlc commented on #1221
Nevermind. I found the playClip functionality.

[2020-04-17 16:31] #1221 closed

[2020-04-19 02:24] dannyrb commented on #1222
[code]

Open `src/index.html` in a browser. Refresh after changes to see them applied.

----

Ideally, we would nuke the less-than-stellar `/examples` directory, and use something like `HtmlWebpackPlugin` and the WebPack Dev Server to serve up something like `src/index.html` in a more developer friendly way.

[2020-04-19 03:06] Hynn01 commented on #1222
Okay, thank you very much!

[2020-04-19 03:10] Hynn01 opened #1223 "How to use addStateTool on different stacks？"
### Prerequisites

* [yes] Which version are you using? (Is it latest?)
* [yes] Are you reporting to the correct repository?
* [yes,#358 and #409 are partly related] Did you search existing issues? (Were any related?)

### Description

I want to make a list(like [[(x1,y1,z1),(w1,h1)],[(x2,y2,z2),(w2,h2)],[(x3,y3,z3),(w3,h3)]]) showed by rectangleRoiTool in different stacks(z layer) automatically,

[2020-04-19 03:12] Hynn01 commented on #1223
Actually now I find the api "cornerstoneTools.globalImageIdSpecificToolStateManager.addImageIdToolState", I think it can implement what I want to do. Is it the right way to deal with my problem?

[2020-04-19 10:17] Hynn01 commented on #1223
However, when I follow below steps, an error occurs as the picture show.
const measurementData2= {
      visible: true,
      active: false,
      color: undefined,
      invalidated: false,
      handles: {
          end: {
            x: 134.76562499999997,
            y: 76.70898288488387,
            highlight: true,
            active: false,
          },
          start: {
            x: 116

[2020-04-20 02:36] #1222 closed

[2020-04-20 03:09] dannyrb commented on #1223
I'm not 100% sure I understand what you're trying to accomplish. Do you want to "restore/set state for a rectangleROI" on a stack or a specific image? What do you consider to be a stack? Do you need assistance identifying/finding stacks and imageIds?

[2020-04-20 03:16] dannyrb commented on #1220
@BIJUBALAN83, to make sure I understand, you have drawn a `length` annotation on one image, and would like to "copy" its state and have it drawn on the second image as well?

Do you have any requirements around what would happen if either viewport updates the annotation, or if either viewport is scrolled or loads a new stack/displaySet?

[2020-04-20 03:42] dannyrb commented on #1212
👋 Hello Sriram,

Have you made any progress on this? The recommended approach is to "extend" the `BaseTool` or `BaseAnnotationTool` class, and use the features exposed in `src/lib.js` to create a custom tools. Any class that adheres to those interfaces can be used with `cornerstoneTools.addTool()`, even if they're not bundled with the library (meaning you don't need to fork the entire library to a

[2020-04-20 04:39] Hynn01 commented on #1223
Yes, I want to add a rectangleROI on a specific image. （Sorry for my poor English expression...I use the word "stack" by mistake. ）

[2020-04-20 05:54] sbourouis opened #1224 "FreehandRoiTool does not use pixelSpacing from metaData"
### Description

Is there a solution to set the pixel spacing for the FreehandRoiTool? I've added a metaDataProvider to cornerstone with `rowPixelSpacing` and `columnPixelSpacing` in it to have measures in `mm` instead of pixels. That worked with the RectangleRoiTool, the AngleTool, and the LengthTool but it didn't work with the FreehandRoiTool that seems to use the properties from the image objec

[2020-04-21 10:34] dannyrb commented on #1135
@pmd23, is this the issue you're facing: https://github.com/cornerstonejs/cornerstone/issues/304

[2020-04-21 10:58] YashJamra commented on #1219
I took the code reference for cross hair functionality as mentioned in Cornerstone Tools examples.
It is working but there is no cross hair sign on images so my question is how i can achieve this.

// Init cornerstone tools
cornerstoneTools.init()

// ...
// Enable our elements

const scheme = 'wadouri'
const baseUrl = 'https://mypacs.com/dicoms/'

// Create our Stack data
const firstSeries = [

[2020-04-21 11:13] pmd23 commented on #1135
yepp :)

[2020-04-21 12:39] dannyrb commented on #1135
Alright. I'll close this as a duplicate then. You can leverage the workaround called out there, or propose a solution by continuing the discussion there as well.

[2020-04-21 12:39] #1135 closed

[2020-04-22 10:37] haoxl3 opened #1226 "how to modify the pre-rendered coordinates"
### Prerequisites

* [x] Which version are you using? (Is it latest?)  4.12.4
* [x] Are you reporting to the correct repository?
* [x] Did you search existing issues? (Were any related?)

### Description
I want to modify the pre-rendered coordinates, but the coordinates can't be modified. I use setToPixelCoordinateSystem

### Steps to Reproduce the issue
my code:
[code]

**Expected behavior:** (Wh

[2020-04-23 01:48] thisKing opened #1227 "When multiple layers are added, the magnifying glass sees only one layer of the image"
不会英语不好意思，翻译出来的英文。

I downloaded Composite Images on the official example, and then I tried to use the magnifying glass on this example, only to see one layer of Images

[2020-04-23 01:49] thisKing commented on #1227
![Uploading TIM图片20200423094922.png…]()

[2020-04-23 01:52] thisKing commented on #1227
![TIM图片20200423094922](https://user-images.githubusercontent.com/22740226/80050437-2d28a780-8548-11ea-8014-6f6c0585c4af.png)

[2020-04-23 02:00] dannyrb commented on #1227
@thisKing, I'm not sure that the magnifying glass has ever supported the ability to show multiple layers. You may need to draft a PR to expand the tool's capabilities, or author a 3rd party tool.

[2020-04-23 02:09] thisKing commented on #1227
![image](https://user-images.githubusercontent.com/22740226/80051108-f489cd80-8549-11ea-8cf3-328bbaf8bba6.png)

The examples I saw in version 2 support multiple layers.

[2020-04-23 02:12] dannyrb commented on #1227
Ah! Good find. Any information you can provide to help pinpoint what's causing the issue would be great. I'll shift this to a verified bug.

[2020-04-23 08:09] haoxl3 commented on #1223
@Hynn01 hi, I met the same problem as you, did you achieve it?

[2020-04-23 09:43] haoxl3 commented on #358
@hu3402379 hi,  I have the same problem as you, but my rectangleRoi is rendered in function 'onImageRendered' , but it doesn't work.  I have to click the rectangle button before the rectangle is displayed.
Do you know how to make the rectangle display immediately ?
my code:
[code]

[2020-04-23 12:50] dannyrb commented on #358
@haoxl3, please create a new issue for this question

[2020-04-27 09:39] Hynn01 commented on #1223
@haoxl3 I change the source code a little bit, add a createNewMeasurement2 in class RectangleRoiTool ,  new a RectangleRoiTool, and then createNewMeasurement2. I don't know whether it is the proper way to implement, but it works for me lol.

[2020-04-27 16:56] kuehlc commented on #1184
I would also appreciate a simple example if possible. I don't know about the cornerstone-viewport thing, but I just need to be able to activate stack scroll sync for any number of dicoms if possible.

[2020-04-27 18:16] dannyrb commented on #1184
Use the `onElementEnabled` hook to grab a reference to the EnabledElement. It's returned by the callback for `react-cornerstone-viewport`

What are you trying to sync? A synchronizer is really just an event handler that tracks "target elements", "source element", and has an on/off switch. So to synchronize something, listen for an event, and then based on what changed, update all (or a subset) of

[2020-04-27 18:21] kuehlc commented on #1184
@dannyrb I am trying to make it so that when I scroll through one of the dicoms stacks, all other dicoms also scroll at the same time. As a simple example with your other tools, I want to do what is shown on this page that has wwwc sync except with stack scrolling instead: https://tools.cornerstonejs.org/examples/tools/wwwc-sync.html

[2020-04-27 18:28] dannyrb commented on #1184
This event:
https://github.com/cornerstonejs/cornerstoneTools/blob/master/src/events.js#L199

`cornerstonetoolsstackscroll`  contains `direction`, which can be used with the modified element's current "stack state" to determine the new index and how much to increment/scroll the other viewports:

https://github.com/cornerstonejs/cornerstoneTools/blob/3cd6d0c567a4915606225564e148db347c63c436/src/uti

[2020-04-27 18:39] kuehlc commented on #1184
@dannyrb  `const synchronizer = new cornerstoneTools.Synchronizer(
      'cornerstoneimagerendered',
      cornerstoneTools.stackScrollSynchronizer
      // StackScrollTool
    );
    for (let i = 0; i < viewerArray.length; i++) {
      const element = document.getElementById('viewer' + i);
      dicomElements.push(element);
      synchronizer.add(element);
    }
    synchronizer.enabled = true;

[2020-04-27 18:53] dannyrb commented on #1184
It's a bit odd. Most of the `cornerstone` work isn't funded by a grant, so it's usually updated as a side-effect of needs/enhancements on projects like OHIF. I try to volunteer some of my time, but I've been a bit stretched thin these days.

I've been working on: https://ohiftraining.com/
Which has a live training piece that will hopefully help fund some of my time to clean things up. If you're in

[2020-04-27 18:55] kuehlc commented on #1184
@dannyrb Fair enough. I respect that. Once I'm done with this big project (hopefully within a month or two), I'm happy to try to help with contributions in my free time.

[2020-04-28 09:20] ryanyr commented on #1175
@dannyrb is there a fuc to clear all annotation?

[2020-04-28 10:04] dannyrb commented on #1175
@ryanyr , you could clear toolState for a specific imageId, or "restoreToolstate" to a clean slate:

https://github.com/cornerstonejs/cornerstoneTools/blob/master/src/stateManagement/imageIdSpecificStateManager.js#L115

If you're depending on measurementmodified events, I don't think this would emit them. This would only apply to imageIdSpecific managers, so it's possible you'd have some stack, fr

[2020-04-28 12:10] ryanyr commented on #1175
Thanks, it works！

[2020-05-04 01:25] sjohns0828 opened #1230 "API Docs link broken"
When I navigate to https://tools.cornerstonejs.org/api/ to view the api docs, I get a 404 error. Has the documentation been moved elsewhere?

[2020-05-04 08:56] florentinGo commented on #335
HI @Revln9, I am currently trying to implement a volume renderer using extracted data from dicom.
I already implemented a mpr viewer.
Can you give some tips or advice from your personal experience on the subject ?
You can contact me at florentin.gonthier@gmail.com.

[2020-05-04 23:57] dannyrb commented on #1230
See: https://github.com/cornerstonejs/cornerstoneTools/issues/1152

This was a simple API explorer created by parsing the libraries JS Doc. If you need a quick overview, check out index.js and lib.js in src/

[2020-05-05 00:03] #1230 closed

[2020-05-06 12:01] coertmetz opened #1231 "FusionRenderer not used when scrolling a synced stack"
### Prerequisites

* [X] Which version are you using? (Is it latest?)
* [X] Are you reporting to the correct repository?
* [X] Did you search existing issues? (Were any related?)
Related issue: https://github.com/cornerstonejs/cornerstoneTools/issues/1000

### Description

I am trying to sync two viewers for which the first uses two stacks (a background and foreground one) and the second uses a si

[2020-05-07 01:55] IamBani opened #1232 "API not found, it's 404"
https://tools.cornerstonejs.org/api/     it's 404

[2020-05-08 05:37] qqsea commented on #676
@dannyrb "enable canvases to automatically sync their active tools", what does it mean? Could you provide some examples? For example, I want tho display the circle roi within magnify tool, what should I do? Thanks very much!

[2020-05-09 13:46] #1192 closed

[2020-05-11 21:10] fourctv commented on #1232
same here

[2020-05-12 07:41] abhijeet-qure opened #1233 "Enhancement/Cobb Angle- Callback function in configuration to add custom text for rendering"
### Description
#### Feature/Enhancement request

Additional configuration to display the custom text for CobbAngle Tool.

Add the toolConfiguration as the follows

[code]

Now, with above config, UI will render like

![image](https://user-images.githubusercontent.com/61145485/81652916-0b895480-9452-11ea-96f9-377627337eef.png)

[2020-05-12 10:36] juanmed opened #1235 "Brush added but not painting"
### Prerequisites

* [x] Which version are you using? (Is it latest?)
    "cornerstone-tools": "^4.15.0",
* [x] Are you reporting to the correct repository?
* [x] Did you search existing issues? (Were any related?)
Yes, #1073 but still cannot solve the issue

### Description

Added Brush tool but painting not possible.

I should say first that I am learning to use this tool and do not have much ex

[2020-05-15 06:45] Sriram-Ananth commented on #1212
Hi Danny,

Thanks for the response and apologies for the delay in my response. Got pulled away into another project in the interim. Now am back on this and will take a look at your suggestion. Thanks again

[2020-05-17 09:40] Sriram-Ananth commented on #1212
Ok. I seem to have hit a road block. I am not I understood what you suggested.I have two doubts really...

1. When I create a custom tool do I need to rebuild cornerstoneTools.js. If this is true, then please point me towards some documentation on how exactly I should build the library.

2. If I do not require to build it again - so I use the cornerstone.js file I download from the npm site. In th

[2020-05-19 05:30] hoten01 commented on #1232
the same problem

[2020-05-25 10:29] sequba commented on #1232
+1

[2020-05-27 09:34] qqsea opened #1237 "Dynamic change mouse cursor"
### Prerequisites

* [ ] Which version are you using? (Is it latest?)
* [ ] Are you reporting to the correct repository?
* [ ] Did you search existing issues? (Were any related?)

### Description
I set tool active for three tools at the same time like pan, zoom, wwwc, for each tool the mouseButtonMask is 1, 2, 4. Now when left button of mouse down which mask is 1, the cursor is for pan, this is ri

[2020-05-27 14:58] getnsv commented on #1206
Hi dannyrb,

Am getting similar error while trying to add a angle tool data to an enabled image, please can you advise what is the solution -

Test code below:

var testtoolDataString = '{"angle":{"data":[{"visible":true,"handles":{"start":{"x":92.40628941112809,"y":109.38908238107877,"highlight":true,"active":false},"end":{"x":112.40628941112809,"y":99.64666043201174,"highlight":true,"active":fal

[2020-05-27 22:55] aledoyen commented on #1206
Just for you, if this bug is a real problem, blocking a new release or something else of your current project: You can use the 4.12.5 version of CsTools which doesn't contain this issue.
I made this temporarly because i needed to make several other features and go on another project but I dropped the idea here if it can help you during coming days.

[2020-05-29 03:13] dannyrb commented on #1206
@getnsv , you are setting the toolState to a string. It should be a plain javascript object that conforms to the expected shape.

[2020-05-29 03:14] #1206 closed

[2020-05-29 03:19] dannyrb commented on #1237
The cursor defaults to the active left click tool. We could expose the method you need in src/lib.js?

We could also update the library to set a different cursor for the other active tools when they're engaged. Although, I would want to verify that's how other viewers/editors approach this problem.

[2020-05-29 03:32] dannyrb commented on #1232
There is a related issue floating around where I call out how we generate this page, and that this issue is up for grabs.

[2020-05-30 07:58] YashJamra opened #1238 "The Document is not displayed correctly within viewport."
The Document is not displayed correctly within viewport so how can i adjust the size of document within viewport. I have tried cornerstone .fitToWindow() but it does not work for document.
Is there any way to adjust the size of document using cornerstone library?
![doc](https://user-images.githubusercontent.com/39234180/83323011-6a840180-a279-11ea-8f62-a3735c99e842.PNG)

[2020-05-30 19:00] dannyrb commented on #1238
Are you able to provide a reproduction in CodePen or CodeSandbox?

[2020-05-31 09:04] Sriram-Ananth commented on #1212
Hi Danny,

Any chance you can provide me with some pointers on how to get this done? Appreciate your time and efforts in helping all of us out.

Regards,
Sriram

[2020-06-01 09:07] lsy1998 opened #1239 "What is each of these tools inside cornerstonetools used for？"
### Prerequisites

* [ ] Which version are you using? (Is it latest?)
* [ ] Are you reporting to the correct repository?
* [ ] Did you search existing issues? (Were any related?)

### Description

### Steps to Reproduce the issue

1. When I do X
2. Then Y
3. I see behavior Z

**Expected behavior:** (What you expected to happen)

**Actual behavior:** (What actually happened)

### CodeSandbox With R

[2020-06-01 12:31] dannyrb commented on #1239
I'm unable to respond until you clarify your question and update the issue template text.

[2020-06-02 12:47] getnsv opened #1240 "Question: Does cornerstone tools support graphics module of DICOM http://dicom.nema.org/medical/dicom/current/output/chtml/part03/sect_C.10.7.html"
### Prerequisites

* [ Y] Which version are you using? (Is it latest?)
* [Y ] Are you reporting to the correct repository?
* [Y ] Did you search existing issues? (Were any related?) Y
Saw that support is given for overlayPlaneModule
https://github.com/cornerstonejs/cornerstone/issues/348
### Description

### Steps to Reproduce the issue

1. When I apply a rectangle annotation on a dicom image
2. T

[2020-06-03 03:14] cpinchuk opened #1241 "Cornerstone Angle Tool: displayed measurements are wrong"
### Prerequisites

* [The latest ] Which version are you using? (Is it latest?)
* [Yes ] Are you reporting to the correct repository?
* [ Yes] Did you search existing issues? (Were any related?)

### Description

The Angle measurement tool seems to show wrong measurement in the latest version of the software.

### Steps to Reproduce the issue

When one starts drawing the first line, the tool displ

[2020-06-03 03:31] cpinchuk commented on #1241
After inspecting the source code. There is a difference in how the angles are calculated.
The latest (Version 4.15.2 - 2020-05-29):
---
key: "updateCachedStats",
    value: function updateCachedStats(image, element, data) {
      var sideA = getSide(image, data.handles.middle, data.handles.start);
      var sideB = getSide(image, data.handles.end, data.handles.middle);
      var sideC = getSide(im

[2020-06-03 07:55] cpinchuk commented on #1241
The error seems to be just a copy paste.

Instead of :
**const sideC = getSide(image, data.handles.end, data.handles.middle);**
it must be
**const sideC = getSide(image, data.handles.end, data.handles.start);**

Please fix and update. Cheers

[2020-06-04 05:08] qqsea commented on #1237
Yes ,if the tool cursor setting api exported by src/lib.js, it will meet my requirement. Now I figured out a walk round that monitoring the mouse down and up event to  setToolActive. Here is the code snips:
mouseDown(e) {
      var mouseButton = this.getEventButtons(e.detail.event);
      if ([2, 4].indexOf(mouseButton) === -1) return;

      if (mouseButton == 2) {
        cornerstoneTools.setToo

[2020-06-04 05:08] qqsea commented on #1237
Yes ,if the tool cursor setting api exported by src/lib.js, it will meet my requirement. Now I figured out a walk round that monitoring the mouse down and up event to  setToolActive. Here is the code snips:
mouseDown(e) {
      var mouseButton = this.getEventButtons(e.detail.event);
      if ([2, 4].indexOf(mouseButton) === -1) return;

      if (mouseButton == 2) {
        cornerstoneTools.setToo

[2020-06-04 05:08] qqsea commented on #1237
Yes ,if the tool cursor setting api exported by src/lib.js, it will meet my requirement. Now I figured out a walk round that monitoring the mouse down and up event to  setToolActive. Here is the code snips:
mouseDown(e) {
      var mouseButton = this.getEventButtons(e.detail.event);
      if ([2, 4].indexOf(mouseButton) === -1) return;

      if (mouseButton == 2) {
        cornerstoneTools.setToo

[2020-06-04 05:08] qqsea commented on #1237
Yes ,if the tool cursor setting api exported by src/lib.js, it will meet my requirement. Now I figured out a walk round that monitoring the mouse down and up event to  setToolActive. Here is the code snips:
mouseDown(e) {
      var mouseButton = this.getEventButtons(e.detail.event);
      if ([2, 4].indexOf(mouseButton) === -1) return;

      if (mouseButton == 2) {
        cornerstoneTools.setToo

[2020-06-04 05:08] qqsea commented on #1237
Yes ,if the tool cursor setting api exported by src/lib.js, it will meet my requirement. Now I figured out a walk round that monitoring the mouse down and up event to  setToolActive. Here is the code snips:
mouseDown(e) {
      var mouseButton = this.getEventButtons(e.detail.event);
      if ([2, 4].indexOf(mouseButton) === -1) return;

      if (mouseButton == 2) {
        cornerstoneTools.setToo

[2020-06-04 05:08] qqsea commented on #1237
Yes ,if the tool cursor setting api exported by src/lib.js, it will meet my requirement. Now I figured out a walk round that monitoring the mouse down and up event to  setToolActive. Here is the code snips:
mouseDown(e) {
      var mouseButton = this.getEventButtons(e.detail.event);
      if ([2, 4].indexOf(mouseButton) === -1) return;

      if (mouseButton == 2) {
        cornerstoneTools.setToo

[2020-06-04 05:08] qqsea commented on #1237
Yes ,if the tool cursor setting api exported by src/lib.js, it will meet my requirement. Now I figured out a walk round that monitoring the mouse down and up event to  setToolActive. Here is the code snips:
mouseDown(e) {
      var mouseButton = this.getEventButtons(e.detail.event);
      if ([2, 4].indexOf(mouseButton) === -1) return;

      if (mouseButton == 2) {
        cornerstoneTools.setToo

[2020-06-04 05:08] qqsea commented on #1237
Yes ,if the tool cursor setting api exported by src/lib.js, it will meet my requirement. Now I figured out a walk round that monitoring the mouse down and up event to  setToolActive. Here is the code snips:
mouseDown(e) {
      var mouseButton = this.getEventButtons(e.detail.event);
      if ([2, 4].indexOf(mouseButton) === -1) return;

      if (mouseButton == 2) {
        cornerstoneTools.setToo

[2020-06-04 05:08] qqsea commented on #1237
Yes ,if the tool cursor setting api exported by src/lib.js, it will meet my requirement. Now I figured out a walk round that monitoring the mouse down and up event to  setToolActive. Here is the code snips:
mouseDown(e) {
      var mouseButton = this.getEventButtons(e.detail.event);
      if ([2, 4].indexOf(mouseButton) === -1) return;

      if (mouseButton == 2) {
        cornerstoneTools.setToo

[2020-06-04 05:08] qqsea commented on #1237
Yes ,if the tool cursor setting api exported by src/lib.js, it will meet my requirement. Now I figured out a walk round that monitoring the mouse down and up event to  setToolActive. Here is the code snips:
mouseDown(e) {
      var mouseButton = this.getEventButtons(e.detail.event);
      if ([2, 4].indexOf(mouseButton) === -1) return;

      if (mouseButton == 2) {
        cornerstoneTools.setToo

[2020-06-05 01:58] cpinchuk commented on #1182
I have created such a tool. It takes the pixel size of the object and prompts the user to enter the size in mm, then it calculates the pixelSpacing and applies it via the metadata.

[2020-06-05 08:08] cpinchuk opened #1242 "Resizing bug when AngleTool and CoobAngleTool are active"
### Prerequisites

* [ Yes] Which version are you using? (Is it latest?)
* [ Yes] Are you reporting to the correct repository?
* [ Yes] Did you search existing issues? (Were any related?)

### Description
There is a bug of resizing other annotations when either AngleTool or CobbAngleTool are selected.

The error is thrown of not being able to get 'x' property of 'undefined'

### Steps to Reproduce

[2020-06-05 16:56] lyan2000 opened #1244 "Use LabelMap in a pure 2D context"
### Prerequisites

* [X] Which version are you using? (Is it latest?) 4.15.2
* [X] Are you reporting to the correct repository? Yes
* [X] Did you search existing issues? (Were any related?)

### Description
This is a question that I'd like to ask and would appreciate some guidance.

I'd like to manage 2D masks on a stack of "unrelated" images in the sense that they are just a series of images that

[2020-06-15 02:55] cpinchuk commented on #1242
In fact, practically any tool code needs a fix on that issue. If a tool is active and one is trying to resize another annotation with it, it crashes. The reason is that the handle points differ in each tool and the render is getting the wrong data.

[2020-06-18 06:39] qqsea opened #1246 "result of calculateFreehandStatistics error"
### Prerequisites

* [ ] Which version are you using? (Is it latest?)
* [ ] Are you reporting to the correct repository?
* [ ] Did you search existing issues? (Were any related?)

### Description
I am working on the free hand statistics related value calculation, but the result seems wrong. Here is the point list.
[{"x":125,"y":190},{"x":125,"y":192},{"x":126,"y":193},{"x":126,"y":194},{"x":130,"y

[2020-06-18 08:44] qqsea opened #1247 "StackStateManager clear"
### Prerequisites

* [ ] Which version are you using? (Is it latest?)
* [ ] Are you reporting to the correct repository?
* [ ] Did you search existing issues? (Were any related?)

### Description
Could you give some idea on removing the StackStateManager 。 For example, I load a dicom list A by using addStackStateManager, and it works fine to display each image of A. But if I want to display anothe

[2020-06-19 16:04] myousefipour opened #1248 "Overlay tool shows overlays is not complete"
Hi
thanks for the excellent work.
I have a problem with the overlay show.
![1](https://user-images.githubusercontent.com/17563850/85153193-2332d480-b26b-11ea-8515-a693b3f8d3f1.png)
![2](https://user-images.githubusercontent.com/17563850/85153200-25952e80-b26b-11ea-9b05-3303343cbe71.jpg)
my overlay and my base image (512 x 512), But overlay is displayed up to 370 x 370.
These are my objects
**Overl

[2020-06-20 08:38] LexaDel opened #1250 "How can I save an object (example: ruler, rectangle and etc) in JSON and load and draw it then?"
Hey!

How can I save an object (example: ruler, rectangle and etc) in JSON and load and draw it then?

[2020-06-22 06:00] sbourouis commented on #1163
I think this may fix the issue: https://github.com/cornerstonejs/cornerstoneTools/pull/1228

[2020-06-23 02:46] cpinchuk commented on #1250
This will collect your annotations to JSON

let allROIToolData = {};
            let toolROITypes = ['EllipticalRoi', 'RectangleRoi', 'ArrowAnnotate', 'Length', 'CobbAngle', 'Angle','Bidirectional', 'FreehandRoi', 'Calibration']; // whatever the types you are using and wanting to save

            for (let i = 0; i < toolROITypes.length; i++) {

                let toolROIType = toolROITypes[i];

[2020-06-23 02:48] cpinchuk commented on #1250
This will load them.

 let allROIToolData = JSON.parse(myJSONStingData);
                for (let toolROIType in allROIToolData) {
                    if (allROIToolData.hasOwnProperty(toolROIType)) {
                        for (let i = 0; i < allROIToolData[toolROIType].data.length; i++) {
                            let toolROIData = allROIToolData[toolROIType].data[i];

[2020-06-23 09:22] jcarreno opened #1252 "Angle tool starts with 60 degrees"
### Prerequisites

* [X] Which version are you using? (Is it latest?)
* [X] Are you reporting to the correct repository?
* [X] Did you search existing issues? (Were any related?)

### Description

When I test the Angle Tool, it starts with 60 degrees and measure is not the real angle between lines. You can test it here:
https://tools.cornerstonejs.org/examples/tools/angle.html

### Steps to Reprod

[2020-06-23 10:13] #1241 closed

[2020-06-23 14:12] getnsv commented on #335
Hi @Revln9,,
I was so glad to come across this post of yours and can become a life save for cornerstone users. Currently am trying to volume render some dicom images after extraction. Please can you send your boilerplate 3d code to my email - sreevani.nagendran@gmail.com please

Very gratefully,
Sreevani

[2020-06-24 00:32] cpinchuk commented on #1252
Duplicate of #1241

[2020-06-24 00:32] cpinchuk commented on #1252
It was closed as fixed

[2020-06-24 05:57] qqsea opened #1253 "Suggestion: adding attribute 'invert' within configuration of Wwwc tool"
### Prerequisites

* [ ] Which version are you using? (Is it latest?)
* [ ] Are you reporting to the correct repository?
* [ ] Did you search existing issues? (Were any related?)

### Description
As the Y cord of html5 canvas is different from the one of other image system like desktop based application, then the window level operation is opposite to other application. If we want to change it, ind

[2020-06-24 09:22] #1239 closed

[2020-06-24 22:51] InsafJB opened #1255 "Hi everyone, I hope you are doing so well."
### Prerequisites

* [ ] Which version are you using? (Is it latest?)
* [ ] Are you reporting to the correct repository?
* [ ] Did you search existing issues? (Were any related?)

### Description

### Steps to Reproduce the issue

1. When I do X
2. Then Y
3. I see behavior Z

**Expected behavior:** (What you expected to happen)

**Actual behavior:** (What actually happened)

### CodeSandbox With R

[2020-07-02 16:14] LexaDel commented on #1250
thanks, i'll try it ))

[2020-07-04 07:37] phlong1610 commented on #1212
@Sriram-Ananth Could you help me create a `Custom Tool`? I'll try with document, but it does not working. https://tools.cornerstonejs.org/custom-tools/

[2020-07-07 03:20] tunglt1810 opened #1260 "[Ask] Minimum node version?"
In the package.json and .nvmrc file, the node version is >= 8.16.0 . But the commitizen^4.0.3, which in devDependencies, is require node version >= 10. This different makes deploy preview process in my [PR](https://github.com/cornerstonejs/cornerstoneTools/pull/1134) has failed
![image](https://user-images.githubusercontent.com/19906349/86700058-fa685880-c03a-11ea-945e-148109b47bc5.png)

But some

[2020-07-07 10:04] QeassureGitHub opened #1261 "jblj"
### Prerequisites

* [y ] Which version are you using? (Is it latest?)
* [y ] Are you reporting to the correct repository?
* [n ] Did you search existing issues? (Were any related?)

### Description

### Steps to Reproduce the issue

1. When I do X
2. Then Y
3. I see behavior Z

**Expected behavior:** (What you expected to happen)

**Actual behavior:** (What actually happened)

### CodeSandbox Wit

[2020-07-07 10:18] QeassureGitHub opened #1262 "How to clear the length tool and ellipsoid tool marks on click?"
### Prerequisites

* [x] Which version are you using? (Is it latest?)
* [x] Are you reporting to the correct repository?
* [ ] Did you search existing issues? (Were any related?)

### Description

I want to clear the selected mark which is done by tools on select. Now,  I  am using **clearToolstate** API. It will clear all the markings done by tools.
`cornerstoneTools.clearToolState(this.element,

[2020-07-08 05:07] QeassureGitHub opened #1264 "Is there any option to change the color of marks which are drawn by tools like length, textmarker?"
### Prerequisites

* [x ] Which version are you using? (Is it latest?)
* [ x] Are you reporting to the correct repository?
* [ ] Did you search existing issues? (Were any related?)

### Description

I need to change the color of the marks which are drawn by tools.

### CodeSandbox With Reproduction of Issue:

- [Basic Template](https://codesandbox.io/s/cornerstone-basic-issue-template-9slk4)

[2020-07-08 07:00] QeassureGitHub opened #1265 "Is there any option to change the units which are displayed in marks ?"
### Prerequisites

* [x] Which version are you using? (Is it latest?)
* [x] Are you reporting to the correct repository?
* [ ] Did you search existing issues? (Were any related?)

### Description

I want to change the units in the length or angle marks by using cornerstone tools. It happens while using image loader.

### Steps to Reproduce the issue

1. When I do length tool mark
2. I see the unit

[2020-07-12 13:07] krishnauppili commented on #335
Hi @Revln9 ,
Currently I have used cornerstone tools for scroll, zoom and measurements and I want to integrate 2D/3D MPR in the same. Could you please send your code to krishna.uppili96@gmail.com for reference?

[2020-07-12 13:08] krishnauppili commented on #335
Hi @Revln9 ,
Currently I have used cornerstone tools for scroll, zoom and measurements and I want to integrate 2D/3D MPR in the same. Could you please send your code to krishna.uppili96@gmail.com for reference?

[2020-07-12 13:22] krishnauppili commented on #435
Hi @swederik ,

Is there any update on adding basic orthogonal MPR to cornerstoneTools?

[2020-07-13 10:09] najimhashgraph commented on #1162
Hi @jaizz2003,

I have the same issues, and need also Reference line tools and synchronizing series. I want to use ohif in a multireader study, the radiologist need this to make a good assessment otherwise it creates big limitations. Can you help me? Do you have an instance i can fork or a roadmap how to implement this?
I hope you can help me.

Thank you in advance.

Greetings,

Najim

[2020-07-19 22:06] LexaDel commented on #1265
i'm intresting too

[2020-07-20 08:28] nguyenquang0601 opened #1268 "Can you change strategy?"
## I can't change stategy of ActiveScissorTool
- ActiveScissorTool.changeStrategy('FILL_OUTSIDE') not working
- Help me!! thanks
![image](https://user-images.githubusercontent.com/54145352/87916460-aaa77980-ca9d-11ea-8ffd-9db566caeb0c.png)

[2020-07-23 14:39] jaizz2003 commented on #1162
Hi @najimhashgraph,
To achieve this task, I used CornerstoneTools [https://github.com/cornerstonejs/cornerstoneTools](url) project as an extension and updated it as all the basic/advanced tools in OHIF viewer are taken from that project itself. In that project's src/tools, you will have SeriesSyncTool.js and in src/synchronisation there is another file named Synchroniser. These two files are requi

[2020-07-23 18:08] sinanmb commented on #1162
@jaizz2003 for reference lines you can checkout this solution https://github.com/OHIF/Viewers/pull/1482

@jaizz2003, thank you for providing more information on how to implement synchronization. Do you mind sharing your `SeriesSyncTool.js` files with us please?
In your cone snippet above, I'm not sure what the handler method should do.

[2020-07-24 04:49] irconde opened #1269 "Creating custom BaseAnnotationTool to render a rect"
Hi. I'm trying to create a simple custom tool to render a rectangle. I created a class that extends BaseAnnotationTool, and I defined the 'draw' method, but the rectangle is not displayed yet. I would really appreciate if you could provide me some direction.  Thanks in advance.

[code]

[2020-07-24 14:44] JamesAPetts commented on #1172
Believe this is resolved in 4.19.1, would be great if y'all could check!

[2020-07-28 08:24] milosdjurdjevic opened #1272 "Localization support"
### Prerequisites

* [x] Which version are you using? (Is it latest?)
* [x] Are you reporting to the correct repository?
* [x] Did you search existing issues? (Were any related?)

### Description
Currently, there is no support for localization or multilanguage. As this is an international project, could we expect something in the near future?

[2020-07-29 08:44] Cloud622 opened #1273 "How to hide the reference line"
As shown in the figure
![QQ图片20200729164215](https://user-images.githubusercontent.com/68945792/88778082-a294bb80-d1ba-11ea-997b-1b386132a72b.png)

[2020-07-29 13:55] pablovegaimexhs opened #1274 "Is it possible to add custome and update it using text market tool?"
### Description

I want to know if it is possible use the Text Marker tool to add custome annotations and if you can edit this custome annotaions.

**Actual behavior:** (What actually happened)

https://tools.cornerstonejs.org/examples/tools/text-marker.html

**Expected behavior:**
![image](https://user-images.githubusercontent.com/67170659/88808739-dea72c80-d178-11ea-8392-39342dbd3e47.png)

![ima

[2020-08-02 18:12] najimhashgraph commented on #1162
Hi @jaizz2003 ,

Thank you for sharing your approach.
I can also not find the file SeriesSyncTool.js in cornerTools, is it possible to share it or can i find it in an other location?

Thanx,

Najim

[2020-08-03 13:59] getnsv opened #1276 "Question: Is it possible to get the bounding box on a freehandroi drawing on an image and change its coordinates?"
### Prerequisites

* [4.15 ] Which version are you using? (Is it latest?)
* [ Y] Are you reporting to the correct repository?
* [ Y] Did you search existing issues? (Were any related?)
Nothing was related, it was about changing one of the points whilst still drawing. But my scenario is that user has drawn the freehandroi tool on an image, have serialized its state. Then rendered back again. Now th

[2020-08-03 22:11] brunoalvesdefaria commented on #745
This issue is related to https://github.com/cornerstonejs/cornerstone/issues/474

[2020-08-03 22:55] brunoalvesdefaria opened #1277 "Keep annotations inside displayedArea"
Currently, when an image is cropped using `displayedArea`s `tlhc` (top left hand corner) and `brhc` (bottom right hand corner) attributes, the user will be allowed to move handles outside the displayed area even when `deleteIfHandleOutsideImage` or/and `preventHandleOutsideImage` flags are set to `true`.

### The problem
In the current `CornerstoneTools`' implementation, those `tlhc` and `brhc` at

[2020-08-03 23:53] brunoalvesdefaria opened #1279 "Inconsistency between fontSize and font in textStyle API"
Currently, the `cornerstoneTools.textStyle` API has inconsistency between the current `fontSize` and `font` internal variables.

### The problem

In the current `CornerstoneTools`' implementation, the `textStyle` API use [defaultFontSize](https://github.com/cornerstonejs/cornerstoneTools/blob/fc4495ca288bd38f34699d94f84b274a7c8d4bfa/src/stateManagement/textStyle.js#L1) and [defaultFont](https://gi

[2020-08-04 13:16] brunoalvesdefaria opened #1281 "Allow text boxes to be repositioned before drawing"
Currently it's only possible to change the `textBox`'s position before drawing it if we change the handle position itself.

### The problem
In the current `CornerstoneTools`' implementation, we only have access to the bounding box information after the rendering is completed.
As we have only the information of the `textBox`'s handle coordinates, this allows poor control over its positioning, speci

[2020-08-04 17:53] LexaDel commented on #1250
@cpinchuk Hello! Maybe you know, how to save Brush tool? I suggest, I can save only ROI tools?

[2020-08-04 22:14] LadislavBohm commented on #1265
As far as I understand in order to show mm instead of pixels you need to provide row pixel spacing and/or column pixel spacing values. They should be automatically parsed from DICOM file if they are present in correct tag.
If you are loading pure image or DICOM file that does not have them, you should be able to provide your own implementation using Metadata Provider. They are described in documen

[2020-08-04 23:37] LadislavBohm opened #1284 "Using restoreImageIdToolState does not respect current pixel spacing"
### Prerequisites

* [x] Which version are you using? (Is it latest? - yes)
* [x] Are you reporting to the correct repository?
* [x] Did you search existing issues? (Were any related? - no)

### Description

I am persisting tool states using saveImageIdToolState and then restoring them using restoreImageIdToolState. It works great until there is a change of pixel spacing between these two operatio